.carousel-wrap{
  position: relative;
}
.carousel {
  background: none;
  @media @from-tablet-portrait {
    padding: @grid-small 0 @grid-small @m-grid;
  }
  .carousel-wrap & {
    padding-top: 40px;

    @media @from-tablet-portrait {
      padding-top: @grid-small;
    }
    .slick-prev, .slick-next {
      top: 40px;
    }
  }
  @media @desktop-only {
   .slick-slide:not(.slick-active) {
      position: relative;
      opacity: 0.2;
      &:before {
        content: '';
        position: absolute;
        background: rgba(0,0,0,0.7);
        z-index: 2;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
      }
    }
  }

  .item {
    max-width: 360px;
    margin: 0 @m-grid;
    @media @from-tablet-portrait {
      width: auto;
      margin: 0 @m-grid;
    }
  }
}
.media-carousel-wrap {
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.media-carousel {
  .item {
    display: inline-block;
    margin: 0 @grid;
  }
  a {
    vertical-align: middle;
  }
  img {
    max-width: 120px;
    height: auto;
  }

  @media @from-tablet-portrait {
    .item {
      margin: 0 @m-grid;
    }

  }
}