#header {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background: white;
  .logo {
    max-width: 135px;
    float: left;
    @media @from-mobile {
      margin-top: 3px;
    }
  }
  .top-header {
    background: #5c626a;
    font-size: 13px;
    padding: 10px 0;
    overflow: hidden;
    .inner-top {
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 @grid;
    }
    .top-nav {
      .calc(margin-left, "135px + 30px"); // width of logo and margin-left of global-nav
      li {
        padding: 0 40px 0 0;
        @media @tablet-only {
          padding-right: 30px;
        }
      }
    }
    .top-nav-right {
      float: right;
      li {
        padding: 0 0 0 40px;
        @media @tablet-only {
          padding-left: 30px;
        }
        &:first-child {
          padding-left: 0;
        }
      }
    }
    .top-nav, .top-nav-right {
      li {
        float: left;

        a {
          color: rgba(255,255,255,0.5);
          font-size: 1em;
          position: relative;
          .transition(all 0.3s);
          .no-touch.desktop & {
            &:hover {
              color: white;
            }
          }
          &.active{
            color: white;
            &:after {
              content: '';
              width: 0px;
              height: 0px;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 5px solid white;
              display: inline-block;
              position: absolute;
              bottom: -9px;
              left: 50%;
              margin-left: -5px;
            }
          }
        }
      }
    }
  }
  .inner-header {
    background: #95c848;
    .content {
      .clearfix();
      max-width: 1300px;
      margin: 0 auto;
      padding: @grid-small @grid 0;
      @media @from-tablet-portrait {
        padding: @m-grid-small @m-grid;
      }
    }
  }
}
