.default-tab {
  .col {
    display: inline-block;
    margin: 0 25px;
    padding: 30px;
    @media @from-tablet-portrait {
      &:first-child {
        margin-left: 0;
      }
    }
    @media @from-mobile-portrait {
      margin: 0 5px;
    }
  }
  // a {
  //   padding: @grid-small 50px;
  //   background-color: #dedede;
  //   display: block;
  //   color: white;
  //   text-align: center;
  //   &.active {
  //     background-color: #95c848;
  //   }
  //   .no-touch.desktop & {
  //     &:hover {
  //       background-color: #95c848;
  //     }
  //   }
  // }
  
  text-align: center;
  margin: 90px 0 @grid;
}


.services-tab {
  border-collapse:separate;
  border-spacing: 15px;
  .col {
    display: table-cell;
    background-color: #ededed;
    padding: 30px;
    width: 25%;
    white-space: normal;
    vertical-align: middle;
    text-align: center;
    a {
      color: white;
    }
    &.active {
      background-color: #95c848;
      a {
        color: black;
      }
    }
    .no-touch.desktop & {
      &:hover {
        background-color: #95c848;
        a {
          color: black;
        }
      }
    }
  }
}
[data-tab-header] {
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

[data-tab-content]{
  .inner.active {
    display: block;
  }
  .inner {
    display: none;
  }
}