.default-tab {
  .col {
    display: inline-block;
    margin: 0 25px;
    padding: 20px 40px 10px;
    background-color: #ededed;
    @media @from-tablet-portrait {
      &:first-child {
        margin-left: 0;
      }
    }
    @media @from-mobile-portrait {
      margin: 0 5px;
    }
    h3 {
      color: white;
    }
    &.active {
      background-color: #95c848;
      h3 {
        color: black;
      }
    }
    .no-touch.desktop & {
      &:hover {
        background-color: #95c848;
        h3 {
          color: black;
        }
      }
    }
  }
  text-align: center;
  margin: 90px 0 @grid;
}


.services-tab {
  border-collapse:separate;
  border-spacing: 15px 0;
  .col {
    display: table-cell;
    background-color: #d2d2d2;
    padding: @grid;
    width: 25%;
    min-width: 200px;
    white-space: normal;
    vertical-align: middle;
    text-align: center;
    h3 {
      color: white;
    }

    @media @from-tablet-portrait {
      padding: @grid-small;
    }
    &.active {
      background-color: #95c848;
      h3 {
        color: black;
      }
    }
    .no-touch.desktop & {
      &:hover {
        background-color: #95c848;
        h3 {
          color: black;
        }
      }
    }

    &.blue {
      &.active {
        background-color: @blue-color;
        
      }
      .no-touch.desktop & {
        &:hover {
          background-color: @blue-color;
        }
      }

    }
  }
  .magazine {
    h3 {
      .no-touch.desktop & {
        &:hover {
          color: @blue-color;
        }
      }
    }
  }
}
.services-tab.magazine {
  .col {
    padding: 0;
  }
}
[data-tab-header] {
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

[data-tab-content]{
  > .inner.active {
    display: block;
  }
  > .inner {
    display: none;
  }
}

[data-tab-content].magazine-tab-content {
  @media @from-tablet-portrait {
    .row {
      text-align: center;
    }
  }
}