extends ../../../layouts/layout

block vars
  -title = '7 Amazing Benefits Of Oregano Essential Oil'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white WHATS-IN
          .content-header.mar-top
            span.title.light.txt-black 7 Amazing Benefits Of Oregano Essential Oil
            span.title-3.light.txt-black.mar-left By: OrganicFacts Translated by: Food Focus Thailand Magazine

          .content-body
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_04.jpg').mar-top-md.mar-bot-md
            p.text-medium 
              b 7 คุณประโยชน์อัศจรรย์...น้ำมันหอมระเหยออริกาโน
            p.text-medium.mar-top หลายคนรู้จักออริกาโนในฐานะที่เป็นพืชสมุนไพรยอดนิยมชนิดหนึ่งซึ่งใช้เป็นเครื่องเทศที่ช่วยเพิ่มกลิ่นรสให้กับอาหาร อันที่จริงออริกาโนยังจัดเป็นพืชสมุนไพรประเภทไม้ล้มลุกที่มีอายุหลายปี มีชื่อทางวิทยาศาสตร์ว่า Origanum vulgare โดยเป็นพืชที่มีประโยชน์ต่อสุขภาพมากทีเดียว ลักษณะของต้นออริกาโนมีความใกล้เคียงกับมินท์ และจัดเป็นพืชในตระกูลเดียวกับสะระแหน่ ดังนั้น พืชตระกูลดังกล่าวจึงมีสารประกอบอินทรีย์ที่เหมือนกันและมีประโยชน์ต่อสุขภาพหลายอย่างที่คล้ายกัน โดยชิ้นส่วนของต้นออริกาโนที่นิยมนำมาใช้ประโยชน์ก็คือใบ แต่ก็น่าแปลกที่เมื่อนำใบมาทำแห้งแล้ว ความหอมและกลิ่นรสของมันกลับอ่อนลงเมื่อเทียบกับใบสด ซึ่งผิดจากสมุนไพรทั่วไป
            p.text-medium.mar-top 
              b น้ำมันหอมระเหยออริกาโนได้มาอย่างไร
            p.text-medium น้ำมันหอมระเหยออริกาโนมีการนำมาใช้ครั้งแรกในสมัยกรีกโบราณเนื่องจากมีคุณสมบัติในการทำลายเชื้อและมีฤทธิ์ต้านเชื้อแบคทีเรีย จึงได้รับการยอมรับให้นำมาใช้เพื่อรักษาอาการติดเชื้อจากแบคทีเรียบริเวณผิวหนังหรือบาดแผล และยังมีการนำไปใช้เพื่อป้องกันอาหารเน่าเสียจากเชื้อแบคทีเรียอีกด้วย น้ำมันหอมระเหยดังกล่าวนี้สกัดได้จากใบออริกาโนสดโดยใช้กระบวนการกลั่นด้วยไอน้ำและได้สารออกฤทธิ์สำคัญหลายชนิด ได้แก่ คาร์วาครอล ไธมอล ไซมีน แคริโอฟิลลีน ไพนีน ไบซาโบลีน ไลนาโลออล บอนีออล เจอรานิลอะซีเทต ไลนาลิลอะซีเทต และเทอร์พินีน ทั้งนี้ สารสกัดน้ำมันหอมระเหยออริกาโนสามารถนำมาใช้ประโยชน์อื่นๆ ได้อีกหลายรูปแบบเช่นกัน โดยเฉพาะการบำบัดด้วยกลิ่นหอมซึ่งถือเป็นวิธีที่ได้รับความนิยมมายาวนานกว่าทศวรรษเลยทีเดียว และคุณเองก็สามารถนำมาใช้ได้ไม่ว่าจะเป็นการทาที่ผิวโดยตรงหรือใช้คู่กับน้ำมันมะพร้าวเพื่อช่วยฟื้นบำรุงสภาพผิวให้ดียิ่งขึ้น และสุดท้ายสามารถนำมารับประทานในรูปแบบของผลิตภัณฑ์เสริมอาหารซึ่งจะกินในปริมาณเพียงเล็กน้อยเท่านั้น หรือเจือจางกับน้ำผึ้งหรือผสมในเครื่องดื่มทั่วไป
            p.text-medium.mar-top
              a(href="http://www.foodfocusthailand.com/click.php?id=18JAN_content11")
                b Full article (TH-EN) 


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12
          .col-sm-12
            h2.title Other Articles
          .col-md-12.col-sm-6
            .content-item
              +life-stage('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_02.jpg', 'Food Defense', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2018/jan/food-defense.html')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/2_nov.jpg', 'Food Industry in Germany', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2017/nov/food-industry.html')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_01.jpg', 'Snack Trends', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2018/jan/snack-trends.html')

      