extends ../../../layouts/layout

block vars
  -title = 'Foods from Chile “The Bounty of Our Land Delivered to Your Table”'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white WHATS-IN
          .content-header.mar-top
            span.title.light.txt-black Foods from Chile “The Bounty of Our Land Delivered to Your Table”
            span.title-3.light.txt-black.mar-left By: กรมส่งเสริมการค้าชิลี ProChile 

          .content-body
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_05.jpg').mar-top-md.mar-bot-md
            p.text-medium 
              b อาหารจากประเทศชิลี: อาหารจานโปรดจากแผ่นดินของเรา ส่งตรงถึงโต๊ะท่าน
            p.text-medium.mar-top รัฐบาลชิลีเลือกประเทศไทยเป็นประเทศแรกในการริเริ่มแคมเปญ "อาหารจากประเทศชิลี (Foods from Chile) อาหารจานโปรดจากแผ่นดินของเรา ส่งตรงถึงโต๊ะท่าน" แคมเปญนี้จัดขึ้นเพื่อส่งเสริมการค้าด้านอาหารและไวน์ของประเทศในแถบละตินอเมริกาในภูมิภาคเอเชียและละตินอเมริกา โดยเปิดตัวครั้งแรกที่ประเทศไทย และเดินทางต่อไปยังประเทศจีน โคลอมเบีย และบราซิล 
            p.text-medium.mar-top เอกอัครราชทูตชิลี คริสเตียน เรเรน ที่เพิ่งได้รับแต่งตั้งเมื่อเร็วๆ นี้ ได้อธิบายเหตุผลที่เลือกประเทศไทยเป็นประเทศแรกในโลกเพื่อริเริ่มโครงการนี้ว่า เนื่องจากไทยเป็นประเทศคู่ค้าที่สำคัญที่สุดของชิลีด้านการค้าการลงทุน และการท่องเที่ยว 
            p.text-medium.mar-top "นับเป็นช่วงเวลาที่น่าตื่นเต้นสำหรับความสัมพันธ์ทวิภาคีของไทยและชิลี เนื่องจากความหลากหลายและความแตกต่างของทั้งสองประเทศ และการซื้อขายระหว่างประเทศ ตลอดจนความร่วมมือทางการค้า ระหว่างปี 2556 การส่งออกด้านอาหารของชิลีมีมูลค่ามากกว่า 100 ล้านเหรียญสหรัฐ โดยเป็นกลุ่มสินค้าอาหารทะเล ปศุสัตว์ และไวน์ ในขณะที่ยอดจำหน่ายรถบรรทุกและรถยนต์ของประเทศไทยรวมมูลค่า 400 ล้านเหรียญสหรัฐ แคมเปญอาหารจากประเทศชิลีซึ่งจัดขึ้นเป็นครั้งแรกในประเทศไทยนี้เป็นส่วนหนึ่งของกระบวนการที่หล่อเลี้ยงจิตวิญญาณของเราได้ดีที่สุด" เอกอัครราชทูตชิลี คริสเตียน เรเรน กล่าว 
            p.text-medium.mar-top "ชิลีสืบทอดมรดกที่ดีที่สุดจากโลกใหม่และเก่า ผลิตภัณฑ์ทางการเกษตรที่ได้รับความนิยมหลายประเภท เช่น ข้าวโพด มันฝรั่ง มะเขือเทศ และอะโวคาโด ผสานกับการเพาะปลูกพืชและเลี้ยงสัตว์ โดยชาวสเปนที่อพยพไปชิลีในศตวรรษที่ 16 เป็นวิธีที่เราเริ่มต้นผลิตองุ่นและไวน์ มะกอกและน้ำมันมะกอก เนื้อวัว แอปเปิ้ลและเชอร์รี่ โดยสังเขป" มร.ดีเอโก้ โอเซส ผู้อำนวยการฝ่ายการพาณิชย์ชิลี กรมส่งเสริมการส่งออกชิลี สถานทูตชิลี กล่าว
            p.text-medium.mar-top
              b ความคืบหน้าของเขตการค้าเสรีระหว่างประเทศไทย-ชิลี
            p.text-medium ชิลีและไทยได้ลงนามในข้อตกลงเขตการค้าเสรี ซึ่งมีผลบังคับใช้ในเดือนพฤศจิกายน 2558 ซึ่งได้กลายเป็นสนธิสัญญาที่ 5 ของชิลีที่ลงนามกับประเทศในอาเซียน ต่อจากประเทศสิงคโปร์ บรูไน มาเลเชีย และเวียดนาม
            p.text-medium.mar-top ‎ในข้อตกลงเขตการค้าเสรีระหว่างไทย-ชิลี ไม่มีข้อยกเว้นและสินค้าทุกประเภทที่ระบุไว้ในข้อตกลงจะปลอดภาษีภายในระยะเวลา 8 ปี ผลิตภัณฑ์จากชิลีที่ได้รับการยกเว้นภาษีทันทีหลังการลงนามในข้อตกลงฯ ได้แก่ อะโวคาโด ถั่ว ลูกเกด นมข้นหวาน เนื้อวัว เนื้อไก่ เนื้อหมู กระดาษและกระดาษลัง แคโทดและทองแดง ส่วนผลิตภัณฑ์ของไทย ได้แก่ น้ำมัน ก๊าซธรรมชาติ รถยนต์ รถตู้ สับปะรดกระป๋อง และอื่นๆ ในเดือนมกราคม 2561 สินค้าทั้ง 250  รายการนี้จะได้รับการยกเว้นภาษีระหว่าง 2 ประเทศนี้
            p.text-medium.mar-top
              a(href="http://www.foodfocusthailand.com/click.php?id=18JAN_content5")
                b Full article (TH-EN) 


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12
          .col-sm-12
            h2.title Other Articles
          .col-md-12.col-sm-6
            .content-item
              +life-stage('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_02.jpg', 'Food Defense', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2018/jan/food-defense.html')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_01.jpg', 'Snack Trends', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2018/jan/snack-trends.html')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_04.jpg', '7 Amazing Benefits Of Oregano Essential Oil', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2018/jan/7-amazing-benefits.html')

      