extends ../../../layouts/layout

block vars
  -title = 'Food Defense'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white WHATS-IN
          .content-header.mar-top
            span.title.light.txt-black Food Defense
            span.title-3.light.txt-black.mar-left By: ธวัฒน์ชัย ขำวิจิตราภรณ์ Consultant, MT Operation Co., Ltd.

          .content-body
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_02.jpg').mar-top-md.mar-bot-md
            p.text-medium 
              b การป้องกันการก่อการร้ายในธุรกิจอาหาร 
            p.text-medium.mar-top การเตรียมความพร้อมของผู้ประกอบการและผู้ที่เกี่ยวข้องในธุรกิจอาหารที่เกี่ยวข้องกับการป้องกันการก่อการร้ายในธุรกิจอาหารควรครอบคลุมทุกภาคส่วนของกิจกรรมที่เกี่ยวข้องตลอดห่วงโซ่อาหารของมนุษย์ การผลิตอาหารสัตว์ รวมถึงการผลิตบรรจุภัณฑ์ที่ใช้บรรจุอาหาร โดยมีแนวทางที่สำคัญก็คือการทำความเข้าใจและการให้ความสำคัญกับประเด็นปัญหาการก่อการร้ายในธุรกิจอาหาร และการพิจารณาถึงผลกระทบและมูลเหตุสำคัญของการเกิดการก่อการร้าย ตลอดจนร่วมกันพิจารณาหาแนวทางการป้องกัน หรือแนวทางการแก้ไขรวมถึงมาตรการตอบโต้อย่างเหมาะสมกับสถานการณ์ที่เกิดขึ้นจริง
            p.text-medium.mar-top การป้องกันการก่อการร้ายในธุรกิจอาหารของประเทศไทย โดยกระทรวงสาธารณสุข ได้จัดตั้งศูนย์ปฏิบัติการความปลอดภัยด้านอาหารขึ้นในปี 2552 โดยความร่วมมือกับประเทศสหรัฐอเมริกา และได้กำหนดแผนการดำเนินงานไว้แล้ว แต่สำหรับการเตรียมพร้อมของผู้ประกอบการด้านธุรกิจอาหารในทุกภาคส่วน จำเป็นต้องเตรียมความพร้อมในการรับมือถึงผลกระทบซึ่งเกิดจากการก่อการร้ายในธุรกิจอาหาร และเตรียมรับมือเพื่อกำหนดแนวทางการตอบโต้และการเฝ้าระวังเพื่อป้องกันการเกิดสถานการณ์ที่ต้องสงสัยอันสุ่มเสี่ยงต่อการก่อการร้ายในธุรกิจอาหาร ซึ่งในประเด็นนี้ระบบการควบคุมและป้องกันการก่อการร้ายในธุรกิจอาหารจะมีความแตกต่างจากระบบการจัดการด้านความปลอดภัยในอาหาร เช่น ระบบการวิเคราะห์อันตรายและการกำหนดจุดควบคุมวิกฤติ (HACCP) และเพื่อให้เรารู้จักและทำความเข้าใจถึงประเด็นปัญหาด้านการก่อการร้ายในธุรกิจอาหาร จึงควรทำความเข้าใจถึง มูลเหตุและผลกระทบของการก่อการร้ายที่อาจเกิดขึ้นในธุรกิจอาหาร กันก่อน  
            p.text-medium.mar-top 
              b แนวทางการดำเนินการเพื่อควบคุมสถานการณ์การก่อการร้ายในธุรกิจอาหารการดำเนินการในระยะที่ 1
            p.text-medium.mar-top ผู้บริหารทุกระดับขององค์กรจำเป็นต้องทำความเข้าใจถึงผลกระทบของการก่อการร้ายในธุรกิจอาหาร และทำการตรวจสอบสภาพแวดล้อมของการทำงานเพื่อทำการประเมินสถานการณ์ที่อาจเข้าข่ายเป็นประเด็นการก่อการร้ายในธุรกิจอาหารและนำมาสืบสวนหาสาเหตุและแรงจูงใจของกระทำดังกล่าวของกลุ่มบุคคลที่ต้องสงสัยว่ามีพฤติกรรมสุ่มเสี่ยงต่อการก่อการร้ายในธุรกิจอาหาร 
            p.text-medium.mar-top
              b การดำเนินการในระยะที่ 2
              span ผลจากการดำเนินการในระยะที่หนึ่ง องค์กรควรพิจารณาแต่งตั้งคณะทำงานโดยคัดเลือกตัวแทนจากผู้บริหารและอาจจำเป็นต้องมีผู้เชี่ยวชาญในการวิเคราะห์สถานการณ์การก่อการร้าย โดยคณะทำงานนี้มีหน้าที่ในการพิจารณาข้อมูลจากการสำรวจข้อมูล และการพิจารณาหาความเสี่ยงจากการกระทำอันต้องสงสัยที่อาจเกิดขึ้นได้ในแต่ละขั้นตอนของกระบวนการทำงานต่างๆ ในองค์กรเพื่อประเมินถึงบริเวณพื้นที่เสี่ยง หรือการตรวจพบกิจการอันต้องสงสัยที่อาจเกิดการก่อการร้ายขึ้นได้ 
            p.text-medium.mar-top 
              b การดำเนินการในระยะที่ 3
              span การพิจารณากำหนดมาตรการควบคุมหรือแนวทางการป้องกัน
            p.text-medium.mar-top 
              b การดำเนินการในระยะที่ 4
              span เมื่อคณะทำงานและผู้เชี่ยวชาญได้ร่วมกันพิจารณาถึงมาตรฐานควบคุมที่เหมาะสมแล้วจำเป็นต้องสื่อสารมาตรฐานควบคุมต่างๆ ให้กับผู้ปฏิบัติงานและผู้ที่เกี่ยวข้องรับทราบ และทำความเข้าใจถึงหลักการและเหตุผลของการดำเนินงานตามมาตรการที่ได้กำหนดไว้เป็นมาตรฐาน 
            p.text-medium.mar-top 
              b การดำเนินการในระยะที่ 5
              span คณะทำงานและผู้เชี่ยวชาญได้กำหนดแนวทางการเฝ้าระวังตรวจสอบถึงการบังคับใช้มาตรการควบคุมต่างๆ และจำเป็นต้องมีการกำหนดมาตรการการเฝ้าระวังมาตรการการตรวจสอบมาตรฐานการแก้ไข      และอาจรวมถึงการซักซ้อมมาตรการตอบโต้กรณีเกิดเหตุที่ต้องสงสัย
            p.text-medium.mar-top 
              b การดำเนินการในระยะที่ 6
              span คณะทำงานและผู้เชี่ยวชาญจะมีการนำเสนอผลการดำเนินงานต่อผู้บริหารสูงสุดเพื่อพิจารณาถึงผลการดำเนินงานที่เกิดขึ้นและดำเนินการพิจารณาความเหมาะสมของมาตรการควบคุมต่างๆ ที่องค์กรมีการประยุกต์ใช้


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12
          .col-sm-12
            h2.title Other Articles
          .col-md-12.col-sm-6
            .content-item
              +life-stage('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_01.jpg', 'Snack Trends', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2018/jan/snack-trends.html')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/2_nov.jpg', 'Food Industry in Germany', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2017/nov/food-industry.html')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/4_nov.jpg', 'Russian Market: “Free From” Food Tren', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2017/nov/free-from.html')

      