extends ../../../layouts/layout

block vars
  -title = 'Ensuring Consumer Safety and Brand Protection'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white WHATS-IN
          .content-header.mar-top
            span.title.light.txt-black Ensuring Consumer Safety and Brand Protection
            span.title-3.light.txt-black.mar-left By: Mettler-Toledo (Thailand) Limited 
          .content-body
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_03.jpg').mar-top-md.mar-bot-md
            p.text-medium 
              b การสร้างความมั่นใจในความปลอดภัยของผู้บริโภคและการปกป้องแบรนด์
            p.text-medium.mar-top 
              b เน้นความปลอดภัยของผู้บริโภคเป็นสำคัญ
            p.text-medium ในการป้องกันอันตรายที่อาจเกิดขึ้นกับผู้บริโภคและปกป้องภาพลักษณ์ของแบรนด์ ผู้ผลิตควรใส่ใจคุณภาพในกระบวนการผลิตอย่างจริงจัง ผ่านการวิเคราะห์จุดควบคุมวิกฤติ (CCP) และมาตรการป้องกัน บริษัทยังต้องใส่ใจกระบวนการตรวจจับสิ่งปนเปื้อนเพื่อให้มั่นใจว่าสินค้าที่ดีที่สุดจะถูกส่งถึงมือผู้บริโภค ผู้บริโภคต้องรับรู้ได้อย่างชัดเจนว่าสินค้าที่ส่งถึงมือนั้นมีคุณภาพดีที่สุด 
            p.text-medium.mar-top 
              b สินค้าต่างชนิดในแพ็คเกจที่แตกต่างกัน
            p.text-medium การผลิตแพ็คเกจสินค้าในรูปแบบและขนาดต่างๆ ผู้ผลิตจะต้องมีศักยภาพในการตรวจจับสิ่งปนเปื้อนในสินค้าได้ผ่านอลูมิเนียมฟอยล์ และจะต้องมีเครื่องมือในการเร่งกระบวนการผลิตให้รวดเร็วขึ้นและยังมีความยืดหยุ่นคล่องตัวในการเปลี่ยนแปลงชนิดของสินค้าได้ ดังนั้น เครื่องตรวจสอบสินค้าที่ผู้ผลิตเลือกใช้จำเป็นจะต้องมีคุณสมบัติเหล่านี้
            p.text-medium.mar-top 
              b เครื่องมือที่ถูกต้อง
            p.text-medium เครื่องเอ็กซเรย์รุ่นใหม่1 ซึ่งมีช่องทางการตรวจจับสินค้าหลายช่อง เป็นเครื่องมือที่สมบูรณ์แบบ โดยสินค้าจากไลน์การผลิตที่มีแพ็คเกจต่างกันสามารถเดินผ่านเครื่องเอ็กซเรย์1 ได้พร้อมกันผ่านช่องตรวจสอบ 2 ช่องที่แยกกัน เครื่องชนิดนี้ยังสามารถตรวจจับและคัดแยกสินค้าที่มีการปนเปื้อนออกจากไลน์การผลิตผ่านทางชุดสายพานที่ทิ้งสินค้าลงมาในถังสินค้าไม่ผ่านเกณฑ์ซึ่งตั้งอยู่ใต้สายพานตรวจสอบ กระบวนการนี้ถูกออกแบบมาพร้อมกับระบบความปลอดภัยที่มีเพียงบุคลากรที่ได้รับอนุญาตเท่านั้น เช่น การประกันคุณภาพที่จะสามารถจัดการกับสินค้าที่ไม่ผ่านการตรวจสอบ และทำการประเมินในขั้นตอนที่ละเอียดขึ้นต่อไป
            p.text-medium.mar-top
              a(href="http://www.foodfocusthailand.com/click.php?id=18JAN_content12")
                b Full article (TH-EN) 

        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12
          .col-sm-12
            h2.title Other Articles
          .col-md-12.col-sm-6
            .content-item
              +life-stage('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_01.jpg', 'Snack Trends', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2018/jan/snack-trends.html')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_02.jpg', 'Food Defense', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2018/jan/food-defense.html')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/4_nov.jpg', 'Russian Market: “Free From” Food Tren', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2017/nov/free-from.html')

      