extends ../../../layouts/layout

block vars
  -title = 'สถาบันอาหาร ทำ MOU กับคณะกรรมการกลางอิสลามฯ  ส่งเสริมอุตสาหกรรมอาหารฮาลาล'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white NEWS
          .content-header.mar-top
            span.title.light.txt-black สถาบันอาหาร ทำ MOU กับคณะกรรมการกลางอิสลามฯ  ส่งเสริมอุตสาหกรรมอาหารฮาลาล
            span.title-3.light.txt-black.mar-left
          .content-body
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/New_5.jpg').mar-top-md.mar-bot-md
            p.text-medium 
              b 25 ธันวาคม 2560 - 
            p.text-medium.mar-top นายยงวุฒิ เสาวพฤกษ์ ผู้อำนวยการสถาบันอาหาร กระทรวงอุตสาหกรรม ลงนามในบันทึกข้อตกลงความร่วมมือ (MOU) กับ พล.ต.ต.สุรินทร์ ปาลาเร่ เลขาธิการสำนักงานคณะกรรมการกลางอิสลามแห่งประเทศไทย เพื่อเสริมสร้างอุตสาหกรรมอาหารฮาลาลในประเทศไทยให้เข้มแข็งและยั่งยืน ทั้งสร้างความเชื่อมั่นให้เป็นที่ยอมรับจากกลุ่มประเทศมุสลิมและนานาประเทศ โดยจะร่วมกันพัฒนาบุคลากรด้านวิชาการ ด้านมาตรฐานกิจการฮาลาล และด้านการวิจัยและพัฒนา 
            p.text-medium.mar-top ทั้งนี้ ขอบเขตความร่วมมือดังกล่าว ได้แก่ การเผยแพร่ความรู้ ข้อมูล ข่าวสารที่เกี่ยวข้องกับกิจการและมาตรฐานฮาลาลแก่ผู้ประกอบการและผู้บริโภค การสนับสนุนการศึกษา วิจัย พัฒนาความร่วมมือกับภาคอุตสาหกรรมในด้านเทคโนโลยีการผลิต ระบบบริหารจัดการองค์กร การวิเคราะห์ตรวจสอบ เพื่อยกระดับการผลิตและการบริการอาหารให้สอดคล้องตามหลักการศาสนาอิสลาม และเทียบเท่ามาตรฐานสากล การเชื่อมโยงและแลกเปลี่ยนข้อมูลสารสนเทศเพื่อประโยชน์ในการพัฒนาอุตสาหกรรมผลิตภัณฑ์ฮาลาลของประเทศ การตรวจวิเคราะห์ผลิตภัณฑ์ฮาลาลทางด้านเคมี ชีวภาพ และกายภาพ ตามความสามารถของห้องปฏิบัติการของสถาบันอาหาร และร่วมกันพัฒนาแนวทางการตรวจวิเคราะห์ด้วยวิธีใหม่ที่เห็นชอบร่วมกัน เป็นต้น

            p.text-medium.mar-top
              a(href="http://www.nfi.or.th", target="_blank") www.nfi.or.th
            


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12

      