extends ../../../layouts/layout

block vars
  -title = 'ไบโอเวกกี้ แบรนด์ผักแปรรูปสัญชาติไทย ธุรกิจเติบโตอย่างยิ่งใหญ่ด้วย Thaitrade.com'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white NEWS
          .content-header.mar-top
            span.title.light.txt-black ไบโอเวกกี้ แบรนด์ผักแปรรูปสัญชาติไทย ธุรกิจเติบโตอย่างยิ่งใหญ่ด้วย Thaitrade.com
            span.title-3.light.txt-black.mar-left
          .content-body
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/New_4.2.jpg').mar-top-md.mar-bot-md
            p.text-medium ความสำเร็จอย่างก้าวกระโดดของ “ไบโอเวกกี้” แบรนด์ผักแปรรูปสัญชาติไทย หลังจากเข้าร่วมเป็นผู้ขายบนเว็บไซต์ Thaitrade.com ด้วยการวางแผนการทำงานอย่างรอบคอบ และมีตลาดออนไลน์ที่สนับสนุนผู้ประกอบการไทย ส่งผลให้ธุรกิจประสบความสำเร็จอย่างเหนือความคาดหมาย 
            p.text-medium.mar-top คุณวิริยา พรทวีวัฒน์ กรรมการผู้จัดการ บริษัท เชียงใหม่ไบโอเวกกี้ จำกัด เปิดเผยว่า แม้การเริ่มต้นทำธุรกิจด้านปิโตรเลียมจะไม่เกี่ยวข้องกับด้านอาหาร แต่ด้วยความคิดริเริ่มสร้างสรรค์ในการปรับประยุกต์ นำเทคโนโลยีสมัยใหม่มาใช้กับสินค้าประเภทอาหาร ประกอบกับสินค้าเกษตรที่ล้นตลาด ทำให้เลือกที่จะแปรรูปพืชผักให้สามารถเก็บรักษาได้ยาวนานขึ้น โดยใช้เครื่องจักรถนอมอาหาร ที่พัฒนาขึ้นเพื่อแปรรูปอาหารแห้ง ซึ่งเป็นนวัตกรรมที่คิดค้นโดยผู้บริหารที่เป็นนักวิศวกร นักเศรษฐศาสตร์ และนักวิชาการอาหาร โดยใช้ระยะเวลาคิดค้นกว่า 5 – 6 ปี
            p.text-medium.mar-top จากนั้นจึงได้จัดตั้ง บริษัท เชียงใหม่ไบโอเวกกี้ จำกัด เพื่อรับซื้อพืชผลทางการเกษตร ซึ่งจุดเริ่มต้นของธุรกิจเกิดจากการเริ่มทดลองแปรรูปพืช ผัก ผลไม้มาเรื่อยๆ จึงตัดสินใจนำผักชนิดต่างๆ จากมูลนิธิโครงการหลวงมาแปรรูป โดยการอบแห้งแล้วผ่านกระบวนการจนกลายมาเป็นผักอัดเม็ด ซึ่งเป็นวิถีการถนอมอาหารที่เก็บรักษาไว้ได้นานถึง 2 ปี เพื่อให้ผู้บริโภคได้กินผักด้วยวิธีที่สะดวก อีกทั้งยังได้รับคุณประโยชน์ของสารอาหารจากผักสดในรูปแบบเม็ด โดยส่วนผสมในผักอัดเม็ดประกอบไปด้วยพืชพันธุ์ทั้ง 12 ชนิด ได้แก่ พริกหวาน แครอท มะเขือเทศ หัวหอมญี่ปุ่น ฟักทองญี่ปุ่น กะหล่ำม่วง บีทรูท ผักโขม เฟนเนล เซอเลอรี่ พาร์สเล่ย์ และบร็อคโคลินี ซึ่งล้วนเป็นผักจากมูลนิธิโครงการหลวงที่มีไฟเบอร์และสารอาหารสูง โดยหลังจากนำมาแปรรูปเป็นผักอัดเม็ดแล้ว สินค้าจะต้องคงคุณค่าของสารอาหาร และมีคุณประโยชน์ใกล้เคียงกับผักสดมากที่สุด
            p.text-medium.mar-top ต่อมาในปี 2555 ไบโอเวกกี้ ได้รับรางวัลอันดับ 1 จาก 10 สุดยอดธุรกิจนวัตกรรมด้านกระบวนการผลิตสินค้าในโครงการ "ไบโอเวกกี้ วิตามินรวมจากผักเมืองหนาว" ซึ่งถือเป็นจุดเริ่มต้นในการหาช่องทางทางด้านการตลาดของบริษัท แต่ด้วยข้อจำกัดทางการเงินจากการเป็นธุรกิจ SMEs ขนาดเล็ก ส่งผลให้การประชาสัมพันธ์ทางสื่อกระแสหลักเป็นไปอย่างยากลำบาก บริษัทจึงเน้นการประชาสัมพันธ์ผ่านทางโซเชียลเน็ตเวิร์ก โดยใช้กลยุทธ์แบบบอกต่อ (Word of Mouth)
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/New_4.3.jpg').mar-top-md.mar-bot-md
            p.text-medium.mar-top จนกระทั่งได้เข้ามาร่วมเป็นส่วนหนึ่งกับ Thaitrade.com โดยกรมส่งเสริมการค้าระหว่างประเทศเนื่องจากต้องการเจาะกลุ่มลูกค้าต่างประเทศที่รับประทานผักอัดเม็ดเพื่อสุขภาพ โดย Thaitrade.com เป็นเว็บไซต์ B2B E-Marketplace อีกหนึ่งช่องทางในการสื่อสารกับชาวต่างชาติเป็นหลัก และมองว่า Thaitrade.com มีความน่าเชื่อถือโดยเฉพาะการทำการค้ากับชาวต่างชาติ ซึ่งเป็นเครื่องมือที่ช่วยทำให้ลูกค้ามั่นใจในการสั่งซื้อสินค้า เพราะได้รับการรับรองความน่าเชื่อถือโดยรัฐบาลไทย ซึ่งล่าสุดในช่วงเดือนพฤศจิกายนที่ผ่านมา ได้มีลูกค้าต่างประเทศติดต่อเพื่อขอเป็นตัวแทนจำหน่ายรายใหญ่ในประเทศเกาหลี โดยมีปัจจัยด้านความเชื่อมั่นในการติดต่อ และความน่าสนใจของข้อมูลสินค้าบนเว็บไซต์ Thaitrade.com 
            p.text-medium.mar-top สำหรับผู้ประกอบการที่สนใจสร้างธุรกิจให้ประสบความสำเร็จนั้น 1) จะต้องเข้าใจในสินค้าของตัวเอง มีการวางแผนเป้าหมายสูงสุดของสินค้า เช่นเดียวกับสินค้าผักอัดเม็ดเรามีเป้าหมายที่จะทำการส่งออกไปขายยังต่างประเทศ ซึ่งปัจจุบันสามารถส่งออกสินค้าผักอัดเม็ดไปยังแถบอาหรับ และแถบยุโรป โดยได้ลูกค้ารายใหม่บนเว็บไซต์ Thaitrade.com 2) ต้องมีการเตรียมความพร้อมเรื่องมาตรฐานโรงงานการผลิต GMP และ HACCP ซึ่งช่วยสร้างความพร้อมให้กับผู้ประกอบการในการจัดจำหน่ายสินค้าส่งออกไปยังต่างประเทศ 3) ต้องมีความใส่ใจ โดยเฉพาะเรื่องอาหารซึ่งต้องคำนึงถึงผู้บริโภคเป็นอันดับแรก ส่วนผสมจะต้องสะอาด ปลอดภัยและสร้างคุณประโยชน์ให้กับผู้บริโภค อย่างผักอัดเม็ดจะต้องไร้สารเคมี ปลอดภัย รู้แหล่งที่มา ก่อนผลิตสินค้าต้องมีการตรวจสอบอีกครั้ง เพื่อให้สินค้าเป็นไปตามกระบวนการมาตรฐานการผลิต และ 4) ต้องมีทุนในการลงโฆษณาเพื่อประชาสัมพันธ์สินค้าไปยังกลุ่มเป้าหมายเพื่อให้เป็นที่รู้จัก
            p.text-medium.mar-top ปัจจุบันผักอัดเม็ดแบรนด์ไบโอเวกกี้ มีช่องทางการจัดจำหน่ายตามร้านค้าชั้นนำ อาทิ เช่น Se-ed Book, Watsons, 7-11, Family Mart, Golden Place และร้านค้าชั้นนำอื่นๆ อีกมากมาย รวมไปถึงช่องทางการจัดจำหน่ายไปยังต่างประเทศทั้งแถบอาหรับ ยุโรป และเอเชีย โดยการได้รับความไว้วางใจจากลูกค้าผ่านเว็บไซต์ Thaitrade.com ซึ่งถือเป็นเครื่องมือที่ช่วยขับเคลื่อนธุรกิจ และรับการรับรองความน่าเชื่อถือโดยรัฐบาลไทย

            p.text-medium.mar-top สำหรับผู้ที่สนใจสามารถสมัครเป็นสมาชิกผู้ขายบนเว็บไซต์ Thaitrade.com หรือสอบถามข้อมูลเพิ่มเติมได้ที่ DITP Call Center 1169 หรือ อีเมล์ contact@thaitrade.com

            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/New_4.4.jpg').mar-top-md.mar-bot-md

            p.text-medium.mar-top
              a(href="http://www.thaitrade.com", target="_blank") www.thaitrade.com
            


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12

      