extends ../../../layouts/layout

block vars
  -title = 'นักลงทุนไทยเล็ง “เขตเศรษฐกิจพิเศษจูไห่”'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white NEWS
          .content-header.mar-top
            span.title.light.txt-black นักลงทุนไทยเล็ง “เขตเศรษฐกิจพิเศษจูไห่”
            span.title-3.light.txt-black.mar-left
          .content-body
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/New_1.jpg').mar-top-md.mar-bot-md
            p.text-medium 
              b 13 ธันวาคม 2560 
            p.text-medium.mar-top “พาณิชย์” แนะนักลงทุนไทย ศึกษาลู่ทางทำการค้าและลงทุนในเขตเศรษฐกิจพิเศษจูไห่ เพื่อเป็นฐานส่งออกสินค้าเจาะตลาดฮ่องกง มาเก๊า และจีน หลังสะพานเชื่อม 3 เมืองกำลังจะเปิดให้บริการ คาดจะช่วยเพิ่มความสะดวกในการขนส่งสินค้า และทำให้การกระจายสินค้าทำได้ง่ายขึ้น
            p.text-medium.mar-top นางจันทิรา ยิมเรวัต วิวัฒน์รัตน์ อธิบดีกรมส่งเสริมการค้าระหว่างประเทศ เปิดเผยว่า กระทรวงพาณิชย์ได้ศึกษาโอกาสในการเข้าไปทำการค้าและลงทุนในเขตเศรษฐกิจพิเศษจูไห่ ซึ่งเป็นหนึ่งในพื้นที่เขตเศรษฐกิจสามเหลี่ยมลุ่มแม่น้ำจูเจียง โดยพบว่ามีโอกาสในการเข้าไปทำการค้าและลงทุนสูง และอยากจะแนะนำให้นักลงทุนไทยศึกษาโอกาสและลู่ทางในการเข้าไป เพราะขณะนี้นักลงทุนต่างชาติจากประเทศต่างๆ ได้เริ่มมองและให้ความสำคัญกับเมืองนี้เป็นอย่างมาก เนื่องจากมองเห็นโอกาส ซึ่งไทยก็ควรที่จะศึกษาและเข้าไป โดยกระทรวงพาณิชย์พร้อมที่จะเป็นพี่เลี้ยงให้กับผู้ประกอบการและนักลงทุนของไทยที่สนใจ
            p.text-medium.mar-top สาเหตุที่จูไห่เป็นเมืองที่มีอนาคตในด้านการค้าและการลงทุน เนื่องจากขณะนี้จะมีการเปิดสะพานเชื่อม 3 เมืองสำคัญ คือ ฮ่องกง มาเก๊า และจูไห่ ทำให้ระบบการเดินทางและการขนส่งสินค้าทำได้ดีขึ้น เพราะจากเดิมจะเป็นการขนส่งผ่านท่าเรือขนส่งขนาดใหญ่ ไม่มีระบบขนส่งทางรถยนต์ แต่เมื่อมีการเชื่อมสะพาน จะทำให้การขนส่งทางรถยนต์ขยายตัวขึ้น และกระจายสินค้าไปยัง 3 เมืองได้ดีขึ้น รวมถึงกระจายเข้าสู่ตลาดจีน
            p.text-medium.mar-top “อนาคต เมืองจูไห่ จะเป็นเมืองที่มีเศรษฐกิจเทียบเท่าได้กับเมืองกวางโจวและเมืองเซินเจิ้น หากไทยเข้าไปทำการค้าและการลงทุนก่อน ก็จะตักตวงผลประโยชน์ได้ก่อน โดยผู้ที่สนใจเข้าไป สามารถเข้ามาปรึกษาได้กับกรมส่งเสริมการค้าระหว่างประเทศ ที่พร้อมจะสนับสนุนผู้ประกอบการในการออกไปค้าขายและออกไปลงทุนในต่างประเทศ” นางจันทิรากล่าว
            p.text-medium.mar-top สำหรับสะพานเชื่อม 3 เมือง ฮ่องกง มาเก๊า จูไห่ เริ่มเปิดให้บริการเมื่อเดือน พ.ย. 2560 โดยสะพานมีความยาวทั้งหมด 55 กิโลเมตรและถูกแบ่งออกเป็น 4 ช่วง โดยช่วงที่ 1 เป็นสะพานจากจูไห่ไปถึงสามแยกไปมาเก๊าหรือฮ่องกง ช่วงที่ 2 เป็นสะพานจากมาเก๊าไปถึงสามแยกไปจูไห่หรือฮ่องกง ช่วงที่ 3 เป็นสะพานที่แยกช่องทางการเดินทางไปฮ่องกง มาเก๊า จูไห่ และช่วงที่ 4 เป็นสะพานจากฮ่องกงไปถึงสามแยกไปจูไห่หรือมาเก๊า ซึ่งจากการทดลองเดินทางสรุปได้ว่าจากจูไห่เดินทางไปถึงฮ่องกงใช้เวลาแค่ 30 นาทีเท่านั้น

            p.text-medium.mar-top
              a(href="http://www.ditp.go.th", target="_blank") www.ditp.go.th
            


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12

      