extends ../../../layouts/layout

block vars
  -title = 'NFI เปิดตัวแอพพลิเคชัน Thai Halal ช่องทางตรวจสอบและโปรโมทผลิตภัณฑ์ฮาลาล'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white NEWS
          .content-header.mar-top
            span.title.light.txt-black NFI เปิดตัวแอพพลิเคชัน Thai Halal ช่องทางตรวจสอบและโปรโมทผลิตภัณฑ์ฮาลาล
            span.title-3.light.txt-black.mar-left
          .content-body
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/New_3.1.jpg').mar-top-md.mar-bot-md
            p.text-medium 
              b กรุงเทพฯ, 21 ธันวาคม 2560 -  
            p.text-medium.mar-top สถาบันอาหาร กระทรวงอุตสาหกรรม เปิดให้ดาวน์โหลดแอพพลิเคชัน Thai Halal ได้แล้ววันนี้ทั้งบน iOS และ Android ผู้บริโภคสามารถตรวจสอบข้อมูลผลิตภัณฑ์ฮาลาลได้ทันทีเพียงกรอกเลขที่รับรองฮาลาล หรือสแกนคิวอาร์โค้ด/บาร์โค้ดของผลิตภัณฑ์ อย่างใดอย่างหนึ่ง ทั้งเป็นช่องทางใหม่ให้ผู้ประกอบการ หรือผู้ผลิต โดยเฉพาะเอสเอ็มอีและวิสาหกิจชุมชนสามารถนำผลิตภัณฑ์ของตนเองที่ผ่านการรับรองฮาลาลมาโปรโมทผ่านแอพพลิเคชันนี้ได้อีกด้วย โดยใช้ฐานข้อมูลจากสำนักงานคณะกรรมการกลางอิสลามแห่งประเทศไทย และสถาบันอาหาร เพื่อเป็นส่วนหนึ่งของการพัฒนาฐานข้อมูลสนับสนุนการพัฒนาฮาลาลไทย ต่อยอดจากการจัดทำเว็บไซต์ www.thaihalalfoods.com ภายใต้โครงการส่งเสริมและพัฒนาอุตสาหกรรมอาหารฮาลาล เพื่อเป็นแหล่งข้อมูลเชิงลึกด้านอาหารฮาลาลมาได้ระยะหนึ่งแล้ว 
            p.text-medium.mar-top นายยงวุฒิ เสาวพฤกษ์ ผู้อำนวยการสถาบันอาหาร กระทรวงอุตสาหกรรม เปิดเผยว่าภายใต้การดำเนินโครงการส่งเสริมและพัฒนาอุตสาหกรรมอาหารฮาลาล ซึ่งนอกจากจะมีการเตรียมความพร้อมให้ผู้ประกอบการกลุ่มหลักคือเอสเอ็มอีและวิสาหกิจชุมชุนเพื่อเข้าสู่ระบบมาตรฐานอุตสาหกรรมฮาลาลแล้ว สถาบันอาหารยังมุ่งเน้นไปที่การพัฒนาศักยภาพการตลาดฮาลาลไทยสู่สากล โดยก่อนหน้านี้ได้พัฒนาฐานข้อมูลเพื่อสนับสนุนการพัฒนาฮาลาลไทยผ่านการจัดทำเว็บไซต์ www.thaihalalfoods.com เพื่อเป็นแหล่งข้อมูลเชิงลึกด้านอาหารฮาลาลให้บริการแก่ภาคธุรกิจและผู้ที่สนใจ อาทิ ข้อมูลสถิติการค้า รายงาน บทวิเคราะห์ งานวิจัยตลาด หลักการและแนวทางปฏิบัติการใช้เครื่องหมายรับรองฮาลาล ตลอดจนการเชื่อมโยงข้อมูลกับหน่วยงานที่เกี่ยวข้อง อาทิ การเป็นผู้ประสานงานให้ผู้ประกอบการที่ต้องการขอรับรองฮาลาลกับสำนักงานคณะกรรมการกลางอิสลามแห่งประเทศไทย รวมทั้งเสริมสร้างความร่วมมือในการแลกเปลี่ยนข้อมูลเพื่อให้เกิดชุมชนแห่งการเรียนรู้ด้านอุตสาหกรรมของประเทศในอนาคต
            p.text-medium.mar-top “วันนี้เราได้พัฒนาแอพพลิเคชัน Thai Halal ขึ้นมา ทั้งระบบ iOS และ Android เพื่อให้ผู้บริโภคที่ดาวน์โหลดมาใช้  สามารถตรวจสอบข้อมูลผลิตภัณฑ์ฮาลาลได้ทันทีว่าได้รับการรับรองฮาลาลจริงหรือไม่ โดยการใส่ข้อมูลเลขที่รับรองฮาลาล หรือสแกนบาร์โค้ด หรือคิวอาร์โค้ดของผลิตภัณฑ์ จะปรากฎข้อมูลวันที่ขอรับรอง และวันหมดอายุ หากข้อมูลผลิตภัณฑ์ยังไม่เข้าระบบจะแจ้งให้ตรวจสอบเพิ่มเติมที่สำนักงานคณะกรรมการกลางอิสลามแห่งประเทศไทย
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/New_3.2.jpg').mar-top-md.mar-bot-md
            p.text-medium.mar-top นอกจากนี้ Thai Halal ยังเป็นช่องทางให้ผู้ประกอบการ โดยเฉพาะกลุ่มเอสเอ็มอี และวิสาหกิจชุมชนสามารถนำผลิตภัณฑ์ของตนเองที่ผ่านการรับรองฮาลาลมาโปรโมทผ่านแอพพลิเคชันนี้ได้อีกด้วย โดยกรอกข้อมูลใบรับรองฮาลาล ข้อมูลผลิตภัณฑ์ และข้อมูลผู้ผลิต รอการตรวจสอบและอนุมัติตามลำดับ ทั้งนี้จะใช้ฐานข้อมูลจาก สำนักงานคณะกรรมการกลางอิสลามแห่งประเทศไทย และสถาบันอาหาร  ทั้งนี้สามารถสอบถามข้อมูลเพิ่มเติมได้ที่สถาบันอาหาร โทร. 02-422-8688 ต่อ 3203, 3204”
            p.text-medium.mar-top อนึ่ง สถานการณ์การผลิตรวมทั้งการรับรองอาหารฮาลาลของไทยนั้น พบว่าผู้ประกอบการมีแนวโน้มให้ความสำคัญกับตลาดฮาลาลมากขึ้น โดยฝ่ายกิจการฮาลาล สำนักงานคณะกรรมการกลางอิสลามแห่งประเทศไทยได้ให้ข้อมูลว่า ปัจจุบันมีบริษัทที่ได้รับรองมาตรฐานอาหารฮาลาลกว่า 5,000 บริษัท เพิ่มขึ้นจากปี 2554 ที่มีสถานประกอบการในประเทศที่ขอรับการรับรองฮาลาล 2,188 ราย หรือเพิ่มขึ้นกว่าร้อยละ 40 ต่อปี ในภาพรวมส่วนใหญ่เป็นธุรกิจที่เกี่ยวข้องกับอาหารเป็นหลัก โดยมีสัดส่วนรวมกันสูงถึงร้อยละ 90 (ผู้ผลิตอาหารร้อยละ 72 ร้านอาหารร้อยละ 13 โรงเชือดและชำแหละเนื้อสัตว์ร้อยละ 3 และผู้นำเข้าอาหารร้อยละ 2 โดยประมาณในปี 2554) ส่วนที่เหลืออื่นๆ อีกร้อยละ 10 เป็นผู้ประกอบการที่ผลิตและนำเข้าสินค้าอุปโภค เช่น ผู้ผลิตเครื่องสำอาง ยาสีฟัน ยาหรือสมุนไพร เป็นต้น ปัจจุบันคาดว่ามีผลิตภัณฑ์ที่ขอรับการรับรองฮาลาลสูงกว่า 100,000 รายการ เพิ่มขึ้นจาก 64,588 รายการในปี 2554 หรือเพิ่มขึ้นเฉลี่ยร้อยละ 20 ต่อปีโดยประมาณ 
            p.text-medium.mar-top ตลาดเอเชียเป็นตลาดอาหารฮาลาลที่มีศักยภาพในการส่งออกสูงสุด จากสัดส่วนประชากรชาวมุสลิมที่มีอยู่ค่อนข้างสูงร้อยละ 32.6 ของจำนวนประชากรทั้งหมดในภูมิภาค โดยมาเลเซียได้ตั้งเป้าหมายเป็นศูนย์กลางฮาลาลของโลก (Global Halal Hub) ภายในปี 2563 โดยมีแนวทางการพัฒนาธุรกิจฮาลาลของประเทศแบบองค์รวม ตั้งแต่ต้นน้ำจนถึงปลายน้ำ ประกอบกับการสร้างระบบนิเวศฮาลาล (Halal Ecosystem) ซึ่งรัฐบาลมาเลเซียให้การสนับสนุนด้านการพัฒนาอุตสาหกรรมอาหารฮาลาล ของประเทศอย่างเต็มที่ ทั้งการจัดทำมาตรฐานฮาลาล การให้สิทธิประโยชน์และแรงจูงใจต่างๆ เช่น การยกเว้นภาษีเงินได้สำหรับผู้ประกอบการในอุทยานฮาลาล (Halal Park) และผู้ประกอบการด้านโลจิสติกส์ฮาลาลหรือที่เกี่ยวข้อง การลดหย่อนภาษีสองเท่าสำหรับค่าใช้จ่ายในการดำเนินการเพื่อขอการรับรองมาตรฐานฮาลาล เป็นต้น

            p.text-medium.mar-top
              a(href="http://www.nfi.or.th", target="_blank") www.nfi.or.th
            


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12

      