extends ../../../layouts/layout

block vars
  -title = 'นวัตกรรมด้านคมนาคมก้าวไกลเพื่อวิถีชีวิตและเศรษฐกิจ 4.0'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white NEWS
          .content-header.mar-top
            span.title.light.txt-black นวัตกรรมด้านคมนาคมก้าวไกลเพื่อวิถีชีวิตและเศรษฐกิจ 4.0
            span.title-3.light.txt-black.mar-left
          .content-body
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/New_2.jpg').mar-top-md.mar-bot-md
            p.text-medium 
              b กรุงเทพฯ - 
            p.text-medium.mar-top สำนักงานวิจัยทางเรือของโลกแห่งสหรัฐเยี่ยมชมและมอบทุนวิจัยทางเรือแก่คณะวิศวกรรมศาสตร์ สจล. โดย รศ.ดร.คมสัน มาลีสี คณบดี คณะวิศวกรรมศาสตร์ สจล.ต้อนรับ ดร.ซิมิน เฟง ผู้อำนวยการด้านวิทยาศาสตร์ สำนักงานวิจัยทางเรือของโลกแห่งสหรัฐอเมริกา (The U.S. Office of Naval Research Global) หรือ ONR กองทัพเรือแห่งสหรัฐอเมริกาในโอกาสเดินทางมาเยี่ยมชมคณะวิศวกรรมศาสตร์ และหารือแนวทางความร่วมมือ พร้อมมอบทุนวิจัยแก่ ศาสตราจารย์  ดร.โมไนย ไกรฤกษ์ คณะวิศวกรรมศาสตร์ สจล. พร้อมด้วย รศ.ดร.ชูวงค์ พงศ์เจริญพาณิชย์ รองคณบดี ดร.รัชนี กุลยานนท์ ผู้ช่วยคณบดี และ รศ.ดร.ยุทธพงษ์ รังสรรค์เสรี หัวหน้าภาควิชาวิศวกรรมโทรคมนาคม 
            p.text-medium.mar-top รศ.ดร.คมสัน มาลีสี คณบดี คณะวิศวกรรมศาสตร์ สจล. กล่าวว่า องค์กร ONR หรือสำนักงานวิจัยทางเรือของโลกแห่งสหรัฐ ก่อตั้งในปี 1946 ดำเนินงานด้านวิทยาศาสตร์และเทคโนโลยีเกี่ยวกับการพัฒนานวัตกรรมและเทคโนโลยีการเดินเรือในอนาคต มีผู้เชี่ยวชาญด้านวิทยาศาสตร์ นักเทคโนโลยีและวิศวกรเพื่อดำเนินงานใน 5 ทวีปทั่วโลกและประสานความร่วมมือกับนานาประเทศ นับเป็นโอกาสอันดีที่ประเทศไทยและองค์กร ONR ได้ส่งเสริมความร่วมมือระหว่างกันอย่างใกล้ชิดเพื่อประโยชน์ต่อสังคมและเศรษฐกิจที่ยั่งยืน

            p.text-medium.mar-top
              a(href="http://www.engineer.kmitl.ac.th", target="_blank") www.engineer.kmitl.ac.th
            


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12

      