extends ../../layouts/layout

block vars
  -title = 'Chilled & Frozen Products Edition 2016 - Roadmap Detail'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm
          ul.list-icons.pad-top-lg(data-stickyScroll)
            li: +link-img('../../images/icons/ic-fb.svg','#')
            li: +link-img('../../images/icons/ic-twitter.svg','#')
            li: +link-img('../../images/icons/ic-linkedin.svg','#')

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white ROADMAP
          .content-header.mar-top
            span.title.light.txt-black CHILLED & FROZEN PRODUCTS EDITION 2016
            span.title-3.light.txt-black.mar-left 8 JULY 2016
          .content-body
            +img('../../images/upload/Chill_2016.jpg').mar-top-md.mar-bot-md
            p.text-medium ฟู้ด โฟกัส ไทยแลนด์ โรดแมพ จัดสัมมนานำเสนอนวัตกรรมและวิเคราะห์สถานการณ์<b>อุตสาหกรรมอาหารแช่เย็นและแช่แข็ง</b> โดยได้รับเกียรติจากวิทยากรผู้เชี่ยวชาญจากหลากหลายสาขาร่วมบรรยาย 
            p.text-medium.mar-top <b>Chilled & Frozen Products Edition</b> aims to be an excellent platform where knowledge, innovation, marketing analysis and many more about processed food products are gathered. The guest speakers are the experts from both government and private sectors.

        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('../../images/icons/ic-fb.svg','#')
            li: +link-img('../../images/icons/ic-twitter.svg','#')
            li: +link-img('../../images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12
          .col-sm-12
            h2.title Other Events
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Meat_2016.jpg', 'Meat & Poultry Edition')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Drink_2016.jpg', 'Drinking Edition')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/NPI_2016.jpg', 'New Product Ideas Edition')

      