extends ../../layouts/layout

block vars
  -title = 'Meat & Poultry Edition 2016 - Roadmap Detail'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm
          ul.list-icons.pad-top-lg(data-stickyScroll)
            li: +link-img('../../images/icons/ic-fb.svg','#')
            li: +link-img('../../images/icons/ic-twitter.svg','#')
            li: +link-img('../../images/icons/ic-linkedin.svg','#')

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white ROADMAP
          .content-header.mar-top
            span.title.light.txt-black MEAT & POULTRY EDITION 2016
            span.title-3.light.txt-black.mar-left 14 OCTOBER 2016
          .content-body
            +img('../../images/upload/Meat_2016.jpg').mar-top-md.mar-bot-md
            p.text-medium งานสัมมนาในครั้งนี้ได้รับเกียรติจากวิทยากรผู้ซึ่งมีความรู้ ประสบการณ์ และ              ความเชี่ยวชาญในวงการอุตสาหกรรมผลิตภัณฑ์เนื้อสัตว์และสัตว์ปีก ทั้งจากภาครัฐและเอกชนร่วมเป็นวิทยากรหลายท่าน โดยได้รับความสนใจจากผู้ประกอบการในอุตสาหกรรมผลิตภัณฑ์เนื้อสัตว์และสัตว์ปีกเข้าร่วมงานกันอย่างคับคั่ง  
            p.text-medium.mar-top The seminar was honored by guest speakers who have knowledge, experience, and expertise from both the public and private sectors of the meat and poultry industry. A large number of professionals from this industry attended the event.   


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('../../images/icons/ic-fb.svg','#')
            li: +link-img('../../images/icons/ic-twitter.svg','#')
            li: +link-img('../../images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12
          .col-sm-12
            h2.title Other Events
          .col-md-12.col-sm-6
            .content-item
              +life-stage('../../images/upload/Chill_2016.jpg', 'Chilled & Frozen Products Edition')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('../../images/upload/Drink_2016.jpg', 'Drinking Edition')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/NPI_2016.jpg', 'New Product Ideas Edition')

      