[data-accordion] {
  [class*='col-']{
    &:nth-child(1),
    &:nth-child(2) {
      .collapse-header {
        border-top: 1px solid #ededed;
      }
    }
    @media @from-tablet-portrait {
      &:nth-child(2) {
        .collapse-header {
          border-top: none;
        }
      }
    }
  }
  .collapse-header {
    position: relative;
    font-size: 1.231rem;
    line-height: 1.56;
    border-bottom: 1px solid #ededed;
    height: 70px;
    display: table;
    width: 100%;
    cursor: pointer;
    span {
      &:extend(.txt-blue);
      display: table-cell;
      vertical-align: middle;
      padding-right: @grid;
      height: 100%;
    }
    &:after {
      content: "\e90c";
      font-family: 'icomoon' !important;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    &.active {
      &:after {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        margin-top: -8px;
      }
    }
  }
  .collapse-inner {
    display: none;
    padding: 20px 0;

    &.table {
      padding: 0;
    }
  }
}