// Fontface
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.ttf?') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular?') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto-Thin?') format('truetype');
}
@font-face {
  font-family: 'ThaiSansNeue-Regular';
  src: url('../fonts/ThaiSansNeue-Regular.ttf?') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ThaiSansNeue-SemiBold';
  src: url('../fonts/ThaiSansNeue-SemiBold.ttf?') format('truetype');
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff?al0qhh') format('woff');
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"] {
  display: inline-block;
}
[class^="icon-"]:before, [class*=" icon-"]:before{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*.icon-info:before {
  content: "\e916";
}*/

.icon-cell-phone:before {
  content: "\e910";
}
.icon-earth:before {
  content: "\e912";
}
.icon-income:before {
  content: "\e914";
}
.icon-phone:before {
  content: "\e915";
}
.icon-video:before {
  content: "\e90d";
}
.icon-video2:before {
  content: "\e90e";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-line:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}
.icon-youtube:before {
  content: "\e90b";
}
.icon-mail:before {
  content: "\e917";
}
.icon-google:before {
  content: "\e918";
}
.icon-in:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e901";
}
.icon-location-2:before {
  content: "\e90f";
}
.icon-location:before {
  content: "\e900";
}
.icon-arrow-more:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-pagination-left:before {
  content: "\e904";
}
.icon-pagination-right:before {
  content: "\e906";
}
.icon-dropdown:before {
  content: "\e90c";
}
