// Form
@media @from-mobile {
  select {
    font-size: 20px;
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
[class*='btn']{
  padding: 0 30px;
  font-size: 1.23rem;

  display: inline-block;
  text-align: center;
  position: relative;
  overflow:hidden;
  border-radius: 4px;
  &.min-size {
    /*min-width: 11rem;*/
    min-width: 170px;
  }

  .no-touch.desktop & {
    .transition(all 0.4s);
  }
  &.btn-block {
    display: block;
    width: 100%;
    text-align: center;
  }

  &[disabled] {
    cursor: default;
  }

  @media @from-mobile {
    &.m-btn-block {
      display: block;
      width: auto!important;
      float: none!important;
    }
  }
}

.label {
  font: @font-medium/25px @font-family-bold;
  color: black;
  padding-bottom: 15px;
  display: inline-block;
}
.input {
  border :1px solid @grey-color;
  font-size: @font-medium;
  padding: 0 @m-grid;
  height: 48px;
  line-height: 48px;
  width: 100%;
  border-radius: 4px;
  background: white;
  &:not([readonly]):focus {
    border-color: @blue-color;
    &:extend(.txt-blue);
  }
  &:not([readonly]):valid {
    &:extend(.txt-blue);
  }
  &[readonly] {
    opacity: 0.5;
  }

  &::-webkit-input-placeholder {
    color: #d2d2d2;
  }
  &::-moz-placeholder {
    color: #d2d2d2;
  }
  &:-ms-input-placeholder {
    color: #d2d2d2;
  }
  &:-moz-placeholder {
    color: #d2d2d2;
  }
}
.input-wrapper {
  overflow: hidden;
}
textarea.input {
  height: 177px;
  line-height: normal;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-search {
  input {
    padding-right: 48px;
  }
  position: relative;
  p {
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
    &:after {
      &:extend(.icon-dropdown:before);
      &:extend([class^="icon-"]:before, [class*=" icon-"]:before );
    }
  }
}





