// Modal
.modal {
/*  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 102;*/


  .modal-title {

  }
  .close {

  }
}
.modal-header {

}

.modal-body {

}

.modal-content{

}
@keyframes animModal {
  1% {
    display: block;
    opacity: 0;
  }
  100%{
    display: block;
    opacity: 1;
  }
}
.modal-fade {
  display: none;
  &.active {
    display: block;
  }
}
.modal-full-screen {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
  background: #f9f9fa;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  &.modal-active {
    display: block;
  }
}
.modal-full-screen, .modal-fade {
  .icon-close {
    position: absolute;
    font-size: 3rem;
    right: 4rem;
    top: 4rem;
    z-index: 10;
    @media @from-tablet-portrait {
      right: 2rem;
      top: 2rem;
      font-size: 2.5rem;
    }
    &:before {
      font-weight: bold;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .text-large {
    @media @from-mobile {
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }
  .modal-body {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    padding: 90px 0;
    z-index: 2;
    &:before {
      content: '';
      background: rgba(0,0,0,0.5);
      position: absolute;
      z-index: 0;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    @media @from-mobile {
      padding: 60px 0;
    }
    .label {
      color: white;
    }

  }
  .thumb{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      z-index: 2;
      opacity: 0.3;
      background-image: linear-gradient(to top, #000000, #636363);
    }
  }
  .inner-container {
    position: relative;
    z-index: 2;
    .group {
      min-height: 0;
    }
  }
  .range-value {
    margin-top: @grid;
    span {
      font-size: 1.538rem;
      color: white;
    }
  }
}
#investment-simulator-modal {
  .modal-body {
    &:before {
      content: none;
    }
  }
}
.lightbox {
  background-color: rgba(139, 96, 96, 1);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  padding: @grid;
  overflow-y: auto;

  .icon-close {
    position: absolute;
    right: 4rem;
    top: 4rem;
    font-size: 3rem;
    z-index: 10;
    &:before {
      color: #ccbbbc;
      font-weight: 900;
    }
    &:hover {
      &:before {
        color: white;
      }
    }
  }

  .lightbox-body {
    background: #f9f9fa;

    .reward-info {
      @media @desktop-only {
        padding-left: 249px;
      }
    }
  }
  .slick-prev, .slick-next {
    position: fixed;
  }
  @media @from-tablet {
    .slick-prev, .slick-next {
      position: absolute;
      display: block!important;
      top: 20rem;
      bottom: auto;
      z-index: 10;
    }
    .slick-next:before {
      right: 30px;
      opacity: 1;
    }
    .slick-prev:before {
      left: 30px;
      opacity: 1;
    }
  }
  @media @from-mobile {
    padding: 15px;
    .icon-close {
      right: 2rem;
      top: 2rem;
    }
    .banner-wrap .item .thumb {
      height: 20rem;
    }
    .slick-prev, .slick-next {
      top: 11rem;
    }
  }
}

.slide-modal {
  overflow: hidden;
  .slide-inner {
    width: 999999px;
    overflow: hidden;
  }
  .modal-container {
    float: left;
    width: 1140px;
    overflow: hidden;
    @media @from-tablet {
      .calc(width, "(100vw - 60px)");
    }
    @media @from-tablet-portrait{
      .calc(width, "(100vw - 30px)");
    }
  }

}