include ../mixins/all

.wrapper.pad-top-min.pad-bot-md(style="background-color: #282929;")
    .inner-container
      .row
        .col-sm-12
          section.banner-wrap
            .banner-carousel
              +link-img('images/upload/Beneo.jpg','Beneo','http://www.foodfocusthailand.com/click.php?id=Top-BENEO-10-2017')
              +link-img('images/upload/Dringing.jpg','Drinking Edition','/roadmap/2017/drinking_nov.html')
              +link-img('images/upload/food_focus_1.jpg','Food Focus Thailand','/index.html')
              +link-img('images/upload/Meat.jpg','Meat & Poultry Edition','/roadmap/2017/meat_oct.html')
              +link-img('images/upload/Shimadzu.jpg','Shimadzu','http://www.foodfocusthailand.com/click.php?id=Top-shimad-1-2017')
              +link-img('images/upload/Vicchi.jpg','Vicchi','http://www.foodfocusthailand.com/click.php?id=top-vicchienterprise')