include ../mixins/all

.wrapper.pad-top-min.pad-bot-md(style="background-color: #282929;")
    .inner-container
      .row
        .col-sm-12
          section.banner-wrap
            .banner-carousel
              +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/1_Beneo.jpg','Beneo','http://www.foodfocusthailand.com/click.php?id=T_Beneo_0118')
              +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/2_Shimadzu.jpg','Shimadzu','http://www.foodfocusthailand.com/click.php?id=T_Shimadzu_0118')
              +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/3_Vicchi.jpg','Vicchi','http://www.foodfocusthailand.com/click.php?id=T_Vicchi_0118')
              +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/4_Functional.jpg','Functional F&B','http://www.foodfocusthailand.com/click.php?id=T_RM42FUNC_0118')
              +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/5_New_website.jpg','New Website','http://www.foodfocusthailand.com/click.php?id=T_NEWWEB_0118')
              +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/6_RoadShow_2018.jpg','RoadShow 2018','http://www.foodfocusthailand.com/click.php?id=T_RoadShow_0118')