include ../mixins/all

.wrapper.pad-top-min.pad-bot-min(style="background-color: #282929;")
    .inner-container
      .row
        .col-sm-12
          section.banner-wrap
            .banner-carousel
              +img('images/upload/top_1.gif')
              +img('images/upload/top_2.gif')
              +img('images/upload/top_3.gif')
              +img('images/upload/top_4.gif')
              +img('images/upload/top_5.gif')
              +img('images/upload/top_6.gif')