include ../mixins/all

footer#footer
  .inner-container
    .row
      .col-xs-12.col-sm-6.col-md-6
        p.text-medium.txt-white Enjoy reading through e-book applications:
        ul.partners.mar-top-xs
          li: +link-img('images/upload/p-1.png','http://www.ebooks.in.th/BeMediaFocus')
          li: +link-img('images/upload/p-2.png','https://issuu.com/bemediafocus')
          li: +link-img('images/upload/p-3.png','https://www.mebmarket.com/index.php?action=Publisher&publisher_id=393870&id=393870&name=Be%20Media%20Focus%20(Thailand)%20Co.,%20Ltd.')
          li: +link-img('images/upload/p-4.png')
          li: +link-img('images/upload/p-5.png','https://www.theonebook.com/index.php?action=Publisher&id=393870&name=Be%20Media%20Focus%20(Thailand)%20Co.,%20Ltd.')
      .col-xs-12.col-sm-6.col-md-6
        ul.social-icons
          li: +link-img('images/upload/social-1.png') 
          li: +link-img('images/upload/social-2.png')
        .address.mar-top-xs.txt-white
          p Be Media Focus (Thailand) Company Limited
          p 5/38 Soi Ngamwongwan 25 Yak 26, Bangkhen, 
          p Muang Nonthaburi, Nonthaburi 11000 Thailand
  .bottom-footer
    .inner-container
      .row
        .col-sm-12
          ul
            li: +link('Sitemap')
            li: +link('Contact')
            li: +link('Subscribe')


