include ../mixins/all

.mega-menu-mobile.hidden-md-up
  .outer-menu
    .collapse-item
      h3.collapse-header.no-content
        +link('Home','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo//index.html')
    .collapse-item
      h3.collapse-header.no-content
        +link('About Us','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo//about-us.html')
    .collapse-item
      h3.collapse-header
        +link('Magazine', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/magazine.html')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li: +link('Food Focus Thailand Magazine').level-1-title
                li: +link('Special Supplement').level-1-title
    .collapse-item
      h3.collapse-header
        +link('Events')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li: +link('Roadmap','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadmap.html').level-1-title
                li: +link('Roadshow','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadshow.html').level-1-title
                li: +link('Seminar & Conference','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadmap.html').level-1-title
                li: +link('Exhibition','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/event-exhibition.html').level-1-title
    .collapse-item
      h3.collapse-header
        +link('Services','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo//services.html')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li: +link('Contract Publication','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/services.html#publication').level-1-title
                li: +link('Anniversary & Annual Report','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/services.html#annual-report').level-1-title
                li: +link('Company Profile & Product Catalogue','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/services.html#catalog').level-1-title
                li: +link('Event Organizer','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/services.html#event').level-1-title
    .collapse-item
      h3.collapse-header.no-content
        +link('Contact Us')