include ../mixins/all

nav.global-nav.hidden-xs.hidden-sm
  ul
    li
      +link('Home')
    li.has-sub
      +link('About Us').link-sub
      .mega-menu
        .menu-wrap
          .inner-menu
            .level-1
              ul
                li: +link('About Company')
                li: +link('Endorsement')
                li: +link('Board of Consultants')
                li: +link('Advertisement')
    li.has-sub
      +link('Magazine').link-sub
      .mega-menu
        .menu-wrap
          .inner-menu
            .level-1
              ul
                li: +link('Food Focus Thailand Magazine')
                li: +link('Special Supplement')
    li.has-sub
      +link('Events').link-sub
      .mega-menu
        .menu-wrap
          .inner-menu
            .level-1
              ul
                li: +link('Food Focus Roadmap')
                li: +link('Food Focus Roadshow')
                li: +link('Seminar & Conference')
                li: +link('Exhibition')
    li.has-sub
      +link('Services').link-sub
      .mega-menu.image
        .menu-wrap
          .inner-menu
            .level-1.life-stage
              ul
                li: +life-stage('images/icons/ic-search.svg','Contract Publication')
                li: +life-stage('images/icons/ic-search.svg','Anniversary & Annual Report')
                li: +life-stage('images/icons/ic-search.svg','Company Profile & Product Catalogue')
                li: +life-stage('images/icons/ic-search.svg','Event Organizer')
    li: +link('Contact Us')

