include ../mixins/all

.mega-menu-mobile.hidden-md-up
  .outer-menu
    .collapse-item
      h3.collapse-header.no-content
        +link('Home','/index.html')
    .collapse-item
      h3.collapse-header.no-content
        +link('About Us','/about-us.html')
    .collapse-item
      h3.collapse-header
        +link('Magazine')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li: +link('Food Focus Thailand Magazine').level-1-title
                li: +link('Special Supplement').level-1-title
    .collapse-item
      h3.collapse-header
        +link('Events')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li: +link('Roadmap','/roadmap.html').level-1-title
                li: +link('Roadshow','/roadshow.html').level-1-title
                li: +link('Seminar & Conference','/roadmap.html').level-1-title
                li: +link('Exhibition','/event-exhibition.html').level-1-title
    .collapse-item
      h3.collapse-header
        +link('Services','/services.html')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li: +link('Contract Publication','/services.html#publication').level-1-title
                li: +link('Anniversary & Annual Report','/services.html#annual-report').level-1-title
                li: +link('Company Profile & Product Catalogue','/services.html#catalog').level-1-title
                li: +link('Event Organizer','/services.html#event').level-1-title
    .collapse-item
      h3.collapse-header.no-content
        +link('Contact Us')