include ../mixins/all

nav.global-nav.hidden-xs.hidden-sm
  ul
    li
      +link('Home','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/index.html')
    li.has-sub
      +link('About Us','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/about-us.html')
    li.has-sub
      +link('Magazine','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/magazine.html').link-sub
      .mega-menu
        .menu-wrap
          .inner-menu
            .level-1
              ul
                li: +link('Food Focus Thailand Magazine','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/magazine.html')
                li: +link('Special Supplement','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/magazine.html#specialsup')
    li.has-sub
      +link('Events','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/event-exhibition.html').link-sub
      .mega-menu
        .menu-wrap.white
          .inner-menu
            .level-1.life-stage
              ul
                li: +life-stage('images/icons/roadmap.png','Roadmap','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadmap.html')
                li: +life-stage('images/icons/roadshow.png','Roadshow','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadshow.html')
                li: +life-stage('images/icons/seminar.png','Seminar & Conference','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadmap.html')
                li: +life-stage('images/icons/exhibition.png','Exhibition','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/event-exhibition.html')
    li.has-sub
      +link('Services','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/services.html').link-sub
      .mega-menu
        .menu-wrap.white
          .inner-menu
            .level-1.life-stage
              ul
                li: +life-stage('images/icons/contract_pub.png','Contract Publication','services.html#publication')
                li: +life-stage('images/icons/annual_report.png','Anniversary & Annual Report','services.html#annual-report')
                li: +life-stage('images/icons/profile_catalog.png','Company Profile & Product Catalogue','services.html#catalog')
                li: +life-stage('images/icons/event_org.png','Event Organizer','services.html#event')
    li: +link('Contact Us','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/contact-us.html')

