include ../mixins/all

nav.global-nav.hidden-xs.hidden-sm
  ul
    li
      +link('Home').current
    li
      +link('About Us').link-sub
      .mega-menu
        .menu-wrap
          .inner-menu
            .level-1
              ul
                li: +link('Loans','#tab-loans').active
                li: +link('Cards','#tab-cards')
                li: +link('Deposits','#tab-deposits')
                li: +link('Insurance','#tab-insurance')
                li: +link('Investment','#tab-investment')
                li: +link('Payment','#tab-payment')
                li: +link('Other Services','#tab-services')
    li
      +link('Magazine')
      .mega-menu
        .menu-wrap
          .inner-menu
            .level-1
              ul
                li: +link('Loans','#tab-loans').active
                li: +link('Cards','#tab-cards')
                li: +link('Deposits','#tab-deposits')
                li: +link('Insurance','#tab-insurance')
                li: +link('Investment','#tab-investment')
                li: +link('Payment','#tab-payment')
                li: +link('Other Services','#tab-services')
    li 
      +link('Events')
      .mega-menu
        .menu-wrap
          .inner-menu
            .level-1
              ul
                li: +link('Loans','#tab-loans').active
                li: +link('Cards','#tab-cards')
                li: +link('Deposits','#tab-deposits')
                li: +link('Insurance','#tab-insurance')
                li: +link('Investment','#tab-investment')
                li: +link('Payment','#tab-payment')
                li: +link('Other Services','#tab-services')
    li 
      +link('Services')
      .mega-menu
        .menu-wrap
          .inner-menu
            .level-1
              ul
                li: +link('Loans','#tab-loans').active
                li: +link('Cards','#tab-cards')
                li: +link('Deposits','#tab-deposits')
                li: +link('Insurance','#tab-insurance')
                li: +link('Investment','#tab-investment')
                li: +link('Payment','#tab-payment')
                li: +link('Other Services','#tab-services')
    li: +link('Contact Us')

