include ../mixins/all

.mega-menu-mobile.hidden-md-up
  .outer-menu
    .collapse-item
      h3.collapse-header
        +link('Personal')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li
                  +link('Our Products','javascript:;').level-1-title.has-sub
                  .level-2-mobile
                    .inner
                      ul
                        li
                          +link('Loans','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Loans').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Cards','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Cards').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('Calculators and tools')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12
                                          li
                                            +link('Rewards and redemption')
                                              span Rewards and redemption
                                              span.promotion-no 22

                        li
                          +link('Deposits','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Deposits').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Insurance','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Investment','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Payment','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Other Services','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12
                li
                  +link('Stories & Tips').level-1-title
                li
                  +link('Support').level-1-title
    .collapse-item
      h3.collapse-header
        +link('SME')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li
                  +link('Our Products','javascript:;').level-1-title.has-sub
                  .level-2-mobile
                    .inner
                      ul
                        li
                          +link('Loans','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Loans').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Cards','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Cards').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('Calculators and tools')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12
                                          li
                                            +link('Rewards and redemption')
                                              span Rewards and redemption
                                              span.promotion-no 22

                        li
                          +link('Deposits','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Deposits').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Insurance','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Investment','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Payment','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Other Services','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12
                li
                  +link('Stories & Tips').level-1-title
                li
                  +link('Support').level-1-title
    .collapse-item
      h3.collapse-header
        +link('Corporate')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li
                  +link('Our Products','javascript:;').level-1-title.has-sub
                  .level-2-mobile
                    .inner
                      ul
                        li
                          +link('Loans','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Loans').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Cards','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Cards').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('Calculators and tools')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12
                                          li
                                            +link('Rewards and redemption')
                                              span Rewards and redemption
                                              span.promotion-no 22

                        li
                          +link('Deposits','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Deposits').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Insurance','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Investment','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Payment','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Other Services','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12
                li
                  +link('Stories & Tips').level-1-title
                li
                  +link('Support').level-1-title

    .collapse-item
      h3.collapse-header
        +link('Wealth')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li
                  +link('Our Products','javascript:;').level-1-title.has-sub
                  .level-2-mobile
                    .inner
                      ul
                        li
                          +link('Loans','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Loans').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Cards','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Cards').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('Calculators and tools')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12
                                          li
                                            +link('Rewards and redemption')
                                              span Rewards and redemption
                                              span.promotion-no 22

                        li
                          +link('Deposits','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Deposits').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Insurance','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Investment','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Payment','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12

                        li
                          +link('Other Services','javascript:;').level-2-title
                          .level-3-mobile
                            .inner
                              .row
                                .col-sm-8
                                  .row
                                    .col-sm-12
                                      +link('Browse All Insurance').link-view-all
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 I WANT A
                                        ul
                                          li: +link('Personal Loan')
                                          li: +link('Home Loan')
                                          li: +link('Car Loan')
                                    .col-sm-6
                                      .item
                                        h3 Help me to
                                        ul
                                          li: +link('Buy my first home')
                                          li: +link('Renovate my home')
                                          li: +link('Buy a car')
                                          li: +link('Borrow some money')
                                  .row
                                    .col-sm-6
                                      .item
                                        h3 QUICK LINKS
                                        ul
                                          li: +link('Calculators and tools')
                                          li: +link('Repay my loans')
                                          li
                                            +link('View promotions')
                                              span View promotions
                                              span.promotion-no 12
                li
                  +link('Stories & Tips').level-1-title
                li
                  +link('Support').level-1-title

    .collapse-item
      h3.collapse-header.no-content
        +link('About Us')
    .collapse-item
      h3.collapse-header.no-content
        +link('Branch Locator')
    .collapse-item
      h3.collapse-header.no-content
        +link('Investor Relations')

  ul.language
    li: +link('')
    li EN
    li: +link('')