include ../mixins/all

nav.global-nav.hidden-xs.hidden-sm
  ul
    li
      +link('Home','index.html')
    li
      +link('About Us','about-us.html')
    li.has-sub
      +link('Magazine').link-sub
      .mega-menu
        .menu-wrap
          .inner-menu
            .level-1
              ul
                li: +link('Food Focus Thailand Magazine')
                li: +link('Special Supplement')
    li.has-sub
      +link('Events','event-exhibition.html').link-sub
      .mega-menu
        .menu-wrap
          .inner-menu
            .level-1
              ul
                li: +link('Roadmap','roadmap.html')
                li: +link('Roadshow','roadmap.html')
                li: +link('Seminar & Conference','roadmap.html')
                li: +link('Exhibition')
    li.has-sub
      +link('Services','services.html').link-sub
      .mega-menu.image
        .menu-wrap
          .inner-menu
            .level-1.life-stage
              ul
                li: +life-stage('images/icons/ic-search.svg','Contract Publication')
                li: +life-stage('images/icons/ic-search.svg','Anniversary & Annual Report')
                li: +life-stage('images/icons/ic-search.svg','Company Profile & Product Catalogue')
                li: +life-stage('images/icons/ic-search.svg','Event Organizer')
    li: +link('Contact Us')

