include ../mixins/all

.mega-menu-mobile.hidden-md-up
  .outer-menu
    .collapse-item
      h3.collapse-header.no-content
        +link('Home','/index.html')
    .collapse-item
      h3.collapse-header.no-content
        +link('About Us','/about-us.html')
    .collapse-item
      h3.collapse-header
        +link('Magazine')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li: +link('Food Focus Thailand Magazine').level-1-title
                li: +link('Special Supplement').level-1-title
    .collapse-item
      h3.collapse-header
        +link('Events')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li: +link('Food Focus Roadmap','/roadmap.html').level-1-title
                li: +link('Food Focus Roadshow','/roadmap.html').level-1-title
                li: +link('Seminar & Conference','/roadmap.html').level-1-title
                li: +link('Exhibition').level-1-title
    .collapse-item
      h3.collapse-header
        +link('Services','/services.html')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li: +link('Contract Publication').level-1-title
                li: +link('Anniversary & Annual Report').level-1-title
                li: +link('Company Profile & Product Catalogue').level-1-title
                li: +link('Event Organizer').level-1-title
    .collapse-item
      h3.collapse-header.no-content
        +link('Contact Us')