include ../mixins/all

.mega-menu-mobile.hidden-md-up
  .outer-menu
    .collapse-item
      h3.collapse-header.no-content
        +link('Home')
    .collapse-item
      h3.collapse-header
        +link('About Us')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li: +link('About Company').level-1-title
                li: +link('Endorsement').level-1-title
                li: +link('Board of Consultants').level-1-title
                li: +link('Advertisement').level-1-title
    .collapse-item
      h3.collapse-header
        +link('Magazine')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li: +link('Food Focus Thailand Magazine').level-1-title
                li: +link('Special Supplement').level-1-title
                li: +link('Food Focus Roadmap').level-1-title
                li: +link('Food Focus Roadshow').level-1-title
                li: +link('Seminar & Conference').level-1-title
                li: +link('Exhibition').level-1-title
    .collapse-item
      h3.collapse-header
        +link('Events')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li: +link('Food Focus Roadmap').level-1-title
                li: +link('Food Focus Roadshow').level-1-title
                li: +link('Seminar & Conference').level-1-title
                li: +link('Exhibition').level-1-title
    .collapse-item
      h3.collapse-header
        +link('Services')
      .collapse-inner
        .mega-menu
          .inner-menu
            .level-1
              ul
                li: +link('Contract Publication').level-1-title
                li: +link('Anniversary & Annual Report').level-1-title
                li: +link('Company Profile & Product Catalogue').level-1-title
                li: +link('Event Organizer').level-1-title
    .collapse-item
      h3.collapse-header.no-content
        +link('Contact Us')