extends ../../layouts/layout

block vars
  -title = 'Drinking Edition 2017 - Roadmap Detail'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm
          ul.list-icons.pad-top-lg(data-stickyScroll)
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white ROADMAP
          .content-header.mar-top
            span.title.light.txt-black DRINKING EDITION 2017
            span.title-3.light.txt-black.mar-left 10 NOVEMBER 2017
          .content-body
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Drink_2017.jpg').mar-top-md.mar-bot-md
            p.text-medium อุตสาหกรรมเครื่องดื่มนับเป็นอีกหนึ่งอุตสาหกรรมที่มาแรง ดังจะเห็นได้จากมีผลิตภัณฑ์เครื่องดื่มรูปแบบใหม่ๆ ออกสู่ตลาดทั้งจากผู้เล่นหน้าใหม่และหน้าเก่า เนื่องจากเป็นผลิตภัณฑ์ในอุดมคติที่สามารถนำมาจับขัดสนิม แต่งตัวใหม่ และสร้างลูกเล่นได้อย่างหลากหลาย
            p.text-medium.mar-top The beverage industry is on fire. Many new beverage products are launching into the market from both old and new players. Beverage product is “evergreen” and can be rusted away, redressed, and creative.

        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12
          .col-sm-12
            h2.title Other Events
          .col-md-12.col-sm-6
            .content-item
              +life-stage('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Meat_2017.jpg', 'Meat & Poultry Edition', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadmap/2017/meat_oct.html')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Chill_2017.jpg', 'Chilled & Frozen Products Edition', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadmap/2017/chilled_jul.html')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Functional_2017.jpg', 'Functional F&B Edition', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadmap/2017/functional_mar.html')

      