extends ../../layouts/layout

block vars
  -title = 'Functional F&B Edition 2017 - Roadmap Detail'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm
          ul.list-icons.pad-top-lg(data-stickyScroll)
            li: +link-img('../../images/icons/ic-fb.svg','#')
            li: +link-img('../../images/icons/ic-twitter.svg','#')
            li: +link-img('../../images/icons/ic-linkedin.svg','#')

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white ROADMAP
          .content-header.mar-top
            span.title.light.txt-black FUNCTIONAL F&B EDITION 2017
            span.title-3.light.txt-black.mar-left 24 MARCH 2017
          .content-body
            +img('../../images/upload/Functional_2017.jpg').mar-top-md.mar-bot-md
            p.text-medium ผู้บริโภคยุคใหม่ฉลาดและรู้จักเลือกสินค้าที่มีประโยชน์ต่อสุขภาพมากขึ้น เริ่มมีแนวคิดที่ว่าการป้องกันดีกว่าการรักษา ส่งผลให้เทรนด์ผลิตภัณฑ์เสริมอาหารเสริมสุขภาพเติบโตขึ้น ฟู้ด โฟกัส ไทยแลนด์ โรดแมพในครั้งนี้นำเสนอข้อมูลด้านเทคโนโลยีเพื่อการพัฒนาผลิตภัณฑ์ กลยุทธ์ด้านการตลาด เทรนด์ของผู้บริโภค และมาตรฐานเพื่อยกระดับคุณภาพและการส่งออก  
            p.text-medium.mar-top Modern consumers are smart and know how to choose healthy products. They have an idea that prevention is better than treatment, resulting in growing of functional food and beverage. This time "Food Focus Thailand Roadmap" is proud to present information about technology for products development, marketing strategies, consumer trends, and standards for quality upgrading and promoting export growth. 


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('../../images/icons/ic-fb.svg','#')
            li: +link-img('../../images/icons/ic-twitter.svg','#')
            li: +link-img('../../images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12
          .col-sm-12
            h2.title Other Events
          .col-md-12.col-sm-6
            .content-item
              +life-stage('../../images/upload/Chill_2017.jpg', 'Chilled & Frozen Products Edition')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('../../images/upload/Drink_2017.jpg', 'Drinking Edition')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('../../images/upload/Meat_2017.jpg', 'Meat & Poultry Edition')

      