extends ../../layouts/layout

block vars
  -title = 'Chilled & Frozen Products Edition 2015 - Roadmap Detail'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm
          ul.list-icons.pad-top-lg(data-stickyScroll)
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white ROADMAP
          .content-header.mar-top
            span.title.light.txt-black CHILLED & FROZEN PRODUCTS EDITION 2015
            span.title-3.light.txt-black.mar-left 28 AUGUST 2015
          .content-body
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Chill_2015.jpg').mar-top-md.mar-bot-md
            p.text-medium ตอบโจทย์ไลฟ์สไตล์ที่เปลี่ยนแปลงไปในยุคปัจจุบัน Food Focus Thailand Roadmap # 32: Chilled & Frozen Products Edition งานสัมมนาซึ่งเป็นเวทีกลางที่เปิดโอกาสให้ผู้เข้าร่วมงานได้แสดงความคิดเห็นและแลกเปลี่ยนประสบการณ์ในการสร้างสรรค์ผลิตภัณฑ์อาหารแช่เย็นและแช่แข็งต่างๆ 
            p.text-medium.mar-top Reflecting changing lifestyles today, a seminar of Food Focus Thailand Roadmap # 32: Chilled & Frozen Products Edition is arranged to be the central stage which allows the attendees to express their comments and exchange experiences regarding the innovations of chilled and frozen products.

        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12
          .col-sm-12
            h2.title Other Events
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Drink_2015.jpg', 'Drinking Edition', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadmap/2015/drinking_oct.html')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Retail_2015.jpg', 'F&B Retail Edition', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadmap/2015/retail_jul.html')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Meat_2015.jpg', 'Meat & Poultry Edition', 'http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadmap/2015/meat_may.html')

      