extends ../../layouts/layout

block vars
  -title = 'New Product Ideas Edition 2015 - Roadmap Detail'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm
          ul.list-icons.pad-top-lg(data-stickyScroll)
            li: +link-img('../../images/icons/ic-fb.svg','#')
            li: +link-img('../../images/icons/ic-twitter.svg','#')
            li: +link-img('../../images/icons/ic-linkedin.svg','#')

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white ROADMAP
          .content-header.mar-top
            span.title.light.txt-black NEW PRODUCT IDEAS EDITION 2015
            span.title-3.light.txt-black.mar-left 20 MARCH 2016
          .content-body
            +img('../../images/upload/New_Idea_2015.jpg').mar-top-md.mar-bot-md
            p.text-medium ฟู้ด โฟกัส ไทยแลนด์ โรดแมพ จัดสัมมนาตอบโจทย์การสร้างสรรค์ไอเดียเจ๋งๆ การออกแบบผลิตภัณฑ์ หยั่งรู้พฤติกรรมผู้บริโภค วิเคราะห์ตลาด เพื่อสร้างจุดยืนและรักษาส่วนแบ่งทางการตลาดให้กับผลิตภัณฑ์อาหารและเครื่องดื่ม
            p.text-medium.mar-top Food Focus Thailand Roadmap was delving into the idea generation, consumer behavior, marketing analysis and so on. These can be definitely applied to secure the product positioning and market share. 


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('../../images/icons/ic-fb.svg','#')
            li: +link-img('../../images/icons/ic-twitter.svg','#')
            li: +link-img('../../images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12
          .col-sm-12
            h2.title Other Events
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Chill_2015.jpg', 'Chilled & Frozen Products Edition', '/roadmap/2015/chilled_aug.html')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Retail_2015.jpg', 'F&B Retail Edition', '/roadmap/2015/retail_jul.html')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Drink_2015.jpg', 'Drinking Edition', '/roadmap/2015/drinking_oct.html')

      