script(src="https://maps.google.com/maps/api/js?key=AIzaSyCW_RTYLjeTeK_AVea9LrJADQwvDAvMxU4")
script(src="http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/js/l10n.js")
script(src="http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/js/libs.js")
script(src="../js/script.js")
<!-- build:development-only -->
script(src="//localhost:35729/livereload.js")
<!-- endbuild -->
