extends ../../../layouts/layout

block vars
  -title = 'เบทาโกรตอกย้ำแนวคิด “เพื่อคุณภาพชีวิต”'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white NEWS
          .content-header.mar-top
            span.title.light.txt-black เบทาโกรตอกย้ำแนวคิด “เพื่อคุณภาพชีวิต”
            span.title-3.light.txt-black.mar-left
          .content-body
            +img('/images/upload/news_1.jpg').mar-top-md.mar-bot-md
            p.text-medium 
              b เบทาโกรตอกย้ำแนวคิด “เพื่อคุณภาพชีวิต” ประกาศนโยบาย สวัสดิภาพสัตว์ (Animal Welfare) เพื่อผู้บริโภคมั่นใจ จากสัตว์สุขภาพดี สู่ผู้บริโภคสุขภาพดี
            p.text-medium.mar-top นายวนัส แต้ไพสิฐพงษ์ ประธานเจ้าหน้าที่บริหาร เครือเบทาโกร เปิดเผยว่า ตลอดระยะเวลา 50 ปีที่ผ่านมา เบทาโกรให้ความสำคัญและมุ่งมั่นก้าวเป็นผู้นำในเรื่องการผลิตอาหารที่มีคุณภาพสูง (Food Quality) และปลอดภัย (Food Safety) สำหรับผู้บริโภคทุกระดับ “คุณภาพ” แบบเบทาโกร มีความเข้มข้นในระดับที่เรียกว่าถ้าสิ่งนั้นไม่ดีจริง จะไม่ยอมให้ออกสู่ภายนอกไปถึงมือผู้บริโภค (Uncompromising Quality) ซึ่งองค์ประกอบที่ทำให้เกิด Uncompromising Quality มาจาก คนคุณภาพ (Excellent People) โดยเบทาโกร มุ่งมั่นที่จะพัฒนาศักยภาพของพนักงานทุกระดับ ทำให้พนักงานมีความรู้ ความสามารถ และสามารถปฏิบัติหน้าที่ของตนเองได้อย่างมีประสิทธิภาพสูงสุด และกระบวนการควบคุมคุณภาพ (Excellent Process) ได้แก่ Betagro Quality Management 24/7 โดย หลักสวัสดิภาพสัตว์ (Animal Welfare) ถือเป็นหนึ่งในหัวใจสำคัญของเครื่องมือการจัดการด้านคุณภาพดังกล่าวนี้ด้วย
            p.text-medium.mar-top ในฐานะผู้บุกเบิกธุรกิจปศุสัตว์มาอย่างต่อเนื่องมากกว่า 40 ปี เบทาโกรได้ให้ความสำคัญกับการพัฒนาสายพันธุ์สุกร ซึ่งถือเป็นต้นทางของการผลิตสุกรให้มีคุณภาพดีอย่างต่อเนื่อง ทั้งด้านการผลิต การควบคุมมาตรฐานและคุณภาพ ตลอดจนการนำเทคโนโลยีที่ทันสมัยมาใช้เพื่อเพิ่มประสิทธิภาพในทุกๆ ด้าน อีกสิ่งหนึ่งที่เบทาโกรให้ความสำคัญคือการคำนึงถึงหลักสวัสดิภาพสัตว์ที่ดี โดยมีนโยบายที่ชัดเจน และริเริ่มหลากหลายโครงการที่ยกระดับมาตรฐานการเลี้ยงและการปฏิบัติต่อสัตว์อย่างมีคุณธรรม ครอบคลุมทุกขั้นตอนการผลิต และสอดคล้องกับมาตรฐานระหว่างประเทศ ได้แก่ การนำหลักสวัสดิภาพสัตว์ขององค์การโรคระบาดสัตว์ระหว่างประเทศ (World Organisation for Animal Health: OIE) มาตรฐานหลักปฏิบัติและกฎระเบียบของสหภาพยุโรป มาประยุกต์ใช้ เป็นต้น รวมถึงให้ความสำคัญดำเนินตามมาตรฐานที่เข้มข้นตามที่ลูกค้ากำหนด นอกจากนี้ ทีมบุคลากรยังประกอบไปด้วยผู้เชี่ยวชาญซึ่งได้รับการอบรมด้านสวัสดิภาพสัตว์จากหลายสถาบันระดับโลก เช่น มหาวิทยาลัยบริสทอล ประเทศอังกฤษ
            p.text-medium.mar-top ปี พ.ศ. 2558 เครือเบทาโกร ได้ร่วมมือกับองค์กรพิทักษ์สัตว์แห่งโลก (World Animal Protection) เป็นรายแรกในภูมิภาคเอเซียแปซิฟิก ในโครงการยกระดับสวัสดิภาพสัตว์ รวมถึงลักษณะของสุขภาพสัตว์ที่เกี่ยวข้องในการผลิตสุกรและสัตว์ปีก จากการทำงานร่วมกันตลอดระยะเวลาเกือบ 3 ปี ทำให้เบทาโกรตัดสินใจประกาศยกเลิกการเลี้ยงแม่สุกรแบบยืนซองภายหลังคลอดและซองคลอดเป็นรายแรกในภูมิภาคเอเซียตะวันออกเฉียงใต้ โดยเปลี่ยนมาเป็นระบบการเลี้ยงแบบรวมกลุ่มและคอกคลอด เพื่อให้สุกรในฟาร์มสามารถเคลื่อนไหวได้อย่างอิสระ ลดภาวะเครียด และสามารถแสดงออกถึงพฤติกรรมตามธรรมชาติได้มากขึ้น โดยตั้งเป้าครบทุกฟาร์มในเครือฯ ภายในปีพ.ศ.2570 ซึ่งจะมีจำนวนแม่สุกรไม่ต่ำกว่า 250,000 แม่ ได้รับการปรับปรุงด้านสวัสดิภาพสัตว์ที่ดีขึ้น
            p.text-medium.mar-top “เราเชื่อว่าสัตว์ในฟาร์มควรมีคุณภาพชีวิตที่ดี การเลี้ยงหมูแบบรวมกลุ่ม มีพื้นที่เคลื่อนไหวได้มากขึ้น จะทำให้หมูเครียดน้อยลง ทำให้ลูกสุกรหย่านมมีน้ำหนักที่ดีกว่าการเลี้ยงสัตว์ในฟาร์มอย่างไม่ถูกต้องโดยเฉพาะการเลี้ยงที่หนาแน่นเกินไปหรือเลี้ยงในพื้นที่ที่จำกัดไม่เป็นธรรมชาติ จะส่งผลให้สัตว์เกิดความเครียด พฤติกรรมต่างๆ การทำงานของร่างกาย เช่น ภูมิคุ้มกันและสุขภาพของสัตว์จะแย่ลง มักเป็นต้นเหตุของการใช้ยาปฏิชีวนะในอัตราที่สูง ส่งผลต่อคุณภาพของผลิตภัณฑ์อาหาร และมีผลต่อสุขภาพของผู้บริโภค” นายวนัสกล่าว
            p.text-medium.mar-top นางสุภาภรณ์ ลาสต์ ผู้อำนวยการองค์กรพิทักษ์สัตว์แห่งโลก ประเทศไทย กล่าวว่า องค์กรพิทักษ์สัตว์แห่งโลกภูมิใจเป็นอย่างยิ่งที่ได้ทำงานร่วมกับเบทาโกรมาในตลอดระยะเวลา 3 ปีที่ผ่านมา เพราะเราเห็นถึงการเปลี่ยนแปลงการเลี้ยงสุกรให้ดีขึ้นอย่างต่อเนื่อง เบทาโกรมีแนวคิดและมีความมุ่งมั่นในการเลี้ยงสุกร       ไม่เพียงให้ได้มารตฐานสากลเท่านั้น แต่ยังให้ความสนใจในการพัฒนาและปรับปรุงการเลี้ยงสุกรให้ได้รับสวัสดิภาพที่ดี ทำให้สุกรมีคุณภาพชีวิตก่อนนำส่งถึงมือผู้บริโภค ดังนั้นจึงเป็นข่าวดีที่เบทาโกรได้ประกาศยกเลิกการเลี้ยงสุกรแบบยืนซองภายหลังคลอด มาเป็นระบบการเลี้ยงแบบกลุ่ม โดยองค์กรฯ เชื่อมั่นว่าเป็นนิมิตหมายอันดีต่ออนาคตของสุกรที่เลี้ยงในระบบฟาร์ม เพราะจะส่งผลทำให้ผู้ประกอบการรายอื่น รวมถึงผู้บริโภคหันมาใส่ใจแหล่งที่มาของเนื้อหมูมากขึ้น นั่นหมายถึงสุกรนับแสนในแต่ละปีจะได้รับการเลี้ยงดูอย่างมีคุณภาพเพิ่มมากขึ้น
            p.text-medium.mar-top ส่วนองค์กรฯ ก็ได้รณรงค์ให้ผู้บริโภคเข้าใจและหันมาใส่ใจในแหล่งผลิตของเนื้อหมู พร้อมกับรณรงค์ให้ผู้ผลิตเลี้ยงสุกรอย่างมีคุณภาพ ให้ความสำคัญในเรื่องสวัสดิภาพความเป็นอยู่ของสุกร (Raised with Care) รวมถึงกระตุ้นผู้จัดจำหน่ายให้เพิ่มจำนวนและความหลากหลายของผลิตภัณฑ์เนื้อหมูที่ถูกเลี้ยงอย่างมี     สวัสดิภาพที่ดีให้แก่ผู้บริโภค เพราะเนื้อหมูที่ดีนั้นมาจากหมูสุขภาพดี
            p.text-medium.mar-top
              a(href="http://www.betagro.com", target="_blank") www.betagro.com
            


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('/images/icons/ic-fb.svg','#')
            li: +link-img('/images/icons/ic-twitter.svg','#')
            li: +link-img('/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12

      