extends ../../../layouts/layout

block vars
  -title = 'สสว.- สถาบันอาหาร จับคู่ธุรกิจให้คลัสเตอร์มะพร้าวที่เวียดนาม'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white NEWS
          .content-header.mar-top
            span.title.light.txt-black สสว.- สถาบันอาหาร จับคู่ธุรกิจให้คลัสเตอร์มะพร้าวที่เวียดนาม
            span.title-3.light.txt-black.mar-left
          .content-body
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/news_3.jpg').mar-top-md.mar-bot-md
            p.text-medium 
              b สสว.- สถาบันอาหาร จับคู่ธุรกิจให้คลัสเตอร์มะพร้าวที่เวียดนาม
            p.text-medium.mar-top 
              b เวียดนาม, 2 ตุลาคม 2560 -
              span กระทรวงอุตสาหกรรม จัดเจรจาจับคู่ธุรกิจ SME คลัสเตอร์มะพร้าวจาก 26 เครือข่ายของไทยกับเทรดเดอร์ 47 บริษัทที่เวียดนาม ชี้น้ำมันมะพร้าวและเจลน้ำมันมะพร้าวในกลุ่มผลิตภัณฑ์เครื่องสำอางได้รับความนิยมสูง เผยเวียดนามขาดแคลนโรงงานแปรรูปสร้างมูลค่าเพิ่มให้ผลิตภัณฑ์มะพร้าว แนะเป็นโอกาสของผู้ประกอบการไทยที่มีความเชี่ยวชาญลงทุนเป็นฐานผลิตเพื่อส่งออก
            p.text-medium.mar-top นายยงวุฒิ เสาวพฤกษ์ ผู้อำนวยการสถาบันอาหาร กระทรวงอุตสาหกรรม เผยความคืบหน้าล่าสุด ภายใต้การดำเนินการโครงการสนับสนุนเครือข่าย SME  ปี 2560 ในกลุ่มอุตสาหกรรมมะพร้าว ตามที่ได้รับมอบหมายจากสำนักงานส่งเสริมวิสาหกิจขนาดกลางและขนาดย่อย (สสว.) ว่า เมื่อเร็วๆ นี้ ได้นำคณะผู้ประกอบการสมาชิกคลัสเตอร์มะพร้าวที่ได้รับคัดเลือกจำนวน 26 ราย จากหลายจังหวัด อาทิ หนองคาย ร้อยเอ็ด นครนายก นครสวรรค์ เลย นครราชสีมา สระบุรี ฉะเชิงเทรา เพชรบุรี ชุมพร ประจวบคีรีขันธ์ สุราษฏร์ธานี พังงา สตูล และปัตตานี เป็นต้น เดินทางไปประเทศเวียดนาม ณ นครโฮจิมินห์ เพื่อศึกษาโอกาสการลงทุนในเขตอุตสาหกรรมจังหวัดบิงห์เยือง สำรวจตลาดค้าปลีกสมัยใหม่ รวมถึงตลาดท้องถิ่นที่มีชื่อเสียง ได้แก่ ตลาดเบนถั่น (Ben Thanh) พร้อมเยี่ยมชมบริษัท BETRIMEX ผู้ผลิตผลิตภัณฑ์แปรรูปมะพร้าวที่มีชื่อเสียง และเจรจาจับคู่ธุรกิจ (Business Matching) กับบริษัทนำเข้าและค้าส่งของเวียดนามรวม 47 บริษัท
            p.text-medium.mar-top “น้ำมันมะพร้าว และผลิตภัณฑ์แปรรูปจากมะพร้าวของไทยในรูปของเจลน้ำมันมะพร้าวในกลุ่มผลิตภัณฑ์เครื่องสำอาง ดูแลผิวและเส้นผม ได้รับความสนใจค่อนข้างมาก นอกจากเทรดเดอร์จะจำหน่ายในประเทศเวียดนามแล้ว ยังส่งออกไปตลาดจีนและประเทศอื่นๆ ด้วย ขณะนี้อยู่ระหว่างรอรวบรวมคำสั่งซื้อ คาดว่าจะมีมูลค่าไม่ต่ำกว่า 30 ล้านบาท เมื่อรวมกับการจับคู่ธุรกิจที่จีน ไต้หวัน และตลาดในประเทศก่อนหน้านี้ ประเมินว่าจะมียอดสั่งซื้อรวมกันไม่น้อยกว่า 200 ล้านบาทในปีแรก” นายยงวุฒิ กล่าว
            p.text-medium.mar-top อย่างไรก็ตาม แม้เวียดนามจะเป็นหนึ่งในประเทศที่ปลูกและส่งออกมะพร้าวมากเป็นอันดับต้นๆ ของโลก  แต่มูลค่าการส่งออกมะพร้าวของเวียดนามต่ำกว่า 3 – 5 เท่าเมื่อเทียบกับประเทศอื่นๆ เนื่องจากอุตสาหกรรมแปรรูปมะพร้าวของเวียดนามเพื่อผลิตผลิตภัณฑ์ที่มีมูลค่าเพิ่มสูงยังมีไม่มาก จึงเป็นโอกาสสำหรับผู้ประกอบการไทยที่มีความเชี่ยวชาญในอุตสาหกรรมแปรรูปอาหารจะใช้ความได้เปรียบจากแหล่งวัตถุดิบที่อุดมสมบูรณ์ ค่าจ้างแรงงานที่ถูกกว่าไทย นโยบายของรัฐบาลเวียดนามที่ส่งเสริมการลงทุนจากต่างประเทศ และใช้ประโยชน์จากความตกลง FTA ที่เวียดนามได้ลงนามไว้ พิจารณามาตั้งโรงงานแปรรูปมะพร้าวในเวียดนามได้อีกทางหนึ่ง นอกจากส่งผลิตภัณฑ์แปรรูปจากไทยเข้าไปจำหน่ายเท่านั้น 
            

        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12

      