extends ../../../layouts/layout

block vars
  -title = 'Food Industry in Germany'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white WHATS-IN
          .content-header.mar-top
            span.title.light.txt-black Food Industry in Germany
            span.title-3.light.txt-black.mar-left
          .content-body
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/2_nov.jpg').mar-top-md.mar-bot-md
            p.text-medium 
              em เศรษฐกิจภาคการเกษตรและอาหาร และอุตสาหกรรมอาหารในเยอรมนี  
            p.text-medium.mar-top 
              em 1. เศรษฐกิจภาคการเกษตรและอาหาร 
            p.text-medium ภาคการเกษตร ประมง และป่าไม้ ของเยอรมนี นับว่ามีผลผลิตอยู่ในระดับสูง เนื่องจากมีการประยุกต์ใช้เทคโนโลยีที่ก้าวหน้าและทันสมัย โดยในช่วงปี 2538-2558 ภาคการเกษตรของประเทศมีผลิตภาพสูงขึ้นถึง ร้อยละ 72 และผลิตภาพของเศรษฐกิจเยอรมนีในภาพรวมก็เพิ่มขึ้นถึงร้อยละ 42
            p.text-medium.mar-top เยอรมนีเป็นผู้ผลิตสินค้าทางการเกษตรที่ใหญ่ที่สุดเป็นอันดับ 3 ในสหภาพยุโรป เป็นรองเพียงฝรั่งเศสและอิตาลี โดยมีผลผลิตทางการเกษตรคิดเป็นร้อยละ 12.5 ของผลผลิตทางการเกษตรทั้งหมดในสหภาพยุโรป ในกลุ่มประเทศสหภาพยุโรปด้วยกัน เยอรมนีเป็นผู้ผลิตนม เนื้อสุกร เรพซีด และมันฝรั่งที่ใหญ่ที่สุด นอกจากนี้ยังเป็นผู้ผลิตซีเรียลหรือธัญพืช ต้นบีทที่นำไปสกัดเป็นน้ำตาล (Sugar beet) และเนื้อวัวที่ใหญ่ที่สุดเป็นอันดับสองอีกด้วย
            p.text-medium.mar-top พื้นที่ทำการเกษตรหรือฟาร์มในเยอรมนีส่วนใหญ่ร้อยละ 98 เป็นการดำเนินการโดยบุคคลหรือในรูปแบบหุ้นส่วน ซึ่งโดยส่วนมากเป็นธุรกิจในครอบครัว และร้อยละ 50 ของผู้ที่ทำงานในฟาร์มก็เป็นสมาชิกในครอบครัวนั่นเอง ฟาร์มเหล่านี้ใช้พื้นที่สำหรับทำการเกษตรถึงร้อยละ 99 โดยมีขนาดฟาร์มเฉลี่ยประมาณ 59.6 เฮกตาร์
            p.text-medium.mar-top เศรษฐกิจภาคอาหารของเยอรมนีจะรวมทั้งกลุ่มภาคการเกษตรดังที่กล่าวมาข้างต้น และภาคการค้าส่งสินค้าทางการเกษตร รวมทั้งงานฝีมือที่เกี่ยวข้องกับอาหาร (Food-based crafts) อุตสาหกรรมอาหาร อุตสาหกรรมค้าส่งและค้าปลีก ตลอดจนกลุ่มธุรกิจ HoReCa ซึ่งคือ กลุ่มธุรกิจโรงแรม ร้านอาหาร และการบริการจัดเลี้ยงอีกด้วย
            p.text-medium.mar-top ในเยอรมนีมีจำนวนบริษัทที่ดำเนินธุรกิจเกี่ยวข้องกับอาหารถึง 705,000 บริษัท มีการจ้างงาน 5.3 ล้านคน และสร้างรายได้กว่า 808 พันล้านยูโร
            p.text-medium.mar-top 
              em 2. อุตสาหกรรมอาหาร 
            p.text-medium อุตสาหกรรมอาหารของเยอรมนีนับว่าใหญ่ที่สุดในยุโรป และใหญ่เป็นอันดับที่ 3 ของอุตสาหกรรมทั้งหมดในประเทศเยอรมนีเอง ข้อมูลในปี 2559 พบว่ามีจำนวน 5,860 บริษัท ที่มีการจ้างงาน 581,000 คน และก่อให้เกิดรายได้ถึง 172 พันล้านยูโรเลยทีเดียว
            p.text-medium.mar-top เนื้อสัตว์และผลิตภัณฑ์จากเนื้อสัตว์เป็นกลุ่มประเภทในอุตสาหกรรมอาหารที่มีความสำคัญที่สุดของเยอรมนี โดยครองส่วนแบ่งรายได้ภายในประเทศร้อยละ 23.5 ตามมาด้วยนมและผลิตภัณฑ์จากนม (ร้อยละ 13.9) ผลิตภัณฑ์เบเกอรี่ (ร้อยละ 9.6) ผลิตภัณฑ์ลูกอม ขนมหวาน และผลิตภัณฑ์เบเกอรี่ที่มีอายุการเก็บรักษายาวนาน (ร้อยละ 8.5) และผลิตภัณฑ์เครื่องดื่มผสมแอลกอฮอล์ (ร้อยละ 7.6)
            p.text-medium.mar-top ด้วยชื่อเสียงในด้านคุณภาพ ราคาที่สามารถแข่งขันได้ ความน่าเชื่อถือของแหล่งผลิต ตลอดจนความหลากหลายของผลิตภัณฑ์ ทำให้ผลิตภัณฑ์อาหารและเครื่องดื่มที่ “ผลิตในเยอรมนี” ได้รับความนิยมและมีจำหน่ายอยู่ทั่วทุกมุมโลก
            p.text-medium.mar-top จากที่กล่าวมาจึงไม่น่าแปลกใจเลยที่อุตสาหกรรมอาหารของเยอรมนีจะสร้างยอดการส่งออก โดยเติบโตถึงเท่าตัว จากร้อยละ 17 ของผลประกอบการรวมในปี 2541 ไปเป็นร้อยละ 33 นอกจากนี้ มูลค่าการส่งออกก็เติบโตมากกว่าเท่าตัวโดยเพิ่มขึ้นถึงร้อยละ 172
            p.text-medium.mar-top ปัจจุบันการส่งออกผลิตภัณฑ์อาหารแปรรูปและเครื่องดื่มของเยอรมนีมีมูลค่าอยู่ที่ 56.6 พันล้านยูโร โดยในภาพรวมถือว่าเติบโตมากกว่าปี 2558 ร้อยละ 3.3 และยังมีการส่งออกไปยังตลาดนอกกลุ่มประเทศสหภาพยุโรปมากขึ้นกว่าปี 2558 ร้อยละ 7.5 ปัจจุบันเยอรมนีเป็นประเทศที่ส่งออกผลิตภัณฑ์อาหารและเครื่องดื่มที่ใหญ่ที่สุดเป็นอันดับ  3 ของโลก ด้วยส่วนแบ่งตลาดมากกว่าร้อยละ 6 ของมูลค่าการส่งออกของทั่วโลก
            p.text-medium.mar-top แม้ว่าในปัจจุบันเยอรมนีจะส่งออกผลิตภัณฑ์อาหารและเครื่องดื่มไปยังกลุ่มประเทศในสหภาพยุโรปถึงร้อยละ 78.1 แต่เอเชียนับเป็นตลาดนอกกลุ่มสหภาพยุโรปที่สำคัญที่สุดของเยอรมนีด้วยส่วนแบ่งการส่งออกร้อยละ 7.8 คิดเป็นมูลค่าการส่งออก 4.3 พันล้านยูโร เฉพาะประเทศจีนเพียงประเทศเดียวมีมูลค่าการส่งออกถึง 1.7 พันล้านยูโร ซึ่งมากกว่ามูลค่าการส่งออกไปยังสหรัฐอเมริกาอีกด้วย
            p.text-medium.mar-top อุตสาหกรรมเนื้อสัตว์ถือว่าเป็นกลุ่มอาหารส่งออกที่มีความสำคัญมากที่สุด โดยครองส่วนแบ่งร้อยละ 18.8  ตามมาด้วยอุตสาหกรรมผลิตภัณฑ์นม ร้อยละ 15.1 และอุตสาหกรรมลูกอม ขนมหวาน และเบเกอรี่ที่มีอายุการเก็บรักษายาวนาน ร้อยละ 14.5
            p.text-medium.mar-top บริษัทผลิตอาหารที่ใหญ่ที่สุดในเยอรมนี ได้แก่ Tönnies ซึ่งเป็นผู้ผลิตผลิตภัณฑ์เนื้อสัตว์ Dr.Oetker ซึ่งเป็นผู้ผลิตผลิตภัณฑ์อาหารพร้อมรับประทาน และ DMK ผู้ผลิตผลิตภัณฑ์นม
            p.text-medium.mar-top อย่างไรก็ตาม ผู้ผลิตผลิตภัณฑ์อาหารและเครื่องดื่มในเยอรมนีถึงกว่าร้อยละ 95 เป็นบริษัทขนาดเล็กและขนาดกลาง บางบริษัทมีอายุยาวนานกว่า 100 ปี เป็นธุรกิจในครอบครัว มีองค์ความรู้ หรือ Know-how ที่เฉพาะทาง และใช้เทคโนโลยีขั้นสูง สิ่งเหล่านี้ส่งผลให้บริษัทต่างๆ สามารถแข่งขันในระดับสากลได้เป็นอย่างดี
            p.text-medium.mar-top 
              em 3. เนื้อสัตว์และผลิตภัณฑ์จากเนื้อสัตว์ 
            p.text-medium เยอรมนีมีการแปรรูปสุกรถึง 59.3 ล้านตัว และผลิตเป็นเนื้อสุกรถึง 5.57 ล้านเมตริกตัน โดยนับเป็นผู้ผลิตเนื้อสุกรที่ใหญ่เป็นอันดับ 3 ของโลก รองจากจีน และสหรัฐอเมริกา และเป็นผู้ผลิตเนื้อสุกรที่ใหญ่ที่สุดในสหภาพยุโรป โควต้าในการส่งออกเนื้อสุกรของเยอรมนีมีมากกว่าร้อยละ 50 โดยจีนเป็นตลาดส่งออกที่ใหญ่ที่สุด
            p.text-medium.mar-top เยอรมนียังมีการแปรรูปโคกว่า 3.6 ล้านตัว และผลิตเนื้อโคได้ 1.1 ล้านเมตริกตัน นับเป็นผู้ผลิตเนื้อวัวที่ใหญ่ที่สุดเป็นอันดับ 2 ในสหภาพยุโรป โดยตลาดส่งออกเนื้อวัวหลัก คือ ประเทศในกลุ่มสหภาพยุโรปนั่นเอง
            p.text-medium.mar-top ด้วยคุณภาพที่ยอดเยี่ยมของเนื้อสัตว์และผลิตภัณฑ์จากเนื้อสัตว์ ทำให้ตลาดทั่วโลกต่างต้องการเนื้อสัตว์และผลิตภัณฑ์จากเนื้อสัตว์ของเยอรมนี โดยมีการส่งออกไปยังกว่า 120 ประเทศทั่วโลก
            p.text-medium.mar-top 
              em 4. ผลิตภัณฑ์จากนม 
            p.text-medium ในปี 2559 เยอรมนีมีผลผลิตนมโคประมาณ 32.8 ล้านตัน คิดเป็นมูลค่า 22.6 พันล้านยูโร จึงนับเป็นผู้ผลิตนมโคที่ใหญ่ที่สุดในยุโรป โควต้าในการส่งออกนมโคของอุตสาหกรรมนมในเยอรมนีนั้นมีเกือบร้อยละ 50  ในอุตสาหกรรมนี้มีโคนมถึง 4.3 ล้านตัว มีผู้ผลิตนมกว่า 71,302 ราย และมีคนงานถึง 35,158 คน ที่ทำงานในบริษัทแปรรูปผลิตภัณฑ์นม 148 แห่งในเยอรมนี อุตสาหกรรมนมของเยอรมนีจึงเป็นอุตสาหกรรมด้านอาหารและเครื่องดื่มที่สำคัญมากที่สุดเป็นอันดับ 2
            p.text-medium.mar-top เยอรมนีมีมูลค่าการส่งออกผลิตภัณฑ์นมประมาณ 577 ล้านยูโร โดยเอเชียนับเป็นประเทศนอกสหภาพยุโรปที่มีความสำคัญที่สุด ด้วยมูลค่ากว่า 548 ล้านยูโร เอเชียจึงนับเป็นส่วนแบ่งตลาดที่ใหญ่กว่าตลาดของประเทศอื่นๆ นอกสหภาพยุโรปรวมกัน
            p.text-medium.mar-top 
              em 5. ซีเรียลและขนมปัง 
            p.text-medium การผลิตซีเรียลในเยอรมนีมีความทันสมัยและมีประสิทธิภาพ ในเยอรมนีมีโรงโม่เพียง 214 แห่ง ซึ่งสามารถโม่ข้าวสาลีและข้าวไรย์จำนวน 8.3 ล้านตัน ได้เป็นผลผลิตอย่างน้อย 1,000 ตันต่อปีเลยทีเดียว โดยเฉลี่ยแล้วโรงโม่ในเยอรมนีสามารถสร้างผลผลิตป้อนให้กับประชากรได้มากกว่า 385,000 คนต่อวัน ด้านปริมาณการบริโภคพบว่าโดยเฉลี่ยแล้วคนเยอรมนีบริโภคผลิตภัณฑ์ซีเรียล 70 กิโลกรัมต่อปี
            p.text-medium.mar-top ผลิตภัณฑ์ขนมปังและเบเกอรี่ของเยอรมนีนั้นนับว่ามีชื่อเสียงมาก ปัจจุบันมีขนมปังกว่า 3,176 ชนิดที่แตกต่างกันที่ขึ้นทะเบียนอย่างเป็นทางการในเยอรมนี และยังได้มีการพิจารณาที่จะนำผลิตภัณฑ์เบเกอรี่ทำมือ (German bakery crafts) เข้าสถานะของยูเนสโกในด้านมรดกทางวัฒนธรรมอีกด้วย
            p.text-medium.mar-top ช่างอบผลิตภัณฑ์ขนมปังในอุตสาหกรรมเบเกอรี่มีอยู่กว่า 275,200 คน จากกว่า 12,155 บริษัท ประมาณ  35,000 สาขา จะเริ่มงานของพวกเขากันตั้งแต่เช้าตรู่ สร้างรายได้กว่า 13.99 พันล้านยูโร ผู้ประกอบการในอุตสาหกรรมเบเกอรี่ของเยอรมนีจะลงทุนไปกับเครื่องจักร ยานพาหนะ และอุปกรณ์ต่างๆ ถึง 500 ล้านยูโรต่อปี โดยเฉลี่ยแล้วคนเยอรมนีบริโภคขนมปังภายในครัวเรือนประมาณ 47.2 กิโลกรัมต่อปี
            p.text-medium.mar-top 
              em 6. ผลิตภัณฑ์ลูกอมและขนมหวาน 
            p.text-medium น้ำตาลที่ใช้กันในประเทศเยอรมนีส่วนใหญ่แล้วได้มาจากบีทรูท โรงผลิตน้ำตาลกว่า 29,508 แห่งจะผลิตน้ำตาลส่งไปยังโรงกลั่นน้ำตาล 20 แห่ง ซึ่งเป็นของบริษัทเพียง 4 บริษัท โดยมีมูลค่า 3.05 พันล้านยูโร น้ำตาลเพียงร้อยละ 10.8 ที่ผลิตได้จะนำไปจำหน่ายให้กับผู้บริโภค ในขณะที่อีกร้อยละ 89.2 จะนำไปใช้ในอุตสาหกรรมผลิตลูกอมและขนมหวาน
            p.text-medium.mar-top ในอุตสาหกรรมผลิตภัณฑ์ลูกอมและขนมหวานมีการจ้างงานถึงกว่า 50,000 คน มีกำลังการผลิตเป็นผลิตภัณฑ์ลูกอมและขนมหวานได้มากกว่า 4 ล้านตัน มีการผลิตในประเทศมากกว่า 12.28 พันล้านยูโร ด้านการส่งออกมีสัดส่วนในการส่งออกร้อยละ 50 ของปริมาณในการผลิต หรือคิดเป็น 2.05 ล้านตัน และร้อยละ 65 ของมูลค่าในการผลิต หรือคิดเป็น 7.99 พันล้านยูโร ผลิตภัณฑ์ลูกอมและขนมหวานที่ผลิตจากช็อกโกแลตนับว่าเป็นผลิตภัณฑ์ที่มีความสำคัญที่สุด และมีการส่งออกสูงทั้งในด้านปริมาณและมูลค่า
            p.text-medium.mar-top โดยเฉลี่ยแล้วคนเยอรมันบริโภคผลิตภัณฑ์ลูกอมและขนมหวาน 32.71 กิโลกรัมต่อปี โดยส่วนมากเป็นผลิตภัณฑ์กลุ่มช็อกโกแลต ประมาณ 9.74 กิโลกรัม รองลงมาเป็นผลิตภัณฑ์บิสกิต และผลิตภัณฑ์ที่มีน้ำตาลเป็นส่วนผสมหลัก
            p.text-medium.mar-top 
              em 7. เบียร์ 
            p.text-medium กฎหมายของเบียร์เยอรมนีมีมาตั้งแต่ปี 2059 ซึ่งนับเป็นกฎหมายด้านคุณภาพอาหารที่เก่าแก่ที่สุดในโลก และยังคงใช้มาจนถึงทุกวันนี้ เบียร์จะมีส่วนประกอบเพียง 4 ชนิดเท่านั้น ได้แก่ มอลต์ ฮอปส์ ยีสต์ และน้ำ มรดกอันยาวนานของกฎหมายนี้ส่งผลให้คุณภาพของเบียร์เยอรมันเป็นที่ยอมรับในระดับโลก
            p.text-medium.mar-top เยอรมนีเป็นประเทศที่มีการผลิตเบียร์มากที่สุดในสหภาพยุโรป ในอุตสาหกรรมเบียร์มีการจ้างงาน 26,681  คน ซึ่งทำงานในโรงบ่มเบียร์ขนาดกลาง 1,388 แห่ง สามารถผลิตเบียร์ได้ 95.7 ล้านเฮกโตลิตร หลากหลายถึง 6,000 ชนิด และส่งออกไปร้อยละ 16.6 หรือคิดเป็น 15.853 ล้านเฮกโตลิตรโดยประมาณ นับว่ามากกว่าเบียร์ที่นำเข้ามาในเยอรมนีถึง 2 เท่า
            p.text-medium.mar-top คนเยอรมนีเป็นนักดื่มเบียร์ตัวยง มากที่สุดเป็นอันดับ 2 ของโลก ด้วยปริมาณการบริโภคเบียร์ถึง 107 ลิตรต่อปี เป็นรองเพียงสาธารณรัฐเช็กที่บริโภคถึง 143 ลิตรต่อปี (ข้อมูลในปี 2557)
            p.text-medium.mar-top 
              em 8. ไวน์ 
            p.text-medium ประวัติศาสตร์ของไวน์ในประเทศเยอรมนีเริ่มตั้งแต่สมัยโรมันเมื่อ 2,000 ปีก่อน ปัจจุบันมีพื้นที่ผลิตไวน์ถึง 13 แคว้นในเยอรมนี มีการปลูกองุ่นที่หลากหลายถึง 140 ชนิด เยอรมนีเป็นผู้ผลิตไวน์ขาว ร้อยละ 64 และไวน์แดง ร้อยละ 36 คนเยอรมันดื่มไวน์ 20.5 ลิตรต่อคนต่อปีเลยทีเดียว บริษัทผลิตไวน์ในเยอรมนีมีถึง 43,380 ราย ซึ่งมีประวัติยาวนานกว่า 100 ปี ผลิตไวน์โดยใช้องค์ความรู้ที่ทันสมัย และเครื่องจักรเทคโนโลยีชั้นสูง
            p.text-medium.mar-top เยอรมนีเป็นผู้ผลิตไวน์ที่ใหญ่ที่สุดเป็นอันดับ 10 ของโลก และเป็นผู้ส่งออกไวน์ที่ใหญ่ที่สุดเป็นอันดับ 8 ของโลก สำหรับประเทศในสหภาพยุโรป เยอรมนีครองอันดับที่ 4 ตามหลังอิตาลี ฝรั่งเศส และสเปน โดยเยอรมนีผลิตไวน์ได้ 8.9 ล้านเฮกโตลิตร ซึ่งสร้างปริมาณการส่งออกถึง 1 ล้านเฮกโตลิตร และมูลค่าในการส่งออกถึง 299 ล้านยูโร
            p.text-medium.mar-top พันธุ์องุ่นที่มีชื่อเสียงที่สุดในเยอรมนี คือ พันธุ์รีสลิ่ง (Riesling) ซึ่งได้รับความนิยมอย่างมากในเอเชีย เนื่องจากสามารถจับเข้าคู่กับเมนูอาหารของคนเอเชียได้เป็นอย่างดี และเยอรมนีก็เป็นประเทศที่ปลูกองุ่นพันธุ์รีสลิ่งมากที่สุดในโลกอีกด้วย
            p.text-medium.mar-top การส่งออกผลิตภัณฑ์อาหารและเครื่องดื่มของเยอรมนีมายังประเทศไทยมีการเติบโตมาตั้งแต่ปี 2557 โดยในปี 2559 การส่งออกผลิตภัณฑ์อาหารทั้งหมดเพิ่มขึ้นจาก 136 ล้านยูโร เป็น 148 ล้านยูโร คิดเป็นการขยายตัวเพิ่มขึ้นร้อยละ 8.8 ทั้งผลิตภัณฑ์อาหารที่ผลิตจากพืชและสัตว์
            p.text-medium.mar-top การส่งออกผลิตภัณฑ์อาหารที่ผลิตจากพืช ได้แก่ มอลต์ มันฝรั่งและผลิตภัณฑ์จากมันฝรั่ง เพิ่มขึ้นร้อยละ 9 จาก 67 ล้านยูโร เป็น 73 ล้านยูโร ด้วยสัดส่วนที่ใหญ่ที่สุดคิดเป็นร้อยละ 49 ของอาหารที่ส่งออกทั้งหมด
            p.text-medium.mar-top การส่งออกผลิตภัณฑ์อาหารที่ผลิตจากสัตว์ ได้แก่ อาหารสัตว์ แป้งที่ทำจากสัตว์และผลิตภัณฑ์ที่ใกล้เคียง เนื้อสัตว์และผลิตภัณฑ์จากเนื้อสัตว์ ผลพลอยได้จากกระบวนการแปรรูปสุกร เพิ่มขึ้นร้อยละ 13.2 จาก 53 ล้านยูโร เป็น 60 ล้านยูโร โดยครองสัดส่วนเป็นอันดับที่ 2 คิดเป็นร้อยละ 41 ของอาหารที่ส่งออกทั้งหมด
            p.text-medium.mar-top การส่งออกผลิตภัณฑ์อาหารที่ฟุ่มเฟือย ได้แก่ เบียร์ สปิริต และกาแฟ ลดลงร้อยละ 6.3 จาก 16 ล้านยูโรเป็น 15 ล้านยูโร โดยครองสัดส่วนร้อยละ 10 ของการส่งออกอาหารทั้งหมด นับเป็นสัดส่วนที่เล็กที่สุด
            p.text-medium.mar-top สถิติการส่งออกของผลิตภัณฑ์อาหารจากเยอรมนีมายังประเทศไทยในช่วง 3 ปีที่ผ่านมา มีอัตราที่คงที่ ซึ่งแตกต่างจากตลาดอื่นๆในภูมิภาคที่มีการผันผวน สะท้อนให้เห็นว่าผู้บริโภคชาวไทยมีความชื่นชอบผลิตภัณฑ์อาหารและเครื่องดื่มของเยอรมนี


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12

      