extends ../../../layouts/layout

block vars
  -title = 'Russian Market: “Free From” Food Trend'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white WHATS-IN
          .content-header.mar-top
            span.title.light.txt-black Russian Market: “Free From” Food Trend
            span.title-3.light.txt-black.mar-left
          .content-body
            +img('/images/upload/4_nov.jpg').mar-top-md.mar-bot-md
            p.text-medium 
              em ตลาดรัสเซีย: แนวโน้มอาหาร Free From   
            p.text-medium.mar-top อาหาร “Free From” สําหรับผู้บริโภคที่แพ้กลูเตนและแลคโตส ยังคงเป็น Niche market ในตลาดรัสเซีย แต่ถึงแม้ว่าอาหารประเภทนี้จะได้รับความสนใจในวงกว้างขึ้น แต่ด้วยภาวะทางเศรษฐกิจที่ยังไม่เอื้ออํานวย ทําให้ผู้บริโภคไม่อยากจะควักกระเป๋าจ่ายเพิ่มเพื่อสินค้าที่มีคุณลักษณะพิเศษเหล่านี้  
            p.text-medium.mar-top ทันทีที่ผลิตภัณฑ์ปราศจากแลคโตสถูกปลดออกจากรายการห้ามนําเข้าอาหารในรัสเซียในปี 2557 ระเบียบข้อบังคับสําหรับการนําเข้าผลิตภัณฑ์ปราศจากแลคโตสถูกเพิ่มความเข้มงวดอย่างรวดเร็วตั้งแต่กลางปี 2558 ที่กําหนดให้ผู้ผลิตต้องได้รับเอกสารอย่างเป็นทางการจากหน่วยงานของรัสเซียที่ให้การรับรองการนําเข้าผลิตภัณฑ์ที่ปราศจากแลคโตสมีคุณสมบัติเป็นผลิตภัณฑ์โภชนาการสําหรับการรักษาโรคและโภชนบําบัด 
            p.text-medium.mar-top มูลค่าหมวดอาหารปราศจากแลคโตสเติบโตร้อยละ 15 ในปี 2559 หรือคิดเป็นมูลค่า 15.5 พันล้านรูเบิล (260 ล้านเหรียญสหรัฐ) เป็นไปตามการพยากรณ์อัตราการเติบโตเฉลี่ยต่อปี แต่ด้วยสถานการณ์ทางเศรษฐกิจที่ไม่อํานวยได้ฉุดให้ปริมาณการค้าปลีกมีปริมาณเพิ่มขึ้นได้เพียงเล็กน้อย  
            p.text-medium.mar-top อาหารเด็กที่ปราศจากแลคโตสเป็นตัวผลิตภัณฑ์ที่มีมูลค่าการขายขยายตัวสูงสุดถึงร้อยละ 20 ในปี 2559 โดยที่อาหารเด็กถือว่าเป็นประเภทสินค้าที่ได้รับผลกระทบจากภาวะเศรษฐกิจน้อยที่สุด เนื่องจากผู้ปกครองไม่ต้องการลดภาระค่าใช้จ่ายในส่วนโภชนาการของเด็ก มูลค่าผลิตภัณฑ์นมเนยที่ปราศจากสารแลคโตสเติบโตร้อยละ 15 ในปี 2559 แต่หากคิดในแง่ปริมาณจะเพิ่มขึ้นเพียงร้อยละ 4 เท่านั้น มีผู้บริโภคจํานวนมากขึ้นที่มองหาอาหารที่มีโภชนาการพิเศษอย่างนมเนยที่ปราศจากแลคโตส ส่งผลให้มีสินค้าประเภทนี้วางจําหน่ายในร้านค้าปลีกมากขึ้น เช่นเดียวกับการติดฉลากให้ข้อมูลบนบรรจุภัณฑ์ช่วยกระตุ้นความตระหนักและผลักดันยอดจําหน่ายให้ปรับตัวสูงขึ้นด้วยส่วนการผลิตนมภายในประเทศที่ปราศจากแลคโตสก็ขยายตัวมากเพื่อทดแทนสินค้านําเข้า
            p.text-medium.mar-top ราคาจําหน่ายสินค้าอาหาร Free from แบบบรรจุหีบห่อต่อหน่วยโดยเฉลี่ยปรับตัวสูงขึ้นกว่าอาหารบรรจุหีบห่อทั่วๆ ไป แต่อย่างไรก็ตาม ขณะนี้อาหาร Free From ยังมีสัดส่วนในตลาดไม่มากและยังไม่มีการแข่งขันกันระหว่างผู้ผลิต ซึ่งส่วนมากยังเป็นสินค้านําเข้า แต่ด้วยที่ค่าเงินรูเบิลของท้องถิ่นอ่อนค่าลงมากจึงทําให้สินค้ามีระดับราคาแพงขึ้นในช่วงสองปีที่ผ่านมา
            p.text-medium.mar-top คาดว่าอาหาร Free From จะเติบโตอย่างต่อเนื่องเฉลี่ยร้อยละ 2 ต่อปี โดยจะมียอดขายถึง 17.5 พันล้านรูเบิล (295 ล้านเหรียญสหรัฐ) ในปี 2564
            p.text-medium.mar-top บริโภคในรัสเซียมีแนวโน้มให้ความสําคัญกับโภชนาการมากขึ้นเป็นลําดับ มีความต้องการบริโภคที่มีประโยชน์ต่อร่างกายและปราศจากสารพิษ/สารเคมี ซึ่งปัจจุบันนี้สภาวะเศรษฐกิจได้ปรับตัวดีขึ้นและคาดว่าจะอยู่ในช่วงขาขึ้นอย่างต่อเนื่องในอีก 5 ปีข้างหน้า ดังนั้น ผู้ส่งออกอาหารไทยควรหันมาให้ความสําคัญเพิ่มขึ้นกับอาหารออร์แกนิคหรืออาหาร Free from ที่ผู้บริโภคยินดีจะจ่ายเพิ่มมากกว่าสินค้าปกติทั่วไป 


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('/images/icons/ic-fb.svg','#')
            li: +link-img('/images/icons/ic-twitter.svg','#')
            li: +link-img('/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12
          .col-sm-12
            h2.title Other Events
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Meat_2017.jpg', 'Meat & Poultry Edition')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Drink_2017.jpg', 'Drinking Edition')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Functional_2017.jpg', 'Functional F&B Edition')

      