extends ../../../layouts/layout

block vars
  -title = 'The APAC Health and Wellness Industry: Where are We Now and What’s Next?'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white WHATS-IN
          .content-header.mar-top
            span.title.light.txt-black The APAC Health and Wellness Industry: Where are We Now and What’s Next?
            span.title-3.light.txt-black.mar-left
          .content-body
            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/3_nov.jpg').mar-top-md.mar-bot-md
            p.text-medium 
              em อุตสาหกรรม Health and Wellness ในภูมิภาคเอเชียแปซิฟิก: เราอยู่ที่จุดไหน และก้าวต่อไปเป็นอย่างไร   
            p.text-medium.mar-top ตลาดสินค้า Health and Wellness ในภูมิภาคเอเชียแปซิฟิกนับเป็นตลาดที่ใหญ่ที่สุด โดยในปี 2559 คิดเป็นร้อยละ 32 ของยอดจำหน่ายปลีกทั่วโลก จึงเป็นโอกาสทองของผู้ประกอบการผลิตสินค้าอาหารและเครื่องดื่มที่จะเข้ามาจับตลาดนี้  
            p.text-medium.mar-top ในปี 2559 ผลิตภัณฑ์ฟังก์ชันนอล/ผลิตภัณฑ์เสริมสารอาหารที่มีคุณค่าทางโภชนาการ มียอดจำหน่ายสูงในภูมิภาคเอเชียแปซิฟิก ตามมาด้วยผลิตภัณฑ์ที่มีประโยชน์ต่อสุขภาพโดยธรรมชาติ (Naturally healthy products) โดยทาง Euromonitor International ได้ให้คำนิยามผลิตภัณฑ์ฟังก์ชันนอล/ผลิตภัณฑ์เสริมสารอาหารที่มีคุณค่าทางโภชนาการ ว่าเป็นผลิตภัณฑ์ที่มีการเสริมสารอาหารสำคัญซึ่งเป็นประโยชน์ต่อสุขภาพ เช่น แคลเซียม โอเมก้า-3 ลงไปในระหว่างขั้นตอนกระบวนการผลิต ซึ่งโดยปกติแล้วเราจะไม่พบสารอาหารดังกล่าวในอาหารตามธรรมชาติ ส่วนผลิตภัณฑ์ที่มีประโยชน์ต่อสุขภาพโดยธรรมชาติจะหมายถึงอาหารและเครื่องดื่มที่มีสารอาหารที่มีคุณค่าทางโภชนาการ ซึ่งมีส่วนช่วยปรับปรุงสุขภาพและสุขภาวะที่ดีเป็นองค์ประกอบอยู่แล้วโดยธรรมชาติ เหนือไปกว่าอาหารที่ไม่มีการเสริมสารอาหารสำคัญ ตัวอย่างเช่น ขนมปังโฮลมีล ซึ่งมีเส้นใยอาหารเป็นองค์ประกอบที่สูงอยู่แล้วโดยธรรมชาติ
            p.text-medium.mar-top การเติบโตของผลิตภัณฑ์ฟังก์ชันนอล/ผลิตภัณฑ์เสริมสารอาหารที่มีคุณค่าทางโภชนาการ เป็นสัญญาณว่าผลิตภัณฑ์ฟังก์ชันนอลโดยธรรมชาติ (Naturally functional) ที่ไม่ผ่านกระบวนการแปรรูป หรือผ่านกระบวนการแปรรูปเล็กน้อยจะมีแนวโน้มที่จะเติบโต  
            p.text-medium.mar-top น้ำมะพร้าวจัดอยู่ในกลุ่มผลิตภัณฑ์จากพืชที่มีประโยชน์เชิงฟังก์ชันโดยธรรมชาติ (Naturally functional) และน่าจับตามอง ประเทศไทยและอินโดนีเซียเป็นตลาดสำคัญของน้ำมะพร้าวสดในเอเชียแปซิฟิกและมียอดจำหน่ายที่เติบโตอย่างมาก ส่วนเกาหลีเป็นตลาดสำคัญของน้ำมะพร้าวในบรรจุภัณฑ์ ซึ่งเติบโตกว่าร้อยละ 50 จากปี 2559-2564 ทั้งนี้ น้ำมะพร้าวมีคุณสมบัติดับกระหายและลดอาการขาดน้ำ (Hydrate) ดังนั้น การนำน้ำมะพร้าวมาใช้เป็นกลิ่นรสหรือสารผสมอาหารจะช่วยสร้างการเติบโตได้อย่างยั่งยืนและช่วยสร้างความแตกต่างให้กับแบรนด์สินค้า 
            p.text-medium.mar-top ในช่วง 2-3 ปีที่ผ่านมา ผลิตภัณฑ์จากพืชอื่นๆ และซูเปอร์ฟู้ดก็ได้รับความนิยมในภูมิภาคเอเชียแปซิฟิก  โดยมีการนำมาเป็นส่วนผสมในการพัฒนาผลิตภัณฑ์ใหม่ๆ อย่างเช่น F&N นำเสนอผลิตภัณฑ์นมสำหรับเด็ก Magnolia ที่มีส่วนผสมของโกจิเบอร์รี ซึ่งจัดเป็นซูเปอร์ฟรุทชนิดหนึ่ง
            p.text-medium.mar-top นอกจากนี้ น้ำมันมะกอกก็มาแรงเช่นกัน โดยได้ขยายฐานกลุ่มผู้บริโภคไปยังตลาดเกิดใหม่อย่างจีนและอินเดียไปเรียบร้อยแล้ว ในปี 2559 ยอดจำหน่ายปลีกน้ำมันมะกอกในจีนได้แซงหน้าฝรั่งเศส และคาดว่าภายในปี 2564 ยอดจำหน่ายปลีกน้ำมันมะกอกในอินเดียจะสูงกว่าญี่ปุ่นอีกด้วย น้ำมันมะกอกอุดมไปด้วยพอลิฟีนอลซึ่งมีส่วนช่วยป้องกันไม่ให้ไขมันในเลือดเกิดภาวะเครียดที่เกิดจากออกซิเดชัน (Oxidative stress) ซึ่งเป็นการที่อนุมูลอิสระเข้าไปทำลายระบบต่างๆ ภายในเซลล์ของสิ่งมีชีวิต นอกจากนี้ น้ำมันมะกอกยังเป็นเพียงผลิตภัณฑ์เดียวที่ได้รับการอนุมัติจากองค์การความปลอดภัยของอาหารแห่งสหภาพยุโรป (The European Food Safety Authority; EFSA) ให้สามารถกล่าวอ้างถึงประโยชน์ของพอลิฟีนอล (ในอาหารชนิดอื่นๆ ก็มีส่วนประกอบของพอลิฟีนอลที่เป็นประโยชน์ต่อสุขภาพ) ด้วยเหตุผลนี้น้ำมันมะกอกจึงมีความโดดเด่นในตลาดสินค้าที่เกี่ยวกับ Health and Wellness ในปี 2559 ผู้ประกอบการในอินเดียได้เปิดตัวน้ำมันมะกอกที่ผลิตภายในประเทศ ทั้งยังมีแผนในระยะยาวที่จะผลิตและส่งออกน้ำมันมะกอกไปยังทั่วโลก
            p.text-medium.mar-top ในช่วง 5 ปีข้างหน้านี้ ผลิตภัณฑ์ที่เกี่ยวกับสุขภาพ เช่น วิตามิน และผลิตภัณฑ์เสริมอาหาร ตลอดจนผลิตภัณฑ์อาหารและเครื่องดื่มที่มีประโยชน์ต่อสุขภาพและสุขภาวะที่ดีจะยังคงฉายแววสดใส ทางด้านผลิตภัณฑ์ฟังก์ชันนอล/ผลิตภัณฑ์เสริมสารอาหารที่มีคุณค่าทางโภชนาการก็จะยังคงมียอดจำหน่ายปลีกเพิ่มขึ้นเช่นกัน ตามมาด้วยผลิตภัณฑ์เพื่อสุขภาพโดยธรรมชาติ 
            p.text-medium.mar-top ทั้งหมดทั้งปวงนี้ นวัตกรรมและการปรับแต่งสินค้าจะเป็นกุญแจสำคัญที่จะสร้างแบรนด์สินค้า สร้างความแตกต่างและการเติบโตให้กับผลิตภัณฑ์ ผู้ประกอบการควรต้องให้ความสำคัญกับความต้องการของผู้บริโภคในด้านอื่นๆ ด้วย เช่น ความสะดวกสบาย ยกตัวอย่างเช่น ผลิตภัณฑ์บิสกิต  Bournvita Breakfast Biscuit ของ Cadbury ที่เปิดตัวในอินเดีย เป็นตัวอย่างหนึ่งของผลิตภัณฑ์ฟังก์ชันนอล/ผลิตภัณฑ์เสริมสารอาหารที่มีคุณค่าทางโภชนาการที่สามารถตอบโจทย์ความสะดวกสบาย ทั้งยังได้รวมเอาเซกเมนต์ของผลิตภัณฑ์อาหารมื้อเช้าและอาหารมื้อว่างเข้าไว้ด้วยกันอย่างลงตัว 
            p.text-medium.mar-top สุดท้ายนี้ เพื่อให้เกิดการผสมผสานของตลาดเกิดใหม่กับตลาดที่พัฒนาแล้วในภูมิภาคเอเชียแปซิฟิก ผู้ประกอบการจำเป็นต้องพึ่งพากลยุทธ์ทางการตลาดหลากหลายรูปแบบ เพื่อตอบโจทย์กลุ่มผู้บริโภคที่หลากหลาย ทั้งในแง่ของอายุ รายได้ และการตระหนักถึงสุขภาพ  


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-fb.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-twitter.svg','#')
            li: +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12
          .col-sm-12

      