extends ../../../layouts/layout

block vars
  -title = 'Sustainable Agriculture Principles for Food Security and More Income for Farmers'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white WHATS-IN
          .content-header.mar-top
            span.title.light.txt-black Sustainable Agriculture Principles for Food Security and More Income for Farmers
            span.title-3.light.txt-black.mar-left
          .content-body
            +img('/images/upload/1_nov.jpg').mar-top-md.mar-bot-md
            p.text-medium โครงการความร่วมมืออาเซียน-เยอรมันด้านอาหารและการเกษตรได้นำเสนอหลักการระบบอาหาร-เกษตรอย่างยั่งยืนในอาเซียนที่พิสูจน์แล้วว่าสามารถสร้างรายได้เพิ่มให้กับเกษตรกรในอาเซียนจำนวนกว่า 125,000  ราย เป็นมูลค่าถึง 98 ล้านยูโร (เทียบเท่าประมาณ 3,800 ล้านบาท) ในระยะเวลา 4 ปีของการทำโครงการ  
            p.text-medium.mar-top โครงการความร่วมมืออาเซียน-เยอรมันได้นำเสนอ 4 หลักการ ดังนี้
            ul
              li ผู้มีส่วนร่วมในทุกระดับต้องทำความเข้าใจและนำนโยบายด้านระบบอาหาร-เกษตรแบบยั่งยืนไปปฏิบัติและทำให้เกิดผลเป็นรูปธรรม
              li การกำหนดบทบาทและความร่วมมือของแต่ละภาคส่วนในห่วงโซ่มูลค่า (ภาครัฐ เอกชน และผู้ผลิต) และนำจุดแข็งของแต่ละภาคส่วนมาเสริมซึ่งกันและกัน
              li การให้ความสำคัญและดึงเกษตรกรรายย่อยให้มีบทบาทในห่วงโซ่มูลค่าเพื่อสร้างความยั่งยืน
              li การพัฒนาผู้นำและสร้างศักยภาพของตัวบุคคลเพื่อนำไปพัฒนาภาคส่วน (หรือองค์การของตน) และสังคมในระดับต่อๆ ไป
            p.text-medium.mar-top หลักการทั้ง 4 ข้อนี้เป็นหลักการจากการทำงานร่วมมือระหว่างอาเซียน-เยอรมัน ผ่านโครงการระบบอาหาร-เกษตรแบบยั่งยืนแห่งอาเซียน (ASEAN Sustainable Agirfood Systems; ASEAN SAS) ที่ดำเนินงานมาตั้งแต่ปี 2557-2560
            p.text-medium.mar-top โครงการ ASEAN SAS เป็นส่วนหนึ่งของโปรแกรมอาเซียน-เยอรมัน ด้านการรับมือการเปลี่ยนแปลงสภาพภูมิอากาศในการเกษตรและป่าไม้ (GAP-CC) ดำเนินงานโดยองค์กรความร่วมมือระหว่างประเทศเยอรมัน (GIZ) ประจำประเทศไทย และพันธมิตรในประเทศสมาชิกอาเซียน โดยได้รับเงินทุนสนับสนุนเริ่มแรกจากรัฐบาลเยอรมัน 15 ล้านยูโร (เทียบเท่าประมาณ 580 ล้านบาท) และจากหุ้นส่วนทั้งภาครัฐและเอกชน เสริมขึ้นมาอีก 15 ล้านยูโร ซึ่งส่งผลให้เกษตรกรจำนวน 125,000 รายในอาเซียน สามารถสร้างรายได้เพิ่มขึ้นถึง 98  ล้านยูโร (เทียบเท่าประมาณ  3,800 ล้านบาท) ภายในระยะเวลา 4 ปี
            p.text-medium.mar-top นางคลาวเดีย เอบาค อัครราชทูตที่ปรึกษาฝ่ายอาหารและการเกษตร สถานเอกอัครราชทูตแห่งสหพันธ์สาธารณรัฐเยอรมนี ประจำประเทศไทย กล่าวว่า ปัจจุบันอาเซียนกำลังเผชิญกับความท้าทายอันใหญ่หลวงในภาคการเกษตรและอาหาร เพื่อให้ทุกคนสามารถเข้าถึงอาหารที่ปลอดภัยในราคาที่เหมาะสม ถูกสุขอนามัย และเพียงพอต่อความต้องการที่เพิ่มขึ้นอย่างต่อเนื่อง ในขณะเดียวกันต้องคำนึงถึงการอนุรักษ์ทรัพยากรธรรมชาติที่มีอยู่อย่างจำกัด
            p.text-medium.mar-top นางคลาวเดีย กล่าวเสริมว่าโครงการระบบอาหาร-เกษตรแบบยั่งยืนแห่งอาเซียน (ASEAN SAS) ได้ดำเนินการให้ผู้มีส่วนเกี่ยวข้องจากทุกภาคส่วนมาถ่ายทอดและแลกเปลี่ยนองค์ความรู้ บทเรียน และประสบการณ์ต่างๆ และเชื่อมั่นว่าความร่วมมือระหว่างอาเซียนและประเทศเยอรมนีจะมีส่วนสำคัญอย่างยิ่งในการสนับสนุนให้เกษตรกร ผู้ผลิต ผู้ค้า และผู้จำหน่ายมีมาตรฐานคุณภาพชีวิตความเป็นอยู่ที่ดีและยั่งยืนขึ้น ตลอดจนเพิ่มความสามารถในการแข่งขันในภาคการเกษตรให้มากขึ้นด้วย
            p.text-medium.mar-top ดร.เสริมสุข สลักเพ็ชร์ รองอธิบดีกรมวิชาการเกษตร กล่าวว่า ความร่วมมืออาเซียน-เยอรมัน ทางด้านการเกษตรมีบทบาทสำคัญในการพัฒนาศักยภาพและความสามารถของผู้มีส่วนเกี่ยวข้องในภาคการเกษตรในการพัฒนาระบบการผลิตสินค้าเกษตรอย่างยั่งยืน และประเทศไทยในฐานะประเทศเจ้าภาพโครงการ ASEAN SAS และโครงการเครือข่ายการรับมือการเปลี่ยนแปลงสภาพภูมิอากาศอาเซียน (ASEAN Climate Resilience Network; CRN) มีความยินดีที่ผลการดำเนินการและข้อเสนอแนะได้รับความเห็นชอบและสนับสนุนจากการประชุมรัฐมนตรีอาเซียนด้านเกษตรและป่าไม้ เพื่อไปปฏิบัติและขยายผลให้เกิดประโยชน์ที่เป็นรูปธรรมต่อไป
            p.text-medium.mar-top นายชเตฟาน เฮลมิง ผู้อำนวยการองค์กรความร่วมมือระหว่างประเทศเยอรมัน (GIZ) ประจำประเทศไทยและมาเลเซีย กล่าวว่าในความร่วมมืออาเซียน-เยอรมันนี้ มุ่งหวังให้การพัฒนาด้านการเกษตรเกิดผลเป็นรูปธรรม และสนับสนุนให้เกิดการปรึกษาหารือในระดับภูมิภาค เพื่อกำหนดกรอบนโยบายเชิงกลยุทธ์สำหรับภาคอาหารและการเกษตร และสิ่งสำคัญที่สุดคือ การขยายให้เกิดความร่วมมือของภาครัฐและเอกชนในภูมิภาค และสร้างรายได้ให้แก่เกษตรกรให้มากขึ้น พร้อมทั้งสร้างให้เกิดความมั่นคงด้านอาหารในภูมิภาค และเพิ่มขีดความสามารถในการแข่งขันของผู้ที่เกี่ยวข้องทั้งหมดในห่วงโซ่มูลค่าด้วย
            p.text-medium.mar-top โครงการ ASEAN SAS ดำเนินงานเพื่อให้เกิดการสื่อสารและถ่ายทอดองค์ความรู้ระหว่างประเทศสมาชิกภาคีอันนำไปสู่การบรรลุเป้าหมายการพัฒนาที่ยั่งยืน (SDGs) ได้แก่ เป้าหมายการขจัดความยากจน (SDG 1) การขจัดความหิวโหย (SDG 2) การส่งเสริมสุขภาพและความเป็นอยู่ที่ดี (SDG 3) การผลิตและบริโภคที่ยั่งยืน (SDG 12)  การส่งเสริมการเพิ่มความอุดมสมบูรณ์ของดินและลดการเสื่อมโทรม(SDG 15)  การสร้างความร่วมมือที่เข้มแข็งระหว่างภาครัฐ เอกชน องค์กรระหว่างประเทศ องค์กรประชาสังคม ตลอดจนถึงเกษตรกร (SDG 17) ซึ่งเป้าหมายเหล่านี้ล้วนมีความสำคัญต่อประชาชน ประเทศชาติ ระดับภูมิภาคและระดับโลก

        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('/images/icons/ic-fb.svg','#')
            li: +link-img('/images/icons/ic-twitter.svg','#')
            li: +link-img('/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12
          .col-sm-12
            h2.title Other Events
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Meat_2017.jpg', 'Meat & Poultry Edition')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Drink_2017.jpg', 'Drinking Edition')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Functional_2017.jpg', 'Functional F&B Edition')

      