extends ../../../layouts/layout

block vars
  -title = 'Free-from Concept High Quality is the Leading Purchase Driver for Urban Thais'
  -bodyClass = ''


block container
  section.content.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-md-1.hidden-xs.hidden-sm

        .col-md-8.col-sm-12
          h3.sub-title-bg.txt-white WHATS-IN
          .content-header.mar-top
            span.title.light.txt-black Free-from Concept High Quality is the Leading Purchase Driver for Urban Thais
            span.title-3.light.txt-black.mar-left
          .content-body
            +img('/images/upload/5_nov.jpg').mar-top-md.mar-bot-md
            p.text-medium 
              em แนวคิดปราศจาก...หนึ่งในปัจจัยด้านคุณภาพของสินค้าที่ผู้บริโภคชาวไทยในสังคมเมืองไว้วางใจ
            p.text-medium.mar-top แม้ว่าปัจจัยทางด้านราคาที่ถูกกว่านั้นจะดึงดูดผู้บริโภคในประเทศไทยให้สนใจได้มาก แต่ดูเหมือนว่าคุณภาพของสินค้าก็ยังคงเป็นสิ่งสำคัญอันดับต้นๆ ที่ทำให้พวกเขาตัดสินใจเลือกซื้อจริงๆ จากงานวิจัยฉบับล่าสุดโดย Mintel ในการวิเคราะห์จัดอันดับอิทธิพลของสิ่งที่ส่งผลให้เกิดการตัดสินใจเลือกซื้อสินค้าของคนไทยใน 5 อันดับ พบว่า 3 ใน 5 ของจำนวนผู้บริโภคในสังคมเมือง1 หรือคิดเป็นร้อยละ 58 นั้นยกให้ความมีคุณภาพสูงของสินค้าเป็นปัจจัยสำคัญที่สุดในการตัดสินใจเลือกซื้อ ตามมาคือปัจจัยด้านความสะดวกสบาย คิดเป็นร้อยละ 42 สินค้าที่มีข้อเสนอพิเศษ ร้อยละ 40 สินค้ามีความยั่งยืนใช้ได้นาน ร้อยละ 35 และสุดท้ายคือเลือกในสินค้าแบรนด์ที่โปรดปราน ร้อยละ 26 
            p.text-medium.mar-top ปัจจุบันนี้ผู้บริโภคชาวไทยเริ่มมีแนวโน้มการใช้จ่ายที่รอบคอบมากขึ้น และมีผู้บริโภคจำนวนมากกำลังหันไปใช้ช่องทางออนไลน์ซึ่งทำให้พวกเขาสามารถเข้าถึงข้อเสนอที่มีการแข่งขันและได้สินค้าที่มีราคาถูกลง อย่างไรก็ตาม งานวิจัยของ Mintel ก็ยังชี้ให้เห็นว่าปัจจัยหลักในการตัดสินใจเลือกซื้อสินค้าของผู้บริโภคก็คือความมีคุณภาพสูงของสินค้าซึ่งชัดเจนที่สุด โดยผู้บริโภคมีความยินดีที่จะจ่ายแพงให้กับสินค้าที่มีคุณภาพสูงโดยเฉพาะสินค้าที่เชื่อมั่นได้ถึงความปลอดภัยและมาจากธรรมชาติ
            p.text-medium.mar-top ที่มากไปกว่านั้นก็คือผู้บริโภคกำลังให้ความห่วงใยเกี่ยวกับสิ่งแวดล้อมมากขึ้นและมีความสนใจในสิ่งที่พวกเขาบริโภคด้วย แท้จริงแล้วคนไทยร้อยละ 37 ชอบสินค้าที่ถูกหลักการค้าที่เป็นธรรม ในขณะที่ร้อยละ 31 ชอบสินค้าที่มีการรับรองมาตรฐานด้านสิ่งแวดล้อมจากหน่วยงานรัฐบาลที่เชื่อถือได้หรือองค์กรไม่แสวงหาผลกำไรสักแห่ง 
            p.text-medium.mar-top โดยทุกวันนี้ผู้บริโภคในสังคมเมืองหรือร้อยละ 43 เต็มใจที่จะซื้อสินค้าที่มีการกล่าวอ้างถึงสรรพคุณที่ดีกว่า ซึ่งถือเป็นแรงจูงใจแรกในการตัดสินใจเลือกซื้อเลยทีเดียว รองลงมาคือร้อยละ 40 หรือผู้บริโภคจำนวน 2 ใน 5 คนยินดีที่จะจ่ายแพงให้กับสินค้าที่มีการกล่าวอ้างถึงความปลอดภัย อันดับสามที่ผู้บริโภคพิจารณาคือสินค้านั้นมาจากธรรมชาติและใช้ส่วนผสมอาหารที่บริสุทธิ์ โดยผู้บริโภคมากกว่า 1 ใน 4 หรือคิดเป็นร้อยละ 27 จะยอมจ่ายในราคาสูงสำหรับผลิตภัณฑ์ที่ใช้ในชีวิตประจำวันซึ่งมาจากธรรมชาติ
            p.text-medium.mar-top จากความกังวลเรื่องความปลอดภัยในส่วนผสมอาหารส่งผลต่อเทรนด์อาหารทั่วโลก ผู้บริโภคชาวไทยต่างมองหาสินค้าที่เน้นความเป็นธรรมชาติและใช้ส่วนผสมในสูตรการผลิตที่เป็นธรรมชาติโดยแท้ คำว่า "ปลอดภัย" และ "ธรรมชาติ" จึงช่วยเพิ่มความสนใจให้กับผู้บริโภค อีกทั้งการรับรู้ในสิ่งที่เรียกว่า “ปราศจาก” ก็มีแนวโน้มที่จะเพิ่มขึ้นตามความกังวลเกี่ยวกับเรื่องความปลอดภัยของอาหารและการปนเปื้อนสารเคมี
            p.text-medium.mar-top 
              b และแล้วกลูเตนก็กลายเป็นจอมวายร้าย
            p.text-medium โดยรวมแล้วหรืออาจมากกว่า 1 ใน 10 ของผู้บริโภคชาวไทยคือกำลังหลีกเลี่ยงหรือตั้งใจที่จะหลีกเลี่ยงกลูเตน ในขณะที่เทรนด์ปราศจากกลูเตนหรือปราศจากสารก่อภูมิแพ้ยังไม่ได้เกิดขึ้นในเอเชียมากนักด้วยซ้ำ แต่ระดับความกังวลต่อสารก่อภูมิแพ้และการแพ้กลูเตนนั้นกำลังเพิ่มมากขึ้นท่ามกลางกลุ่มผู้บริโภคในสังคมเมือง เนื่องจากผู้บริโภคจำนวน 6 ใน 10 คน กำลังหลีกเลี่ยงหรือตั้งใจที่จะทำเช่นนั้นเพราะเชื่อในมุมที่ว่าดีต่อสุขภาพ ส่วนอีกร้อยละ 11 บอกว่าพวกเขาแพ้สารกลูเตน ถึงแม้ว่าจะไม่ทั้งหมดที่กังวลเกี่ยวกับการแพ้กลูเตน แต่ความเชื่อดังกล่าวก็เปิดโอกาสให้กับผลิตภัณฑ์ใหม่ๆ ที่ปราศจากกลูเตนได้ออกมาโลดแล่นในตลาดมากขึ้น
            p.text-medium.mar-top นอกจากนี้ จากข้อมูลเมื่อปี 2555-2558 การกล่าวอ้างว่าปราศจากกลูเตนพบมากขึ้นในกลุ่มสินค้าอาหารและเครื่องดื่ม โดยเฉพาะในกลุ่มสินค้าประเภทซอสและเครื่องปรุงรส อาหารเด็ก รวมถึงกลุ่มผลิตภัณฑ์นมที่เพิ่มมากขึ้นอย่างมากเมื่อปี 2558 เมื่อเปรียบเทียบกับปี 2557
            p.text-medium.mar-top 
              b ผลิตภัณฑ์นมและแลกโตสก็พลอยถูกหลีกเลี่ยงด้วยเช่นกัน
            p.text-medium จำนวนผู้บริโภคชาวไทย 1 ใน 10 คนหลีกเลี่ยงหรือตั้งใจที่จะหลีกเลี่ยงแลกโตส โดยในจำนวนดังกล่าวนี้ ร้อยละ 59 เชื่อในเรื่องการหลีกเลี่ยงแลกโตสนั้นเป็นผลดีต่อสุขภาพ ในขณะที่อีกร้อยละ 9 เท่านั้นที่แพ้แลกโตสจริงๆ ซึ่งนั่นเป็นเพียงแค่จำนวน 1 ใน 4 ของผู้บริโภคในสังคมเมืองเท่านั้นที่หลีกเลี่ยงผลิตภัณฑ์จากนมเนื่องจากมีส่วนผสมที่พวกเขาแพ้ อย่างไรก็ตาม ความตระหนักถึงการแพ้อาหารในกลุ่มผลิตภัณฑ์จากนมพบได้ชัดเจนในเขตกรุงเทพฯ และพื้นที่โดยรอบ เนื่องจากผู้บริโภคในพื้นที่เหล่านี้มีแนวโน้มหลีกเลี่ยงหรือตั้งใจที่จะหลีกเลี่ยงอย่างจริงจัง เมื่อเปรียบเทียบกับผู้บริโภคในเขตเมืองตามที่ต่างๆ ของไทย
            p.text-medium.mar-top 
              b การเกิดขึ้นของนมทางเลือก
            p.text-medium จากฐานข้อมูลโดย Mintel Global New Products Database ระหว่างเดือนมกราคม 2555 ถึงเดือนกันยายน 2559 พบว่าประเทศไทยมีการเปิดตัวผลิตภัณฑ์นมทางเลือกมากที่สุดจนกลายเป็นผู้นำตลาดในภูมิภาคเอเชียตะวันออกเฉียงใต้ สำหรับผู้บริโภคบางกลุ่มผลิตภัณฑ์นมทางเลือกนั้นมีอิทธิพลอย่างมากต่อการหลีกเลี่ยงผลิตภัณฑ์จากนมที่มีแลกโตส โดยเมื่อไม่นานมานี้ ผลิตภัณฑ์นมทางเลือกอย่างน้ำนมจากข้าว ธัญพืช ถั่ว หรือเมล็ดพืช ก็ได้มีให้เห็นมากขึ้นในตลาดของประเทศ
            p.text-medium.mar-top จะเห็นได้ว่าพฤติกรรมการบริโภคของคนเมืองในลักษณะนี้มีศักยภาพมากพอที่ผู้ผลิตจะสามารถนำนวัตกรรมและความหลากหลายของการกล่าวอ้างในเชิงคุณประโยชน์ต่อสุขภาพมาใช้ ไม่ว่าจะเป็นซูเปอร์ฟู้ดอย่างเช่น คลินัว และเมล็ดเชีย ที่เป็นเทรนด์โด่งดังของหลายประเทศทั่วโลก อย่างไรก็ตาม ในตลาดบ้านเราก็สามารถพบเห็นส่วนผสมอาหารเหล่านี้ได้เช่นกันจากการนำมาใช้ในผลิตภัณฑ์นมทางเลือกที่นับวันจะมีหลากหลายรูปแบบมากขึ้น
            


        .col-sm-12.hidden-md-up
          ul.list-icons
            li: +link-img('/images/icons/ic-fb.svg','#')
            li: +link-img('/images/icons/ic-twitter.svg','#')
            li: +link-img('/images/icons/ic-linkedin.svg','#')
        .col-md-3.col-xs-12
          .col-sm-12
            h2.title Other Events
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Meat_2017.jpg', 'Meat & Poultry Edition')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Drink_2017.jpg', 'Drinking Edition')
          .col-md-12.col-sm-6
            .content-item
              +life-stage('/images/upload/Functional_2017.jpg', 'Functional F&B Edition')

      