extends layouts/layout

block vars
  -title = 'About Us'
  -bodyClass = ''


block container
  section.banner-wrap
    +banner('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/magazine-bg.jpeg','ABOUT US','Dedicated to be the industry-focused platform for Food & Beverage Industry, Be Media Focus (Thailand) Co., Ltd. has established in 2006 to create the effective industry-focused media serving Food & Beverage professionals. บริษัท บี มีเดีย โฟกัส (ประเทศไทย) จำกัด ก่อตั้งขึ้นเมื่อปี พ.ศ. 2549 เพื่อสร้างสรรค์งานด้านสื่อ นำเสนอองค์ความรู้ ข้อมูล ข่าวสาร ให้กับผู้ประกอบการในวงการอุตสาหกรรมอาหารและเครื่องดื่ม')
  section.services-tab(data-tab).pad-top-lg
    .row-centered.narrow(data-tab-header, data-activeByHash="true")
      +link('','#advertiser').col.active
        h3.title-2.light ADVERTISERS
      +link('','#board').col
        h3.title-2.light BOARD OF CONSULTANTS/ENDORSEMENTS
    section(data-tab-content).pad-top-lg.pad-bot-lg
      .inner#advertiser.active
        .inner-container
          .row
            .col-xs-12
              h2.title.light.mar-bot-md ADVERTISERS
              section.banner-wrap
                .ads-carousel
                  .ads-group.row-centered
                    ul
                      li
                        div
                          a
                            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Arcadia.jpg')
                      li
                        div
                          a
                            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Brenntag.jpg')
                      li
                        div
                          a
                            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Dhawath.jpg')
                      li
                        div
                          a
                            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Ecolab.jpg')
                      li
                        div
                          a
                            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Ferrostaal.jpg')
                      li
                        div
                          a
                            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Hi-cook.jpg')
                    ul
                      li
                        div
                          a
                            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/IHI.jpg')
                      li
                        div
                          a
                            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/NewsPacific.jpg')
                      li
                        div
                          a
                            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Materworld.jpg')
                      li
                        div
                          a
                            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Nutrition.jpg')
                      li
                        div
                          a
                            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Official.jpg')
                      li
                        div
                          a
                            +img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/SentaPack.jpg')
      .inner#board
        .outer(style="background-color: #dddddd;")
          .inner-container
            .row
              .col-xs-12
                h2.title.light.mar-bot-md BOARD OF CONSULTANTS
              .col-md-6.col-sm-12
                +profile('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/1_Sakchai.jpg', 'Sakchai Sriboonsue D.V.M., LB.', 'President of the Milk Board', 'Dairy Farming Promotion Organization of Thailand')
              .col-md-6.col-sm-12
                +profile('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/2_Boopeng.jpg', 'Boonpeng Santiwattanatam', 'Chairman', 'Food Processing Industry Club', 'The Federation of Thai Industries')
              .col-md-6.col-sm-12
                +profile('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/3_Visit.jpg', 'Visit Limprana', 'Honorary Advisor', 'Food Processing Industry Club', 'The Federation of Thai Industries')
              .col-md-6.col-sm-12
                +profile('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/4_Sakkhee.jpg', 'Sakkhee Sansupa', 'Director', 'Thai Packaging Centre', 'Thailand Institute of Scientific and Technological Research')
              .col-md-6.col-sm-12
                +profile('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/5_Pavinee.jpg', 'Prof.Pavinee Chinachoti, Ph.D.', 'President', 'Food Science and Technology Association of Thailand (FoSTAT)')
              .col-md-6.col-sm-12
                +profile('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/6_Winai.jpg', 'Assoc. Prof.Winai Dahlan, Ph.D.', 'The Halal Science Center', 'Chulalongkorn University')
              .col-md-6.col-sm-12
                +profile('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/7_Sombat.jpg', 'Assoc. Prof.Sombat Chinawong, Ph.D.', 'Institute of Food Research and Product Development', 'Kasetsart University')
              .col-md-6.col-sm-12
                +profile('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/8_Yongvut.jpg', 'Yongvut Saovapruk', 'President', 'National Food Institute', 'Ministry of Industry')
              .col-md-6.col-sm-12
                +profile('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/9_Phanit.jpg', 'Phanit Laosirirat, Ph.D.', 'Executive Director', 'Thailand Productivity Institute', 'Ministry of Industry')
              .col-md-6.col-sm-12
                +profile('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/10_Ratchanee.jpg', 'Assoc. Prof.Ratchanee Kongkachuichai, Ph.D.', 'Director', 'Institute of Nutrition', 'Mahidol University')
              .col-md-6.col-sm-12
                +profile('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/11_Visith.jpg', 'Prof.Visith Chavasit, Ph.D.', 'Institute of Nutrition', 'Mahidol University')
              .col-md-6.col-sm-12
                +profile('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/12_Sittiwat.jpg', 'Assoc. Prof.Sittiwat Lertsiri, Ph.D.', 'Dean', 'Faculty of Science', 'Mahidol University')
              .col-md-6.col-sm-12
                +profile('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/13_Poj.jpg', 'Poj Aramwattananont, Ph.D.', 'President', 'Thai Frozen Foods Association')
              .col-md-6.col-sm-12
                +profile('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/14_Pravith.jpg', 'Pravith Chotiprayanakul', 'CEO', 'GS1 Thailand', 'The Federation of Thai Industries')
        .outer(style="background-color: white;")
          .inner-container
            .row
              .col-xs-12
                h2.title.light.mar-bot-md ENDORSEMENTS
            .row-centered.endorsement
              div.endorse
                +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/1_fd.jpg', 'สำนักงานคณะกรรมการอาหารและยา กระทรวงสาธารณสุข', 'http://www.fda.moph.go.th')
              div.endorse
                +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/2_foodprocess.jpg', 'กลุ่มอุตสาหกรรมอาหาร สภาอุตสาหกรรมแห่งประเทศไทย', 'http://ftiweb.off.fti.or.th/industrialgroup/food')
              div.endorse
                +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/3_TISTR.jpg', 'สถาบันวิจัยวิทยาศาสตร์และเทคโนโลยีแห่งประเทศไทย', 'http://www.tistr.or.th/tistr/')
              div.endorse
                +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/4_thaipackage.jpg', 'ศูนย์การบรรจุหีบห่อไทย สถาบันวิจัยวิทยาศาสตร์และเทคโนโลยีแห่งประเทศไทย', 'http://www.tistr.or.th/tpc/')
              div.endorse
                +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/5_Fostat.jpg', 'สมาคมวิทยาศาสตร์และเทคโนโลยีทางอาหารแห่งประเทศไทย', 'https://www.fostat.org/')
              div.endorse
                +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/6_Halal.jpg', 'ศูนย์วิทยาศาสตร์ฮาลาล จุฬาลงกรณ์มหาวิทยาลัย', 'http://www.halalscience.org/')
              div.endorse
                +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/7_FoodResarchKaset.jpg', 'สถาบันค้นคว้าและพัฒนาผลิตภัณฑ์อาหาร มหาวิทยาลัยเกษตรศาสตร์', 'http://www.ifrpd.ku.ac.th/')
              div.endorse
                +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/8_FacultyofAgro-Industry.jpg', 'คณะอุตสาหกรรมเกษตร มหาวิทยาลัยเกษตรศาสตร์', 'http://www.agro.ku.ac.th/')
            .row-centered.endorsement
              div.endorse
                +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/9_nfi.jpg', 'สถาบันอาหาร กระทรวงอุตสาหกรรม', 'http://www.nfi.or.th/')
              div.endorse
                +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/10_thailandproductivity.jpg', 'สถาบันเพิ่มผลผลิตแห่งชาติ กระทรวงอุตสาหกรรม', 'http://www.ftpi.or.th/')
              div.endorse
                +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/11_OSMEP.jpg', 'สำนักงานส่งเสริมวิสาหกิจขนาดกลางและขนาดย่อม', 'http://www.sme.go.th/')
              div.endorse
                +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/12_thaifrozen.jpg', 'สมาคมอาหารแช่เยือกแข็งไทย', 'http://www.thai-frozen.or.th/')
              div.endorse
                +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/13_GS1.jpg', 'สถาบันรหัสสากล สภาอุตสาหกรรมแห่งประเทศไทย', 'https://www.gs1thailand.org/')
              div.endorse
                +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/14_RFID.jpg', 'สถาบันส่งเสริมความเป็นเลิศทางเทคโนโลยีอาร์เอฟไอดีแห่งประเทศไทย', 'http://www.rfid.or.th/')
      

            