extends layouts/layout

block vars
  -title = 'About Us'
  -bodyClass = ''


block container
  section.banner-wrap
    +banner('images/upload/magazine-bg.jpeg','ABOUT US','ยูวีวิลล์คอร์ปแทงโก้ เทียมทาน แพ็คครัวซองต์วิภัชภาค โคโยตี้อิเลียดสุนทรีย์ซิมโฟนีคาวบอย เพนตากอนสเตชันนินจา ชีสอินดอร์แฟนตาซีตุ๋ยแพทยสภา วันเวย์ไนท์วาริชศาสตร์ ตอกย้ำสถาปัตย์มาร์เก็ตสมาพันธ์ อีแต๋น ไทเฮาเวิร์กบ๊วยนอร์ท หยวนโมเต็ลแฟนตาซีบอมบ์ บาลานซ์ ไอติมวิวอวอร์ดเต๊ะ เทคพุทโธ เบลอสปาแคมเปญมวลชนสเตชั่น เฝอมินท์')
  section.services-tab(data-tab).pad-top-lg
    .row-centered.narrow(data-tab-header)
      +link('','#advertiser').col.active
        h3.title-2.light ADVERTISER
      +link('','#board').col
        h3.title-2.light BOARD OF CONSULTANTS/ENDORSEMENT
    section(data-tab-content).pad-top-lg.pad-bot-lg
      .inner#advertiser.active
        .inner-container
          .row
            .col-xs-12
              h2.title.light.mar-bot-md ADVERTISER
              section.banner-wrap
                .ads-carousel
                  .ads-group.row-centered
                    ul
                      li
                        div
                          a
                            +img('images/upload/endorsement-4.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-1.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-2.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-4.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-1.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-3.jpg')
                    ul
                      li
                        div
                          a
                            +img('images/upload/endorsement-4.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-1.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-2.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-4.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-1.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-3.jpg')

                  .ads-group.row-centered
                    ul
                      li
                        div
                          a
                            +img('images/upload/endorsement-4.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-1.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-2.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-4.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-1.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-3.jpg')
                    ul
                      li
                        div
                          a
                            +img('images/upload/endorsement-4.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-1.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-2.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-4.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-1.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-3.jpg')
                  .ads-group.row-centered
                    ul
                      li
                        div
                          a
                            +img('images/upload/endorsement-4.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-1.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-2.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-4.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-1.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-3.jpg')
                    ul
                      li
                        div
                          a
                            +img('images/upload/endorsement-4.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-1.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-2.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-4.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-1.jpg')
                      li
                        div
                          a
                            +img('images/upload/endorsement-3.jpg')
      .inner#board
        .outer(style="background-color: #dddddd;")
          .inner-container
            .row
              .col-xs-12
                h2.title.light.mar-bot-md BOARD OF CONSULTANT
              .col-md-6.col-sm-12
                +profile()
              .col-md-6.col-sm-12
                +profile()
              .col-md-6.col-sm-12
                +profile()
              .col-md-6.col-sm-12
                +profile()
              .col-md-6.col-sm-12
                +profile()
              .col-md-6.col-sm-12
                +profile()
        .outer(style="background-color: white;")
          .inner-container
            .row
              .col-xs-12
                h2.title.light.mar-bot-md ENDORSEMENT
            .row-centered.endorsement
              +link-img('images/upload/endorsement-1.jpg')
              +link-img('images/upload/endorsement-2.jpg')
              +link-img('images/upload/endorsement-3.jpg')
              +link-img('images/upload/endorsement-1.jpg')
              +link-img('images/upload/endorsement-2.jpg')
              +link-img('images/upload/endorsement-3.jpg')
              +link-img('images/upload/endorsement-1.jpg')
              +link-img('images/upload/endorsement-2.jpg')
              +link-img('images/upload/endorsement-1.jpg')
              +link-img('images/upload/endorsement-2.jpg')
              +link-img('images/upload/endorsement-3.jpg')
              +link-img('images/upload/endorsement-1.jpg')
      

            