extends layouts/layout

block vars
  -title = 'Event & Exhibition'
  -bodyClass = ''


block container
  section.banner-wrap
    +banner('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/header_bg3.jpg', 'EXHIBITION', 'We have participated in the notable Food & Beverage related exhibitions both domestic and overseas to promote our magazine and other activities. That’s why we possess the strong and powerful database. จากการมีส่วนร่วมในงานนิทรรศการและแสดงสินค้าที่เกี่ยวข้องกับวงการอุตสาหกรรมอาหารและเครื่องดื่มทั้งในและต่างประเทศ เพื่อเผยแพร่และประชาสัมพันธ์นิตยสารและกิจกรรมต่างๆ ทำให้เรามีฐานข้อมูลสมาชิกที่แข็งแกร่งและอัพเดทอยู่เสมอ ')
  .wrapper
    .outer
      .inner-container
        .row
          .col-xs-12
            h2.title-primary.light.mar-bot MEDIA PARTNERS
            section.media-carousel-wrap
              ul.media-carousel
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/1_FoodPack2018.jpg','','http://www.foodfocusthailand.com/click.php?id=E_Foodpack_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/2_Hotelex2018.jpg','','http://www.foodfocusthailand.com/click.php?id=E_HOTELEX_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/3_MIFB.png','','http://www.foodfocusthailand.com/click.php?id=E_MIFB_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/4_Thaiflex.jpg','','http://www.foodfocusthailand.com/click.php?id=E_Thaifex_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/5_Finefood_Shanghai.jpg','','http://www.foodfocusthailand.com/click.php?id=E_Finefood_Shanghai_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/6_Propak_Vietnam.jpg','','http://www.foodfocusthailand.com/click.php?id=E_PropakVietnam_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/7_Food_Hotel_Singapore.jpg','','http://www.foodfocusthailand.com/click.php?id=E_FoodHotel_Singapore_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/8_Sial_China.jpg','','http://www.foodfocusthailand.com/click.php?id=E_SialChina_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/9_Asia_fruit_logistica_HongKong.jpg','','http://www.foodfocusthailand.com/click.php?id=E_Asiafruitlogistica_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/10_Propak_Myanmar.jpg','','http://www.foodfocusthailand.com/click.php?id=E_Propak_Myanmar_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/11_Vitafood.jpg','','http://www.foodfocusthailand.com/click.php?id=E_Vitafood_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/12_Fi_Asai_Jakarta.jpg','','http://www.foodfocusthailand.com/click.php?id=E_FiAsai_Jakarta_0118')

    .outer(style="background-color: #dddddd;")
      .inner-container
        .row
          .col-md-5
            h2.title-primary.light.mar-bot CALENDAR
          .col-md-7.col-sm-12
            form
              .row
                label.title-uppercase MONTH:
                .form-group.half.mar-top-xs
                  select.form-control
                    option(value="all") ALL
                    option(value="nov") November
                    option(value="oct") October
                .form-group.half
                  select.form-control
                    option(value="2017") 2017
                    option(value="2016") 2016
                    option(value="2015") 2015
              .row
                label.title-uppercase LOCATION:
                .form-group.mar-top-xs
                  select.form-control
                    option(value="0") ALL
                    option(value="1") Option 1
                    option(value="2") Option 2
                    option(value="3") Option 3
          .col-xs-12
            p.text-large.txt-black.mar-bot JANUARY
            ul
              li: +event('16-18', 'JAN', 'HORECA KUWAIT 2018', 'Jumeirah Messilah Beach Hotel and Spa, Kuwait', 'www.horeca-kuwait.com')
              li: +event('18-20', 'JAN', 'FOOD HOSPITALITY WORLD INDIA (FHW INDIA) 2018', 'Bandra Kurla Complex, Mumbai, India', 'www.fhwexpo.com')
              li: +event('21-23', 'JAN', 'WINTER FANCY FOOD SHOW 2018', 'Moscone Ctr, San Francisco, U.S.A.', 'www.specialtyfood.com')
              li: +event('28-31', 'JAN', 'ISM 2018 International Sweets and Biscuits Fair ', 'Cologne Exhibition Centre, Cologne, Germany', 'www.ism-cologne.com')
          .col-xs-12
            p.text-large.txt-black.mar-bot FEBRUARY
            ul
              li: +event('1-3', 'FEB', 'VEGETARIAN FOOD ASIA 2018 The 3rd Trade Exhibition for Vegetarian Food Market', 'Hong Kong Convention Exhibition Center, Hong Kong', 'www.vegfoodasia.com')
              li: +event('1-4', 'FEB', 'FOOD PACK ASIA 2018 The International Food Processing and Packaging Exhibition', 'Bangkok International Trade & Exhibition Centre (BITEC), Bangkok, Thailand', 'www.foodpackthailand.com')
              li: +event('7-9', 'FEB', 'FRUIT LOGISTICA 2018', 'Messe Berlin, Germany', 'www.fruitlogistica.de/en')
              li: +event('14-16', 'FEB', 'SUPERMARKET TRADE SHOW 2018', 'Makuhari Messe, Japan', 'www.smts.jp')
          .col-xs-12
            p.text-large.txt-black.mar-bot MARCH
            ul
              li: +event('1-3', 'MAR', 'FOOD, HOTEL & TOURISM BALI 2018 The 11th International Exhibition for Equipment, Food, Beverage and Services to Support Indonesia’s Tourism and Hospitality Industries', 'Bali, Indonesia', 'www.fhtbali.com')
              li: +event('10-12', 'MAR', 'FOOD EXPO GREECE 2018 The International Food and Beverage Exhibition', 'Metropolitan Expoathens, Athens, Greece', 'www.foodexpo.gr')
              li: +event('11-13', 'MAR', 'SEAFOOD EXPO NORTH AMERICA 2018 SEAFOOD PROCESSING NORTH AMERICA 2018', 'Boston, U.S.A.', 'www.seafoodexpo.com')
              li: +event('15-18', 'MAR', 'THAILAND COFFEE, TEA & DRINKS 2018 THAILAND BAKERY & ICE CREAM 2018', 'Challenger Hall, IMPACT, Muang Thong Thani, Nonthaburi, Thailand', 'www.thailandcoffee.net')
              li: +event('18', 'MAR', 'THE 98th CHINA FOOD & DRINK FAIR 2018 (SPRING SESSION)', 'Chengdu, China', 'www.cfdf.org, www.blithailand.com')
              li: +event('20-22', 'MAR', 'PROPAK VIETNAM 2018 The 13th International Processing, Packaging Exhibition and Conference for Vietnam', 'Saigon Exhibition & Convention Center, Ho Chi Minh City, S.R. of Vietnam', 'www.propakvietnam.com')


