extends layouts/layout

block vars
  -title = 'Event & Exhibition'
  -bodyClass = ''


block container
  section.banner-wrap
    +banner('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/header_bg3.jpg', 'EXHIBITION', 'We have participated in the notable Food & Beverage related exhibitions both domestic and overseas to promote our magazine and other activities. That’s why we possess the strong and powerful database. จากการมีส่วนร่วมในงานนิทรรศการและแสดงสินค้าที่เกี่ยวข้องกับวงการอุตสาหกรรมอาหารและเครื่องดื่มทั้งในและต่างประเทศ เพื่อเผยแพร่และประชาสัมพันธ์นิตยสารและกิจกรรมต่างๆ ทำให้เรามีฐานข้อมูลสมาชิกที่แข็งแกร่งและอัพเดทอยู่เสมอ ')
  .wrapper
    .outer
      .inner-container
        .row
          .col-xs-12
            h2.title-primary.light.mar-bot MEDIA PARTNERS
            section.media-carousel-wrap
              ul.media-carousel
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/1_FoodPack2018.jpg','','http://www.foodfocusthailand.com/click.php?id=E_Foodpack_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/2_Hotelex2018.jpg','','http://www.foodfocusthailand.com/click.php?id=E_HOTELEX_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/3_MIFB.png','','http://www.foodfocusthailand.com/click.php?id=E_MIFB_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/4_Thaiflex.jpg','','http://www.foodfocusthailand.com/click.php?id=E_Thaifex_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/5_Finefood_Shanghai.jpg','','http://www.foodfocusthailand.com/click.php?id=E_Finefood_Shanghai_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/6_Propak_Vietnam.jpg','','http://www.foodfocusthailand.com/click.php?id=E_PropakVietnam_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/7_Food_Hotel_Singapore.jpg','','http://www.foodfocusthailand.com/click.php?id=E_FoodHotel_Singapore_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/8_Sial_China.jpg','','http://www.foodfocusthailand.com/click.php?id=E_SialChina_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/9_Asia_fruit_logistica_HongKong.jpg','','http://www.foodfocusthailand.com/click.php?id=E_Asiafruitlogistica_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/10_Propak_Myanmar.jpg','','http://www.foodfocusthailand.com/click.php?id=E_Propak_Myanmar_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/11_Vitafood.jpg','','http://www.foodfocusthailand.com/click.php?id=E_Vitafood_0118')
                li.item 
                  +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/12_Fi_Asai_Jakarta.jpg','','http://www.foodfocusthailand.com/click.php?id=E_FiAsai_Jakarta_0118')

    .outer(style="background-color: #dddddd;")
      .inner-container
        .row
          .col-md-5
            h2.title-primary.light.mar-bot CALENDAR
          .col-md-7.col-sm-12
            form
              .row
                label.title-uppercase MONTH:
                .form-group.half.mar-top-xs
                  select.form-control
                    option(value="all") ALL
                    option(value="nov") November
                    option(value="oct") October
                .form-group.half
                  select.form-control
                    option(value="2017") 2017
                    option(value="2016") 2016
                    option(value="2015") 2015
              .row
                label.title-uppercase LOCATION:
                .form-group.mar-top-xs
                  select.form-control
                    option(value="0") ALL
                    option(value="1") Option 1
                    option(value="2") Option 2
                    option(value="3") Option 3
          .col-xs-12
            p.text-large.txt-black.mar-bot COMING SOON


