extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'homepage'

block container
  section.banner-wrap
    +banner-book-image('images/upload/magazine-bg.jpeg','images/upload/book-1.jpg','Welcome To Food Focus Magazine', 'FOOD FOCUS THAILAND MAGAZINE','THE NO.1 INDUSTRY-FOCUSED MAGAZINE FOR FOOD & BEVERAGE PROFESSIONALS','ALCOHOL DRINK')
  .wrapper.pad-top-lg.pad-bot-lg(style="background-color: #f9f9f9;")
    .inner-container
      .row
        .col-sm-12
          h2.title.light WHAT'S IN
        .col-sm-12.col-md-8.mar-top
          +story('images/upload/thumb-1.jpg','Vietnam Coffee Market','ความต้องการของกาแฟเวียดนามส่งผลให้ประเทศอยู่ในตลาดกาแฟชั้นนำของโลกกำลังเติบโต')
        .col-sm-6.col-md-4.mar-top
          +product('images/upload/thumb-2.jpg','เทคนิคใหม่ในการตรวจวิเคราะห์น้ำมันพืช')
        .col-sm-6.col-md-4.mar-top
          +product('images/upload/thumb-3.jpg','เทคโนโลยีการถนอมอาหารด้วยความดันสูง')
        .col-sm-6.col-md-4.mar-top
          +product('images/upload/thumb-4.jpg','นวัตกรรมชุดทดสอบโปรตีนรวม')
        .col-sm-6.col-md-4.mar-top
          +product('images/upload/thumb-5.jpg','คุณรู้จักวิตามินดีแค่ไหน')
        
  .wrapper.pad-bot-lg.pad-top-lg(style="background-color: #ffffff;")
    .inner-container
      .row
        .col-sm-12
          h2.title.light NEWS &amp; ACTIVITIES
        .col-sm-6.col-md-4.mar-top
          +link-img('images/upload/thumb-5.jpg')
          ul.list-primary
            li: +link-middle('สสว. สถาบันอาหารนำทัพคลัสเตอร์มะพร้าวเปิดตลาดใหญ่ที่จีน ร่วมออกบูธในงาน FHW CHINA 2017')
            li: +link-middle('สสว. สถาบันอาหารนำทัพคลัสเตอร์มะพร้าวเปิดตลาดใหญ่ที่จีน ร่วมออกบูธในงาน FHW CHINA 2017')
            li: +link-middle('สสว. สถาบันอาหารนำทัพคลัสเตอร์มะพร้าวเปิดตลาดใหญ่ที่จีน ร่วมออกบูธในงาน FHW CHINA 2017')
        .col-sm-6.col-md-4.mar-top
          +link-img('images/upload/thumb-5.jpg')
          ul.list-primary
            li: +link-middle('สสว. สถาบันอาหารนำทัพคลัสเตอร์มะพร้าวเปิดตลาดใหญ่ที่จีน ร่วมออกบูธในงาน FHW CHINA 2017')
            li: +link-middle('สสว. สถาบันอาหารนำทัพคลัสเตอร์มะพร้าวเปิดตลาดใหญ่ที่จีน ร่วมออกบูธในงาน FHW CHINA 2017')
            li: +link-middle('สสว. สถาบันอาหารนำทัพคลัสเตอร์มะพร้าวเปิดตลาดใหญ่ที่จีน ร่วมออกบูธในงาน FHW CHINA 2017')
        .col-sm-6.col-md-4.mar-top
          +link-img('images/upload/thumb-5.jpg')
          ul.list-primary
            li: +link-middle('สสว. สถาบันอาหารนำทัพคลัสเตอร์มะพร้าวเปิดตลาดใหญ่ที่จีน ร่วมออกบูธในงาน FHW CHINA 2017')
            li: +link-middle('สสว. สถาบันอาหารนำทัพคลัสเตอร์มะพร้าวเปิดตลาดใหญ่ที่จีน ร่วมออกบูธในงาน FHW CHINA 2017')
            li: +link-middle('สสว. สถาบันอาหารนำทัพคลัสเตอร์มะพร้าวเปิดตลาดใหญ่ที่จีน ร่วมออกบูธในงาน FHW CHINA 2017')
        .col-sm-12
          section.carousel-wrap.mar-top-md
          ul.carousel
            li.item
              +img('images/upload/side_1.gif')
            li.item
              +img('images/upload/side_2.gif')
            li.item
              +img('images/upload/side_3.gif')
            li.item
              +img('images/upload/side_4.gif')
            li.item
              +img('images/upload/side_5.gif')
            li.item
              +img('images/upload/side_6.gif')
            li.item
              +img('images/upload/side_7.gif')
            li.item
              +img('images/upload/side_8.gif')