extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'homepage'

block container
  section.banner-wrap
    +banner-book-image('images/upload/magazine-bg.jpeg','images/upload/book-1.jpg','WELCOME TO FOOD FOCUS THAILAND MAGAZINE', 'FOOD FOCUS THAILAND MAGAZINE', 'THE NO.1 INDUSTRY-FOCUSED MAGAZINE FOR FOOD & BEVERAGE PROFESSIONALS','JANUARY 2018')
  .wrapper.pad-top-lg.pad-bot-lg(style="background-color: #f9f9f9;")
    .inner-container
      .row
        .col-sm-12
          h2.title.light WHAT'S IN
        .col-sm-12.col-md-8.mar-top
          +story('images/upload/1_nov.jpg','Sustainable Agriculture Principles for Food Security and More Income for Farmers ความร่วมมืออาเซียน-เยอรมันนำเสนอหลักการระบบอาหาร-เกษตรยั่งยืน','โครงการความร่วมมืออาเซียน-เยอรมันด้านอาหารและการเกษตรได้นำเสนอหลักการระบบอาหาร-เกษตรอย่างยั่งยืนในอาเซียน','/whats-in/2017/nov/sustain-agriculture.html')
        .col-sm-6.col-md-4.mar-top
          +product('images/upload/2_nov.jpg','Food Industry in Germany อุตสาหกรรมอาหารในเยอรมนี','/whats-in/2017/nov/food-industry.html')
        .col-sm-6.col-md-4.mar-top
          +product('images/upload/3_nov.jpg','The APAC Health and Wellness Industry: Where are We Now and What’s Next? อุตสาหกรรมด้านสุขภาพและสุขภาวะที่ดีในภูมิภาคเอเชียแปซิฟิก: เราอยู่ที่จุดไหน และก้าวต่อไปเป็นอย่างไร','/whats-in/2017/nov/health-and-wellness.html')
        .col-sm-6.col-md-4.mar-top
          +product('images/upload/4_nov.jpg','Russian Market: “Free From” Food Trend ตลาดรัสเซีย: แนวโน้มอาหาร Free From','/whats-in/2017/nov/free-from.html')
        .col-sm-6.col-md-4.mar-top
          +product('images/upload/5_nov.jpg','Free-from Concept High Quality is the Leading Purchase Driver for Urban Thais แนวคิดปราศจาก...หนึ่งในปัจจัยด้านคุณภาพของสินค้าที่ผู้บริโภคชาวไทยในสังคมเมืองไว้วางใจ','/whats-in/2017/nov/urban-thais.html')
        
  .wrapper.pad-bot-lg.pad-top-lg(style="background-color: #ffffff;")
    .inner-container
      .row
        .col-sm-12
          h2.title.light NEWS &amp; ACTIVITIES
        .col-sm-6.col-md-4.mar-top
          +link-img('images/upload/news_1.jpg','/news/2017/nov/animal-welfare.html')
          ul.list-primary
            li: +link-middle('เบทาโกรตอกย้ำแนวคิด “เพื่อคุณภาพชีวิต” ประกาศนโยบาย สวัสดิภาพสัตว์ (Animal Welfare) เพื่อผู้บริโภคมั่นใจ จากสัตว์สุขภาพดี สู่ผู้บริโภคสุขภาพดี','/news/2017/nov/animal-welfare.html').title-3-thumb
            li: +link-middle('ดีเคเอสเอช ประเทศไทย เน้นให้การเรียนรู้เกี่ยวกับทักษะการใช้ชีวิตแก่เด็กนักเรียนใน จ.สุราษฏ์ธานี ผ่านกิจกรรม ‘วันเล่น’','/news/2017/nov/dksh.html').title-3-thumb
            li: +link-middle('สสว.- สถาบันอาหาร จับคู่ธุรกิจให้คลัสเตอร์มะพร้าวที่เวียดนาม','/news/2017/nov/cluster-coconut.html').title-3-thumb
        .col-sm-6.col-md-4.mar-top
          +link-img('images/upload/Drinking_10Nov.jpg','Roadmap 41 Drinking Edition','/roadmap/2017/drinking_nov.html')
          ul.list-primary
            li: +link-middle('Roadmap 41 Drinking Edition','/roadmap/2017/drinking_nov.html').title-3-thumb
            li: +link-middle('Food Focus Thailand Roadmap # 40: Meat & Poultry Edition','/roadmap/2017/meat_oct.html').title-3-thumb
            li: +link-middle('Chilled & Frozen Products Edition','/roadmap/2017/chilled_jul.html').title-3-thumb
        .col-sm-6.col-md-4.mar-top
          +link-img('images/upload/Ushare_Nov.jpg','Ushare Nov 2017','/ushare/2017/ushare-nov.html')
        .col-sm-12
          section.carousel-wrap.mar-top-md
          ul.carousel
            li.item
              +link-img('images/upload/Advertis_5.jpg','Food Focus Thailand','/index.html')
            li.item
              +link-img('images/upload/Anuga_2.jpg','Anuga Food Tech','http://www.foodfocusthailand.com/click.php?id=Anuga-foodtech-2017')
            li.item
              +link-img('images/upload/FHA_2018_8.jpg','FHA','http://www.foodnhotelasia.com/')
            li.item
              +link-img('images/upload/Hotlelex_1.jpg','Hotlelex','http://www.foodfocusthailand.com/click.php?id=hotelex-2017')
            li.item
              +link-img('images/upload/Mettle_3.jpg','Mettle','http://www.foodfocusthailand.com/click.php?id=banner-2')
            li.item
              +link-img('images/upload/Ohous_6.jpg','Ohous','http://www.foodfocusthailand.com/click.php?id=banner-1')
            li.item
              +link-img('images/upload/Roadmap_2018_4.jpg','Food Focus Roadmap','/roadmap.html')
            li.item
              +link-img('images/upload/RoadShow_2018_7.jpg','Food Focus Roadshow','/roadshow.html')