extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'homepage'

block container
  section.banner-wrap
    +banner-book-image('images/upload/header_bg3.jpg','images/upload/Food_Jan_142.jpg','WELCOME TO FOOD FOCUS THAILAND MAGAZINE', 'FOOD FOCUS THAILAND MAGAZINE', 'THE NO.1 INDUSTRY-FOCUSED MAGAZINE FOR FOOD & BEVERAGE PROFESSIONALS','JANUARY 2018')
  .wrapper.pad-top-lg.pad-bot-lg(style="background-color: #f9f9f9;")
    .inner-container
      .row
        .col-sm-12
          h2.title.light WHAT'S IN
        .col-sm-12.col-md-8.mar-top
          +story('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_01.jpg','Snack Trends แนวโน้มของผลิตภัณฑ์อาหารมื้อว่าง','ผู้บริโภคกำลังมองหาคุณสมบัติเชิงบวกของผลิตภัณฑ์ขนมขบเคี้ยว และส่วนผสมอาหารเพียงไม่กี่ชนิด','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2018/jan/snack-trends.html')
        .col-sm-6.col-md-4.mar-top
          +product('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_02.jpg','Food Defense การป้องกันการก่อการร้ายในธุรกิจอาหาร','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2018/jan/food-defense.html')
        .col-sm-6.col-md-4.mar-top
          +product('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_03.jpg','Ensuring Consumer Safety and Brand Protection การสร้างความมั่นใจในความปลอดภัยของผู้บริโภคและการปกป้องแบรนด์','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2018/jan/safety-and-brands-protection.html')
        .col-sm-6.col-md-4.mar-top
          +product('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_04.jpg','7 Amazing Benefits Of Oregano Essential Oil 7 คุณประโยชน์อัศจรรย์...น้ำมันหอมระเหยออริกาโน','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2018/jan/7-amazing-benefits.html')
        .col-sm-6.col-md-4.mar-top
          +product('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Week1_05.jpg','Foods from Chile “The Bounty of Our Land Delivered to Your Table” อาหารจากประเทศชิลี: อาหารจานโปรดจากแผ่นดินของเรา ส่งตรงถึงโต๊ะท่าน','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/whats-in/2018/jan/foods-from-chile.html')
        
  .wrapper.pad-bot-lg.pad-top-lg(style="background-color: #ffffff;")
    .inner-container
      .row
        .col-sm-12
          h2.title.light NEWS &amp; ACTIVITIES
        .col-sm-6.col-md-4.mar-top
          +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/news_1.jpg','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/news/2017/nov/animal-welfare.html')
          ul.list-primary
            li: +link-middle('เบทาโกรตอกย้ำแนวคิด “เพื่อคุณภาพชีวิต” ประกาศนโยบาย สวัสดิภาพสัตว์ (Animal Welfare) เพื่อผู้บริโภคมั่นใจ จากสัตว์สุขภาพดี สู่ผู้บริโภคสุขภาพดี','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/news/2017/nov/animal-welfare.html').title-3-thumb
            li: +link-middle('ดีเคเอสเอช ประเทศไทย เน้นให้การเรียนรู้เกี่ยวกับทักษะการใช้ชีวิตแก่เด็กนักเรียนใน จ.สุราษฏ์ธานี ผ่านกิจกรรม ‘วันเล่น’','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/news/2017/nov/dksh.html').title-3-thumb
            li: +link-middle('สสว.- สถาบันอาหาร จับคู่ธุรกิจให้คลัสเตอร์มะพร้าวที่เวียดนาม','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/news/2017/nov/cluster-coconut.html').title-3-thumb
        .col-sm-6.col-md-4.mar-top
          +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Drinking_10Nov.jpg','Roadmap 41 Drinking Edition','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadmap/2017/drinking_nov.html')
          ul.list-primary
            li: +link-middle('Roadmap 41 Drinking Edition','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadmap/2017/drinking_nov.html').title-3-thumb
            li: +link-middle('Food Focus Thailand Roadmap # 40: Meat & Poultry Edition','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadmap/2017/meat_oct.html').title-3-thumb
            li: +link-middle('Chilled & Frozen Products Edition','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/roadmap/2017/chilled_jul.html').title-3-thumb
        .col-sm-6.col-md-4.mar-top
          +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/Ushare_Nov.jpg','Ushare Nov 2017','http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/ushare/2017/ushare-nov.html')
        .col-sm-12
          section.carousel-wrap.mar-top-md
          ul.carousel
            li.item
              +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/1_FHA_2018.jpg','FHA 2018','http://www.foodfocusthailand.com/click.php?id=B_FHA_0118')
            li.item
              +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/2_Anuga.jpg','Anuga Food Tech','http://www.foodfocusthailand.com/click.php?id=B_Anuga_0118')
            li.item
              +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/3_BLI.jpg','BLI','http://www.foodfocusthailand.com/click.php?id=B_BLI_0118')
            li.item
              +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/4_Mettler.jpg','Mettler','http://www.foodfocusthailand.com/click.php?id=B_METTLER_0118')
            li.item
              +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/5_PKA_18.jpg','PROPAK','http://www.foodfocusthailand.com/click.php?id=B_PROPAK_0118')
            li.item
              +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/6_Advertis.jpg','Advertis','http://www.foodfocusthailand.com/click.php?id=B_Advertist_0118')
            li.item
              +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/7_Roadmap.jpg','Food Focus Roadmap','http://www.foodfocusthailand.com/click.php?id=B_Roadmap_0118')
            li.item
              +link-img('http://www.foodfocusthailand.com/foodfocusthailand-2017/demo/images/upload/8_RoadShow.jpg','Food Focus Roadshow','http://www.foodfocusthailand.com/click.php?id=B_RS_0118')