extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'homepage'

block container
  section.banner-wrap
    +banner-book-image('images/upload/magazine-bg.jpeg','images/upload/book-1.jpg','WELCOME TO FOOD FOCUS THAILAND MAGAZINE', 'FOOD FOCUS THAILAND MAGAZINE', 'THE NO.1 INDUSTRY-FOCUSED MAGAZINE FOR FOOD & BEVERAGE PROFESSIONALS','JANUARY 2018')
  .wrapper.pad-top-lg.pad-bot-lg(style="background-color: #f9f9f9;")
    .inner-container
      .row
        .col-sm-12
          h2.title.light WHAT'S IN
        .col-sm-12.col-md-8.mar-top
          +story('images/upload/1_nov.jpg','Sustainable Agriculture Principles for Food Security and More Income for Farmers ความร่วมมืออาเซียน-เยอรมันนำเสนอหลักการระบบอาหาร-เกษตรยั่งยืน','โครงการความร่วมมืออาเซียน-เยอรมันด้านอาหารและการเกษตรได้นำเสนอหลักการระบบอาหาร-เกษตรอย่างยั่งยืนในอาเซียน')
        .col-sm-6.col-md-4.mar-top
          +product('images/upload/2_nov.jpg','Food Industry in Germany อุตสาหกรรมอาหารในเยอรมนี')
        .col-sm-6.col-md-4.mar-top
          +product('images/upload/3_nov.jpg','The APAC Health and Wellness Industry: Where are We Now and What’s Next? อุตสาหกรรมด้านสุขภาพและสุขภาวะที่ดีในภูมิภาคเอเชียแปซิฟิก: เราอยู่ที่จุดไหน และก้าวต่อไปเป็นอย่างไร ')
        .col-sm-6.col-md-4.mar-top
          +product('images/upload/4_nov.jpg','Russian Market: “Free From” Food Trend ตลาดรัสเซีย: แนวโน้มอาหาร Free From')
        .col-sm-6.col-md-4.mar-top
          +product('images/upload/5_nov.jpg','Free-from Concept High Quality is the Leading Purchase Driver for Urban Thais แนวคิดปราศจาก...หนึ่งในปัจจัยด้านคุณภาพของสินค้าที่ผู้บริโภคชาวไทยในสังคมเมืองไว้วางใจ')
        
  .wrapper.pad-bot-lg.pad-top-lg(style="background-color: #ffffff;")
    .inner-container
      .row
        .col-sm-12
          h2.title.light NEWS &amp; ACTIVITIES
        .col-sm-6.col-md-4.mar-top
          +link-img('images/upload/news_1.jpg','roadmap-detail.html')
          ul.list-primary
            li: +link-middle('เบทาโกรตอกย้ำแนวคิด “เพื่อคุณภาพชีวิต” ประกาศนโยบาย สวัสดิภาพสัตว์ (Animal Welfare) เพื่อผู้บริโภคมั่นใจ จากสัตว์สุขภาพดี สู่ผู้บริโภคสุขภาพดี','roadmap-detail.html').title-3-thumb
            li: +link-middle('ดีเคเอสเอช ประเทศไทย เน้นให้การเรียนรู้เกี่ยวกับทักษะการใช้ชีวิตแก่เด็กนักเรียนใน จ.สุราษฏ์ธานี ผ่านกิจกรรม ‘วันเล่น’','roadmap-detail.html').title-3-thumb
            li: +link-middle('สสว.- สถาบันอาหาร จับคู่ธุรกิจให้คลัสเตอร์มะพร้าวที่เวียดนาม','roadmap-detail.html').title-3-thumb
        .col-sm-6.col-md-4.mar-top
          +link-img('images/upload/Drinking_10Nov.jpg','roadmap-detail.html')
          ul.list-primary
            li: +link-middle('Roadmap 41 Drinking Edition','roadmap-detail.html').title-3-thumb
            li: +link-middle('Food Safety Sanitation Solutions for Food Retail & Food Service Business Seminar','roadmap-detail.html').title-3-thumb
            li: +link-middle('Food Focus Thailand Roadmap # 40: Meat & Poultry Edition','roadmap-detail.html').title-3-thumb
        .col-sm-6.col-md-4.mar-top
          +link-img('images/upload/Ushare_Nov.jpg','roadmap-detail.html')
        .col-sm-12
          section.carousel-wrap.mar-top-md
          ul.carousel
            li.item
              +img('images/upload/side_1.gif')
            li.item
              +img('images/upload/side_2.gif')
            li.item
              +img('images/upload/side_3.gif')
            li.item
              +img('images/upload/side_4.gif')
            li.item
              +img('images/upload/side_5.gif')
            li.item
              +img('images/upload/side_6.gif')
            li.item
              +img('images/upload/side_7.gif')
            li.item
              +img('images/upload/side_8.gif')