extends layouts/layout

block vars
  -title = 'Magazine'
  -bodyClass = ''


block container
  section.banner-wrap
    +banner('images/upload/magazine-bg.jpeg', 'FOOD FOCUS THAILAND MAGAZINE', 'Food Focus Thailand, the monthly trade magazine, which successfully acts as a forum between Food & Beverage producers and suppliers. The magazine aims to deliver well-balanced practical article, timely information, innovative technology, the latest market trends and so on. The premiere issue had been launched since April 2006. ฟู้ด โฟกัส ไทยแลนด์ เป็นนิตยสารรายเดือน เสมือนเป็นเวทีกลางให้กับผู้ผลิตและซัพพลายเออร์ในวงการอุตสาหกรรมอาหารและเครื่องดื่ม นำเสนอข้อมูล ข่าวสาร ที่ทันสมัย และสามารถนำไปประยุกต์ใช้ได้จริง ทั้งในเรื่องของเทคโนโลยี เทรนด์ตลาดล่าสุด และอื่นๆ โดยนิตยสารฉบับปฐมฤกษ์เปิดตัวในเดือนเมษายน 2549')
  section.services-tab(data-tab).pad-top-lg
    .row-centered.narrow(data-tab-header, data-activeByHash="true")
      +link-img('images/upload/logo-foodfocus.png','','#foodfocus').col.blue.active
      +link-img('images/upload/logo-specialsup.png','','#specialsup').col.blue
      h2.title-primary-thumb.mar-bot-md.mar-top-md SUBSCRIBE FOR FREE 
        span
          u: +link('CLICK HERE').txt-black
    section(data-tab-content).magazine-tab-content.pad-bot-lg
      .inner#foodfocus.active
        .inner-container
          .row
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')        
      .inner#specialsup
        .inner-container
          .row
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')  
          



