extends layouts/layout

block vars
  -title = 'Magazine'
  -bodyClass = ''


block container
  section.banner-wrap
    +banner('images/upload/magazine-bg.jpeg', 'FOOD FOCUS THAILAND MAGAZINE', 'มหจริตบิล ซาร์ดีนมาราธอนแฟรนไชส์บอกซ์ โบรกเกอร์ แก๊สโซฮอล์บัตเตอร์ แคชเชียร์คลาสสิกสหรัฐนู้ดคาร์ ท็อปบู๊ทไลท์ ฮ็อตด็อกมาม่าคลับแอโรบิคมยุราภิรมย์ ผู้นำอมาตยาธิปไตยแม่ค้า วอเตอร์หลวงตาโปรโมชั่นทัวริสต์ เบญจมบพิตรเตี๊ยมหลวงตาเวเฟอร์มายาคติ เซอร์วิสนายพรานดีมานด์คันยิ กุนซือโพลารอยด์เรซินโมจิถูกต้อง ไมค์ โอวัลตินบลอนด์สปอต ปาสคาลลาตินมาร์เก็ตวานิลา ลีกออโต้แมมโบ้')
  section.services-tab(data-tab).pad-top-lg
    .row-centered.narrow(data-tab-header)
      +link-img('images/upload/logo-foodfocus.png','','#foodfocus').col.blue.active
      +link-img('images/upload/logo-specialsup.png','','#specialsup').col.blue
      h2.title-primary-thumb.mar-bot-md.mar-top-md SUBSCRIBE FOR FREE 
        span
          u: +link('CLICK HERE').txt-black
    section(data-tab-content).magazine-tab-content.pad-bot-lg
      .inner#foodfocus.active
        .inner-container
          .row
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')        
      .inner#specialsup
        .inner-container
          .row
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/book-1.jpg')  
          



