extends layouts/layout

block vars
  -title = 'Magazine'
  -bodyClass = ''


block container
  section.banner-wrap
    +banner('images/upload/magazine-bg.jpeg', 'FOOD FOCUS THAILAND MAGAZINE', 'Food Focus Thailand, the monthly trade magazine, which successfully acts as a forum between Food & Beverage producers and suppliers. The magazine aims to deliver well-balanced practical article, timely information, innovative technology, the latest market trends and so on. The premiere issue had been launched since April 2006. ฟู้ด โฟกัส ไทยแลนด์ เป็นนิตยสารรายเดือน เสมือนเป็นเวทีกลางให้กับผู้ผลิตและซัพพลายเออร์ในวงการอุตสาหกรรมอาหารและเครื่องดื่ม นำเสนอข้อมูล ข่าวสาร ที่ทันสมัย และสามารถนำไปประยุกต์ใช้ได้จริง ทั้งในเรื่องของเทคโนโลยี เทรนด์ตลาดล่าสุด และอื่นๆ โดยนิตยสารฉบับปฐมฤกษ์เปิดตัวในเดือนเมษายน 2549')
  section.services-tab(data-tab).pad-top-lg
    .row-centered.narrow(data-tab-header, data-activeByHash="true")
      +link-img('images/upload/logo-foodfocus.png','','#foodfocus').col.blue.active
      +link-img('images/upload/logo-specialsup.png','','#specialsup').col.blue
    .row-centered.narrow
      h2.title-primary-thumb.mar-bot-md.mar-top-md SUBSCRIBE FOR FREE 
        span
          +link('CLICK HERE','https://goo.gl/forms/oP25aDCXWbNASbXh2').txt-black
    section(data-tab-content).magazine-tab-content.pad-bot-lg
      .inner#foodfocus.active
        .inner-container
          .row
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Nov_140.jpg', 'No. 140', 'Nov 2017', 'http://www.foodfocusthailand.com/click.php?id=ebook-140')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Oct_139.jpg', 'No. 139', 'Oct 2017', 'http://www.foodfocusthailand.com/click.php?id=ebook-139')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Sep_138.jpg', 'No. 138', 'Sep 2017', 'http://www.foodfocusthailand.com/click.php?id=ebook-138')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Aug_137.jpg', 'No. 137', 'Aug 2017', 'http://www.foodfocusthailand.com/click.php?id=ebook-137')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/July_136.jpg', 'No. 136', 'Jul 2017', 'http://www.foodfocusthailand.com/click.php?id=ebook-136')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/June_135.jpg', 'No. 135', 'Jun 2017', 'http://www.foodfocusthailand.com/click.php?id=ebook-135')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/May_134.jpg', 'No. 134', 'May 2017', 'http://www.foodfocusthailand.com/click.php?id=ebook-134')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Apr_133.jpg', 'No. 133', 'Apr 2017', 'http://www.foodfocusthailand.com/click.php?id=ebook-133')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Mar_132.jpg', 'No. 132', 'Mar 2017', 'http://www.foodfocusthailand.com/click.php?id=ebook-132')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Feb_131.jpg', 'No. 131', 'Feb 2017', 'http://www.foodfocusthailand.com/click.php?id=ebook-131')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Jan_130.jpg', 'No. 130', 'Jan 2017', 'http://www.foodfocusthailand.com/click.php?id=ebook-130')       
      .inner#specialsup
        .inner-container
          .row
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Drink_47.jpg', 'Drinking Edition No. 47', 'Nov 2017', 'http://www.foodfocusthailand.com/click.php?id=SUPPLEMENT-40-Meat-2017')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Meat_46.jpg', 'Meat & Poultry Edition No. 46', 'Oct 2017', 'http://www.foodfocusthailand.com/eBook/139/#63')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Chill_45.jpg', 'Chilled & Frozen No. 45', 'July 2017', 'http://www.foodfocusthailand.com/click.php?id=Sub-Chilled-frozen-2017')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Functional_44.jpg', 'Functional F&B No. 44', 'Mar 2017', 'http://www.foodfocusthailand.com/eBook/132/#58')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Meat_43.jpg', 'Meat & Poultry No. 43', 'Oct 2016', 'http://www.foodfocusthailand.com/eBook/127/#64')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Drink_42.jpg', 'Drinking Edition No. 42', 'Aug 2016', 'http://www.foodfocusthailand.com/eBook/125/#64')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Chill_41.jpg', 'Chilled & Frozen No. 41', 'Jul 2016', 'http://www.foodfocusthailand.com/eBook/124/#48')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/NPI_40.jpg', 'New Product Ideas No. 40', 'Mar 2016', 'http://www.foodfocusthailand.com/eBook/120/#62')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Drink_39.jpg', 'Drinking Edition No. 39', 'Oct 2015', 'http://www.foodfocusthailand.com/eBook/115/#54')
            .col-md-3.col-sm-6.col-xs-12
              +book('images/upload/Chill_38.jpg', 'Chilled & Frozen No. 38', 'Aug 2015', 'http://www.foodfocusthailand.com/eBook/113/#66')
          



