extends layouts/layout

block vars
  -title = 'Roadmap'
  -bodyClass = ''


block container
  section.banner-wrap
    +banner()
  .wrapper.pad-bot-lg
    .inner-container
      .row-centered
        .col-sm-12
          section.default-tab(data-tab)
            .row(data-tab-header)
              +link('','#2018').active.col 
                h3.title-primary.light 2018
              +link('','#2017').col
                h3.title-primary.light 2017
              +link('','#2016').col
                h3.title-primary.light 2016
              +link('','#2015').col
                h3.title-primary.light 2015
            section(data-tab-content)
              .inner#2018.active
                +roadmap()
                +roadmap()
                +roadmap()
                +roadmap()
              .inner#2017
                +roadmap('images/upload/thumb-2.jpg')
                +roadmap('images/upload/thumb-2.jpg')
                +roadmap('images/upload/thumb-2.jpg')
                +roadmap('images/upload/thumb-2.jpg')
              .inner#2016
                +roadmap()
                +roadmap()
                +roadmap()
                +roadmap()
              .inner#2015
                +roadmap('images/upload/thumb-2.jpg')
                +roadmap('images/upload/thumb-2.jpg')
                +roadmap('images/upload/thumb-2.jpg')
                +roadmap('images/upload/thumb-2.jpg')

                    