extends layouts/layout

block vars
  -title = 'Roadmap'
  -bodyClass = ''


block container
  section.banner-wrap
    +banner('images/upload/magazine-bg.jpeg', 'FOOD FOCUS THAILAND ROADMAP', 'Food Focus Thailand Roadmap is the edutainment seminar which broaden the knowledge in Food & Beverage Industry. Let’s inspire your innovation thoughts and share the valuable experience among technology users and technology providers. งานสัมมนาที่เป็นสื่อกลางเพื่อขยายองค์ความรู้ในแวดวงอุตสาหกรรมอาหารและเครื่องดื่ม พร้อมจุดประกายความคิดเชิงนวัตกรรม สร้างเครือข่ายระหว่างผู้นำเสนอเทคโนโลยีและผู้ใช้เทคโนโลยี ตลอดจนแลกเปลี่ยนประสบการณ์อันมีคุณค่าระหว่างกัน')
  .wrapper.pad-bot-lg
    .inner-container
      .row-centered
        .col-sm-12
          section.default-tab(data-tab)
            .row(data-tab-header)
              +link('','#2018').active.col 
                h3.title-primary.light 2018
              +link('','#2017').col
                h3.title-primary.light 2017
              +link('','#2016').col
                h3.title-primary.light 2016
              +link('','#2015').col
                h3.title-primary.light 2015
            section(data-tab-content)
              .inner#2018.active
                +roadmap('images/upload/Functional_2018.jpg', 'Functional F&B Edition', 'March 2018','roadmap/2018/functional_mar.html')
                +roadmap('images/upload/Chilled_2018.jpg', 'Chilled & Frozen Products Edition', 'May 2018','roadmap/2018/chilled_may.html')
                +roadmap('images/upload/Drinking_2018.jpg', 'Drinking Edition', 'August 2018','roadmap/2018/drinking_aug.html')
                +roadmap('images/upload/Meat_2018.jpg', 'Meat & Poultry Edition', 'October 2018','roadmap/2018/meat_oct.html')
              .inner#2017
                +roadmap('images/upload/Drink_2017.jpg', 'Drinking Edition', '10 November 2017', 'roadmap/2017/drinking_nov.html')
                +roadmap('images/upload/Meat_2017.jpg', 'Meat & Poultry Edition', '6 October 2017', 'roadmap/2017/meat_oct.html')
                +roadmap('images/upload/Chill_2017.jpg', 'Chilled & Frozen Products Edition', '7 July 2017', 'roadmap/2017/chilled_jul.html')
                +roadmap('images/upload/Functional_2017.jpg', 'Functional F&B Edition', '24 March 2017', 'roadmap/2017/functional_mar.html')
              .inner#2016
                +roadmap('images/upload/Meat_2016.jpg', 'Meat & Poultry Edition', '14 October 2016', 'roadmap/2016/meat_oct.html')
                +roadmap('images/upload/Drink_2016.jpg', 'Drinking Edition', '26 August 2016', 'roadmap/2016/drinking_aug.html')
                +roadmap('images/upload/Chill_2016.jpg', 'Chilled & Frozen Products Edition', '8 July 2016', 'roadmap/2016/chilled_jul.html')
                +roadmap('images/upload/NPI_2016.jpg', 'New Product Ideas Edition', '18 March 2016', 'roadmap/2016/npi_mar.html')
              .inner#2015
                +roadmap('images/upload/Drink_2015.jpg', 'Drinking Edition', '30 October 2015', 'roadmap/2015/drinking_oct.html')
                +roadmap('images/upload/Chill_2015.jpg', 'Chilled & Frozen Products Edition', '28 August 2015', 'roadmap/2015/chilled_aug.html')
                +roadmap('images/upload/Retail_2015.jpg', 'F&B Retail Edition', '24 July 2015', 'roadmap/2015/retail_jul.html')
                +roadmap('images/upload/Meat_2015.jpg', 'Meat & Poultry Edition', '29 May 2015', 'roadmap/2015/meat_may.html')
                +roadmap('images/upload/New_Idea_2015.jpg', 'New Product Ideas Edition', '20 March 2015', 'roadmap/2015/npi_mar.html')
                

                    