extends layouts/layout

block vars
  -title = 'Roadshow'
  -bodyClass = ''


block container
  section.banner-wrap
    +banner(undefined,'FOOD FOCUS ROADSHOW')
  .wrapper.pad-bot-lg
    .inner-container
      .row-centered
        .col-sm-12
          section.default-tab(data-tab)
            .row(data-tab-header)
              +link('','#2018').active.col 
                h3.title-primary.light 2018
            section(data-tab-content)
              .inner#2018.active
                +roadmap('/images/upload/1_korat.jpg', 'Nakhon Ratchasima (Korat)', '9 February 2018')
                +roadmap('/images/upload/2_songkla.jpg', 'Songkla (Hatyai)', '5 April 2018')
                +roadmap('/images/upload/3_ayudhaya.jpg', 'Ayutthaya', '29 June 2018')
                +roadmap('/images/upload/4_chonburi.jpg', 'Chonburi', '18 July 2018')
                +roadmap('/images/upload/5_samutsakhon.jpg', 'Samut Sakhon', '18 September 2018')
                +roadmap('/images/upload/6_chiangmai.jpg', 'Chiangmai', '18 September 2018')
                

                    