extends layouts/layout

block vars
  -title = 'Services'
  -bodyClass = ''


block container
  section.banner-wrap
    +banner('images/upload/magazine-bg.jpeg', 'SERVICES', 'With more than 10 years of experience, we can help you create a variety of promotional materials to deliver your message to the public. จากความเชี่ยวชาญในด้านสื่อสิ่งพิมพ์มามากกว่า 10 ปี เราจึงสามารถให้บริการงานด้านสื่อสิ่งพิมพ์หลากหลายรูปแบบ เพื่อเผยแพร่และประชาสัมพันธ์สิ่งที่คุณต้องการสื่อสารความเป็นองค์กรของคุณออกไปในวงกว้าง')
  .wrapper.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-sm-12
          h2.title.light.mar-bot SERVICES
        .col-sm-12
          section.services-tab(data-tab)
            .row(data-tab-header, data-activeByHash="true")
              +link('','#publication').col.active
                h3.title-2.light CONTRACT PUBLICATION
              +link('','#annual-report').col
                h3.title-2.light ANNIVERSARY AND ANNUAL REPORT
              +link('','#catalog').col
                h3.title-2.light COMPANY PROFILE AND PRODUCT CATALOG
              +link('','#event').col
                h3.title-2.light EVENT ORGANIZER
            section(data-tab-content).mar-top
              .inner#publication.active
                .col-sm-6.col-md-4
                  +product-2('images/upload/3M.jpg','3M').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/GS1_1.jpg','GS1 Newsletter').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/Horeca_1.jpg','Horeca').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/เกษตรอภิรมย์_1.jpg','เกษตรอภิรมย์').mar-top
              .inner#annual-report
                .col-sm-6.col-md-4
                  +product-2('images/upload/Mama_1.jpg','Magazine Name').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/สมาคมวิทย์_1.jpg','Magazine Name').mar-top
              .inner#catalog
                .col-sm-6.col-md-4
                  +product-2('images/upload/3M_1.jpg','3M').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/949_1.jpg','Fibergrate').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/advan_1.jpg','Advance Pharma').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/Better_Pack_1.jpg','Better Pack Co., Ltd.').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/diver_1.jpg','Diversey').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/forefront_1.jpg','Forefront Food Tech').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/harn_1.jpg','Magazine Name').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/metrohm_1.jpg','Magazine Name').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/qiis_1.jpg','Magazine Name').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/ไก่_1.jpg','Magazine Name').mar-top
              .inner#event
                .col-sm-6.col-md-4
                  +product-2('images/upload/book-2.jpg','Magazine Name').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/book-1.jpg','Magazine Name').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/book-4.jpg','Magazine Name').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/book-5.jpg','Magazine Name').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/book-2.jpg','Magazine Name').mar-top
                .col-sm-6.col-md-4
                  +product-2('images/upload/book-6.jpg','Magazine Name').mar-top

                            
       