extends layouts/layout

block vars
  -title = 'Services'
  -bodyClass = ''


block container
  section.banner-wrap
    +banner()
  .wrapper.pad-top-lg.pad-bot-lg
    .inner-container
      .row
        .col-sm-12
          h2.title.light.mar-bot SERVICES
        .col-sm-12
          section(data-tab)
            ul.center.services(data-tab-header)
              li: +link('CONTRACT PUBLICATION','#publication').active.title-2.light
              li: +link('ANNIVERSARY AND ANNUAL REPORT','#annual-report').title-2.light
              li: +link('COMPANY PROFILE AND PRODUCT CATALOG','#catalog').title-2.light
              li: +link('EVENT ORGANIZER','#event').title-2.light
            section(data-tab-content)
              .inner#publication.active
                .col-sm-6.col-md-4
                  +roadmap()
                .col-sm-6.col-md-4
                  +roadmap()
                .col-sm-6.col-md-4
                  +roadmap()
              .inner#annual-report
                .col-sm-6.col-md-4
                  +roadmap('images/upload/thumb-2.jpg')
                .col-sm-6.col-md-4
                  +roadmap('images/upload/thumb-2.jpg')
                .col-sm-6.col-md-4
                  +roadmap('images/upload/thumb-2.jpg')
              .inner#catalog
                .col-sm-6.col-md-4
                  +roadmap()
                .col-sm-6.col-md-4
                  +roadmap()
                .col-sm-6.col-md-4
                  +roadmap()
              .inner#event
                .col-sm-6.col-md-4
                  +roadmap('images/upload/thumb-2.jpg')
                .col-sm-6.col-md-4
                  +roadmap('images/upload/thumb-2.jpg')
                .col-sm-6.col-md-4
                  +roadmap('images/upload/thumb-2.jpg')

                    